@mixin linear-garident( $direction, $color_one, $color_two ) {
	
	$direction_for_linear_garident: to bottom;
	
	@if $direction == top { 
		$direction_for_linear_garident: $direction_for_linear_garident;
	}
	@if $direction == bottom { 
		$direction_for_linear_garident: to top; 
	}

	background: $color_one;
    background: -moz-linear-gradient(   $direction,  $color_one 0%, $color_two 100%);
    background: -webkit-linear-gradient($direction,  $color_one 0%, $color_two 100%);
    background: -o-linear-gradient(     $direction,  $color_one 0%, $color_two 100%);
    background: -ms-linear-gradient(    $direction,  $color_one 0%, $color_two 100%);
    background: linear-gradient(        $direction,  $color_one 0%, $color_two 100%);
}