@mixin width-model($width, $margin_or_padding: padding ) { 
	
	@if not ($margin_or_padding == padding or $margin_or_padding == margin ) {
		@warn "The second paramater can only be a margin or padding";
	}
	@else { 

		width: $width;
		
		@if ( $margin_or_padding == padding ) {
			padding : 0 ( 100% - $width ) / 2;
		}
		@else { 
			margin : 0 ( 100% - $width ) / 2;
		}
	}
}