.bar_outer_wrap {

	width: 100%;
	float: left;
	background: $light; 
	z-index: 1;
	position: relative;
	@include box-shadow(1px, 2px, 5px, 0, rgba(0,0,0, 0.1));
}

.bar {

	width: $the_bar_width;
	margin: 0 auto;
	height: $bar_height;
	@include pie-clearfix;
}

.bar_wrap_inner_wrap { 
	
	width: 100%;
	float: left;
	background: $light; 
}

.logo_for_bar { 
	
	$margin: 0px;

	width:  $bar_height - 10px;
	height: $bar_height;
	margin: $margin 0;
	float: left;
	background: $green;	
	cursor: pointer;
}

.with-icon-logo { 
	
	&:before { 
		cursor: pointer;
		position: relative;
		top: (( $bar_height - 30px ) /2);
		left: 10px;
		font-size: 30px;
		color: $light;
		content:"R";
	}
}

.navigation_wrap {
	
	float: left;
	width: 50%;
	height: $bar_height;
	overflow: hidden;
}

.navigation_inner_wrap { 
	
	position: relative;
	float: left;
}

@import "progress.icons";

@import "progress.popup";

@import "progress.popup.welcome";

@import "user.popup";

@import "bar.navigation.scss";

@import "bar.search.scss";

@import "bar.user.scss";