.bar {

	background: $light;
	@include width-model(76%);
	height: $bar_height;
	float: left;
}

.logo_for_bar { 
	
	$margin: 0px;

	width:  $bar_height - 10px;
	height: $bar_height;
	margin: $margin 0;
	float: left;
	background: $green;	
}

.with-icon-logo { 

	&:before { 
		cursor: default;
		position: relative;
		top: (( $bar_height - 30px ) /2);
		left: 10px;
		font-size: 30px;
		color: $light;
		content:"R";
	}
}

@import "progress.icons";

@import "progress.popup";

@import "progress.popup.welcome";

@import "user.popup";

@import "bar.navigation.scss";

@import "bar.search.scss";

@import "bar.user.scss";