.navigation {
	
	width: 100%;
	clear: both;
	float: left;
}

.navigation_text_for_bar { 
	$font_size: 12px;
		
	float: left;
	width: 110px;
	text-align: center; 
	display: inline-block;
	text-transform: Uppercase;
	color: $darkest_gray;
	padding: (($bar_height - $font_size )/2) 1.25%;
	font-size: $font_size;
	font-family: MotorOil;
	cursor: pointer;	
	
	&:hover {
		
		color: $black_gray;
	}
}

.with-icon-for-navigation-text-for-bar-active { 

	@extend .navigation_text_for_bar;
	$font_size: 12px;
	border-top: 5px solid $green;
	color: $black_gray; 
	padding: ((($bar_height - $font_size )/2)- 5) 1.25% (($bar_height - $font_size )/2);
	
	&:hover {
		
		color: $darkest_gray;
	}

	&:before {
		
		position: absolute;
		margin: 12px 0 0 25px;
		font-size: 22px; 	
		content:"u";
		color: $light_gray; 
		text-transform: lowercase;
	}
}