$input_margin_size: 10px;
$input_bar_size: $bar_height - ($input_margin_size * 2 ); 

.input_for_bar { 
	
	background: $light; 
	height: $input_bar_size;
	width: 26%; 
	margin: $input_margin_size 0 6px;
	float: right;
	border-radius: 20px;
	@include box-shadow( 1px, 1px, 3px, 0px, rgba(110,110,110, 0.1) );
}

.field_for_input { 

	height: $input_bar_size;
	border-radius: $input_bar_size;
	background: $dark_gray; 
	width: 90%;	
	padding: 0 5%;
	float: left;
}

.input_block_for_search {
	
	$input_block_margin: 5px;

	@include reset-input; 
	margin: $input_block_margin 0px;
	width: 100%;
	height: $input_bar_size - ($input_block_margin * 2 );
	font-size: 11px;
	padding: 0px;
	line-height: $input_bar_size - ($input_block_margin * 2 );
	color: $black_gray;
	
	&:focus { 
		color: $black_gray;		
	}
}

.button_for_input { 

	@include circle($input_bar_size);
	top: -$input_bar_size;
	position: relative;
	cursor: pointer;
	margin: 0;
	background: $light_blue;
	float: right;
}

.with-icon-search { 

	&:before { 
		
		position: relative;
		top: 8px;
		left: 9px;
		font-size: 14px; 
		content: "S";
		color: $light;
	}
}