.bar {

	background: $light;
	@include width-model(76%);
	height: $bar_height;
	float: left;
}

.logo_for_bar { 
	
	$margin: 0px;

	width:  $bar_height - 18px;
	height: $bar_height;
	margin: $margin 0;
	float: left;
	background: $green;	
}

.with-icon-logo { 

	&:before { 
		cursor: default;
		position: relative;
		top: (( $bar_height - 30px ) /2);
		left: 10px;
		font-size: 30px;
		color: $light;
		content:"R";
	}
}

@import "progress.icons";

@import "progress.popup";

@import "progress.popup.welcome";

@import "user.popup";

.navigation_text_for_bar { 
	$font_size: 12px;
	
	float: left;
	display: inline-block;
	text-transform: Uppercase;
	color: $darkest_gray;
	padding: (($bar_height - $font_size )/2) 1.25%;
	font-size: $font_size;
	font-family: MotorOil;
	cursor: pointer;
	&:hover {
		
		color: $black_gray;
	}
}

$input_margin_size: 12px;
$input_bar_size: $bar_height - ($input_margin_size * 2 ); 

.input_for_bar { 
	
	background: $light; 
	height: $input_bar_size;
	width: 26%; 
	margin: $input_margin_size 0 6px;
	float: right;
	border-radius: 20px;
	@include box-shadow( 1px, 1px, 3px, 0px, rgba(110,110,110, 0.1) );
}

.field_for_input { 

	height: $input_bar_size;
	border-radius: $input_bar_size;
	background: $dark_gray; 
	width: 90%;	
	padding: 0 5%;
	float: left;
}

.input_block_for_search {
	
	$input_block_margin: 5px;

	@include reset-input; 
	margin: $input_block_margin 0px;
	width: 100%;
	height: $input_bar_size - ($input_block_margin * 2 );
	font-size: 11px;
	padding: 0px;
	line-height: $input_bar_size - ($input_block_margin * 2 );
	color: $light_gray;
	
	&:focus { 
		color: $black_gray;		
	}
}

.button_for_input { 

	@include circle($input_bar_size);
	top: -$input_bar_size;
	position: relative;
	cursor: pointer;
	margin: 0;
	background: $light_blue;
	float: right;
}

.with-icon-search { 

	&:before { 
		
		position: relative;
		top: 9px;
		left: 10px;
		font-size: 14px; 
		content: "S";
		color: $light;
	}
}

.button_for_user { 

	@include circle($input_bar_size);
	cursor: pointer;
	margin: $input_margin_size 6px 0;
	background: $dark_blue;
	float: right;
}

.with-icon-user { 

	&:before { 
		
		position: relative;
		top: 8px;
		left: 11px;
		font-size: 18px; 
		content: "U";
		color: $light;
	}
}

.with-icon-user-arrow { 

	&:before { 
		position: relative;
		top: 25px;
		left: -5px;		
		font-size: 7px;
		color: $middle_gray;  
		content:"d";
	}
}