.placeholder { 
	display: none;
	width: 100%;
	float: left;
	height: 280px;
}

.homepage_blue_bar { 
	width: 100%;
	background: $light_blue;
	float: left;
	height: 28px;
	position: relative;
	z-index: -1;
	@include box-shadow(1px, 2px, 2px, 0px, rgba(0,0,0, 0.1));
}

.homepage_bottom_navigation_wrap {
	width: 98%;
	padding: 15px 1% 25px;
	float: left;
	color: $darkest_gray;
	text-transfrom: uppercase;
	font-size: 14px;
	line-height: 14px;
	background: $light;
	position: relative;
	z-index: -2;
}

.homepage_bottom_navigation {	
	width: $the_width;
	margin: 0 auto;
}


.homepage_bottom_navigation_button {
	display: inline;
	float: left;
	padding: 5px 15px;
	border-right: 1px solid $darkest_gray;
	cursor: pointer;

	&:hover { 
		color: $black_gray;	
	}
}

@import "bottom_bar.copyright";