$bus_left_width: 520px;

.bus {
	width: $the_width;
	margin: 0 auto;
} 

.bus_image {
	width: 100%;
	height: auto;
	margin-bottom: 30px;
	float: left;
} 

.bus_left_split {
	width: 520px;
	float: left;
	display: inline-block;
} 

.bus_right_split {
	width: 930px - ( 520px + 20px );
	margin-left: 20px;
	display: inline-block;
	float: left;
} 

.bus_dates {
	width: 100%;
	float: left;
} 

.bus_bar {
	background: $light_blue;
	padding: 10px 2%;
	float: left;
	width: 96%;
	@include border-radius(5px 5px 0 0);
} 

.bus_search {
	width: 65%;
	padding: 0 3% 0 0;
	float: left;
	background: $light_gray; 
	display: inline-block;
	@include border-radius(25px);
	@include box-shadow( -1px, 1px, 1px, 1px, rgba(0,0,0, 0.1), inset);	
} 

.with-icon-for-bus-dates-search {
	float: left;
	display: inline-block;
	width: 8%;
	color: $black_gray;
	cursor: pointer;
	height: 40px;
	padding-left: 5%;
	&:hover { 
		color: darken($black_gray, 10%);
	}
	&:before { 
		position: relative;
		top: 12px;
		content:"S";
	}
} 

.bus_search_input {
	@include reset-input;
	color: $black_gray;
	float: left;
	width: 80%;
	padding: 12px 5% 12px 0;
} 

.bus_body {
	width: $bus_left_width - 32px;
	padding: 15px;
	float: left;
	background: $light;
	border-bottom: 1px solid $middle_monochrome;
	border-left: 1px solid $middle_monochrome;
	border-right: 1px solid $middle_monochrome;

} 

.bus_body_wrap {
	width: 100%;
	min-height: 100px;
	padding: 0;
	@include border-radius(10px);
	float: left;
	background: $light_monochrome;
	@include box-shadow( 1px, 1px, 1px, 0px, rgba(0,0,0, 0.1), inset);	
} 

.bus_date {
	width: 96%;
	float: left;
	padding: 10px 2%;
	margin-top: 5px;
	margin-bottom: 5px;
	color: $black_gray;
	font-size: 14px;
	line-height: 14px;
	@include transition;
	&:hover { 
		@include transition;
		background: rgba(255,255,255,0.5);
	}
} 

.bus_date_place {
	display: inline;
	float: left;
	width: 65%;
} 

.bus_date_date {
	display: inline;
	float: left;
	width: 30%;
} 

.bus_date_mark {
	display: inline;
	float: left;
	width: 5%;
} 

.bus_twitter {
	width: 100%;
	float: left;
	margin: 20px 0 20px;
} 


.bus_map {
	
} 

.bus_signup {
	width: 100%;
	float: left;
} 

.bus_signup_bar {
	@extend.bus_bar;
	padding: 23px 2%;
	color: $light;
	font-family: MotorOil;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 14px;
	text-align: center;
} 

.bus_signup_body {
	width: 930px - ( 520px + 82px );
	float: left;
	padding: 20px 30px;
	background: $light;
	border-bottom: 1px solid $middle_monochrome;
	border-left: 1px solid $middle_monochrome;
	border-right: 1px solid $middle_monochrome;
} 

.bus_signup_text {
	float: left;
	width: 100%;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 18px;
	color: $black_gray;
	text-align: center;
} 

.bus_signup_input {
	@include reset-input;
	@include border-radius(25px);
	background: $dark_gray;
	width: 95%;
	padding: 10px 2.5%;
	margin: 10px 0 0; 
	@include box-shadow(-1px, 1px, 1px, 0px, rgba(0,0,0, 0.2), inset);
	color: $darkest_gray;
	&:focus { 
		@include box-shadow(-2px, 2px, 1px, 0px, rgba(0,0,0, 0.2), inset);
	}
} 

.bus_signup_submit {
	margin: 20px 12.5% 0;
	width: 65%;
	cursor: pointer;
	padding: 15px 5%;
	font-size: 14px;
	line-height: 14px;
	color: $light;
	font-weight: bold;
	background: $green;
	text-transform: uppercase;
	text-align: center;
	@include border-radius(5px);
	@include transition;
	&:hover {
		@include transition;
		background: darken($green, 5%);
	}
} 
