.address_overview_wrap_outer {

	@extend .basket_overview_outer_wrap;
	width: 50%; 
	margin-right: 0;
}

.address_overview_wrap {

	@extend .basket_overview_wrap;
}

.address_overview_title {
	
	@extend .basket_overview_title;
}

.address_overview_inputs {
	
	width: 100%;
	float: left;
}

.address_overview_input {
	
	@extend .field_box_input;
}

.address_overview_input_small {
	
	@extend .address_overview_input;
	width: 50%;
}

.address_overview_edit {
	
	@extend .basket_overview_edit_button;
	margin: 15px 20px 25px;
}	