.basket_overview_outer_wrap {
	
	width: 48%;
	float: left;
	display: inline-block;
	background: $light;	 
	margin-right: 2%;
}

.basket_overview_wrap {
	
	@extend .field_box_wrap;
	width: 94%;
	padding: 15px 3% 5px;
	display: inline-block;
	float: left;
	margin: 0 0 5px 0;
}

.confirmation_overview_inner_wrap { 
	
	background: $light;
	float: left;
	width: 100%; 
}

.basket_overview_title {
	
	@extend .field_box_title;
	width: 100%;
	padding-bottom: 10px;
	margin: 10px 0 15px;
	border-bottom: 1px solid $middle_gray; 
}

.basket_overview_bar {
	
	width: 7%;
	display: inline-block;
	float: left;
	height: 100%;
}

.basket_overview_bar_block {
	
	background: $dark_gray;
	height: 10px; 
}

.basket_overview_items {
	
	display: inline-block;
	float: left;
	width: 93%;
	height: 228px;
}

.basket_overview_item {
	
	background: $light_gray;
	margin-bottom: 10px;
	float: left;
	width: 97%;
	padding: 10px 1.5%; 
}

.basket_overview_item_thumbnail {
	
	width: 17%;
	float: left;
	display: inline;
}

.basket_overview_item_text_wrap {

	width: 54%;
	float: left;
	margin-left: 4%; 
	display: inline;
}

.basket_overview_item_text_title {
	
	font-size: 18px;
	font-weight: bold; 
	color: $black_gray; 
	width: 100%;
	float: left;
	margin-bottom: 7px;
}

.basket_overview_item_text_author {
	
	width: 100%;
	float: left;
	font-size: 12px; 
	margin-bottom: 20px; 
	color: $black_gray; 
}

.basket_overview_item_isbn {

	color: $black_gray; 
	font-size: 12px; 
}

.basket_overview_item_isbn_highlight {
	
	text-transform: uppercase;
	font-weight: bold; 
}

.basket_overview_item_price_wrap {
	
	width: 20%;
	margin-top: 20px;
	float: left;
	display: inline;
	color: $black_gray;
	text-align: center;
}

.basket_overview_item_price_text {
	
	margin-bottom: 5px;
	text-transform: lowercase;
}

.basket_overview_item_price {
	
	clear: both;
	font-weight: bold;
}

.basket_overview_total_wrap {
	
	display: inline;
	float: right;
	margin: 0 0 10px 0;
	padding: 12px 3% 11px 0;
	margin-right: 3%;
	font-size: 14px;
	text-align: right;
	font-weight: bold;
	border-top: 1px solid $darkest_gray;
	border-bottom: 1px solid $darkest_gray;
	color: $black_gray; 
}

.basket_overview_total_text {
		
	display: inline;
	margin-right: 5px; 
	float: right;
}

.basket_overview_total {
	display: inline;
	float: right;
}

.basket_overview_edit_button {

	float: left;
	display: inline;
	float: left;
	width: 20%;
	text-align: center;
	padding: 13px 3%;
	font-size: 12px; 
	background: $light_blue; 
	color: $dark_blue;
	font-family: MotorOil;
	text-transform: uppercase;
	cursor: pointer;
	margin: 0 0 0 10px;
	@include transition;
	
	&:hover { 
		
		background: darken($light_blue, 10%);
		@include transition;	
	}
}