.basket_overview_total_wrap {
	
	display: inline;
	float: right;
	margin: 15px 10px;
	padding: 12px 3% 12px 0;
	margin-right: 3%;
	font-size: 14px;
	text-align: right;
	font-weight: bold;
	border-top: 1px solid $middle_gray;
	border-bottom: 1px solid $middle_gray;
	color: $black_gray; 
}

.basket_overview_total_text {
		
	display: inline;
	margin-right: 5px; 
	float: right;
}

.basket_overview_total {
	display: inline;
	float: right;
}

.basket_overview_edit_button {

	float: left;
	display: inline;
	float: left;
	width: 20%;
	text-align: center;
	padding: 13px 3%;
	font-size: 12px; 
	background: $light_blue; 
	color: $dark_blue;
	font-family: MotorOil;
	text-transform: uppercase;
	cursor: pointer;
	margin: 15px 0 15px 4%;
	@include transition;
	
	&:hover { 
		
		background: darken($light_blue, 10%);
		@include transition;	
	}
}