.basket_overview_outer_wrap {
	
	width: 48%;
	float: left;
	display: inline-block;
	background: $light;	 
	margin-right: 2%;
}

.basket_overview_wrap {
	
	@extend .field_box_wrap;
	width: 94%;
	padding: 15px 3% 5px;
	display: inline-block;
	float: left;
	margin: 0;
}

.confirmation_overview_inner_wrap { 
	
	background: $light;
	float: left;
	width: 100%; 
}

.basket_overview_title {
	
	@extend .field_box_title;
	width: 100%;
	padding-bottom: 10px;
	margin: 10px 0 15px;
	border-bottom: 1px solid $middle_gray; 
}

$confirm_item_wrap_height: 180px;

@import "checkout.basket.item";

@import "checkout.basket.total";

@import "checkout.basket.bar";