.basket_overview_bar {
	width: 15px;
	display: inline-block;
	float: left;
	height: $confirm_item_wrap_height;
	background: $light_monochrome;
}

.basket_overview_bar_block {
	position: relative;
	background: $dark_blue;
	height: 20px;
	@include border-radius(25px);
}