.basket_overview_items {
	
	display: inline-block;
	float: left;
	width: 93%;
	overflow: hidden;
	height: $confirm_item_wrap_height;
	border-top: 1px solid $middle_gray;
	border-bottom: 1px solid $middle_gray;
}

.basket_overview_item {
	
	background: $light_gray;
	float: left;
	width: 95%;
	padding: 10px 1.5%; 
	margin: 10px 2% 0 0;
}

.basket_overview_item_thumbnail {
	
	width: 17%;
	float: left;
	display: inline;
}

.basket_overview_item_text_wrap {

	width: 54%;
	float: left;
	margin-left: 4%; 
	display: inline;
}

.basket_overview_item_text_title {
	
	font-size: 14px;
	font-weight: bold; 
	color: $black_gray; 
	width: 100%;
	float: left;
	margin-bottom: 7px;
}

.basket_overview_item_text_author {
	
	width: 100%;
	float: left;
	font-size: 12px; 
	margin-bottom: 20px; 
	color: $black_gray; 
	&:before { 
		content:"by ";
	}
}

.basket_overview_item_isbn {

	color: $black_gray; 
	font-size: 12px; 
	&:before { 
		font-weight: bold;
		content:"ISBN:";
	}
}

.basket_overview_item_isbn_highlight {
	
	text-transform: uppercase;
	font-weight: bold; 
}

.basket_overview_item_price_wrap {
	
	width: 20%;
	margin-top: 20px;
	float: left;
	display: inline;
	color: $black_gray;
	text-align: center;
}

.basket_overview_item_price_text {
	
	margin-bottom: 5px;
	text-transform: lowercase;
}

.basket_overview_item_price {
	
	clear: both;
	font-weight: bold;
	&:before { 
		content:"£";
	}
}

.with-icon-x-for-overview-item {
	
	position: absolute;
	margin-top: -5px;
	margin-left: 350px;
	display: none;
	float: right;
	font-size: 22px; 
	color: $green; 
	cursor: pointer;
	&:before { 
		content: "x";
	}
}