.header {

	width:inherit;
	float: left;
	height: 300px;  
	background: $light_blue;
}

.header_image {
	
	float: right;
}

.header_wrap {
	
	position: absolute;
	@include width-model(70%);
}

.with-icon-header-text-box-arrow { 

	&:before { 
		float: right;
		position: absolute;
		margin-top: -43px;
		margin-left: 31.2%;
		font-size: 50px; 
		color: $light; 
		z-index:1;
		content:"+";
	}
}

.header_text_box {
	
	background: $light;
	float: right;
	width: 41%;
	padding: 30px 4%;
	margin: 20px 19% 0 0;
	@include border-radius(5px);
	@include box-shadow( -1px, 1px, 5px, 1px, rgba(0,0,0, 0.1));
}

.header_text_box_title {
	
	width: 100%;
	text-align: center;
	color: $green;
	font-family: 'Vieira';
	font-size: 38px; 
	line-height: 44px 
}

.header_text_box_title_highlight {
	
	color: darken($green, 15%); 
}

.header_text_box_text {
	
	font-size: 12px;
	float: left;
	margin: 20px 0 10px;
	width: 100%;
	text-align: center;
	color: $black_gray;  
}

.header_text_box_input {
	
	width: 90%;
	padding: 5px 5%;
	float: left;
	background: $light_gray; 
	@include border-radius(25px);
	@include box-shadow( -1px, 1px, 5px, 1px, rgba(0,0,0, 0.1), inset);	
}

.header_input_block_for_search { 
	
	$size: 16px;
	@include reset-input;	
	font-family: Tahoma; 
	float: left;
	width: 90%;
	padding: 0;
	margin: ( 32px - $size )/2 0;
	font-size: $size;
	line-height: $size;  
	color: $black_gray; 
	text-align: center;
}

.header_button_for_input {

	width: 10%;
	height: 16px;
	cursor: pointer;
	margin: (37px - 16 )/2 0;
	display: inline;
	float: left;
	text-align: center;	
}

.with-icon-header-search {

	&:before {

		font-size: 16px;
		line-height: 16px;  
		color: $black_gray; 
		content:"S";
	}
}



.header_invisible_box {
	
	display: inline-block;
	float: left;
	width: 30%;
	margin-top: 20px;
}

.header_invisible_box_title_wrap {
	
}

.header_invisible_box_title_logo {
	
	width: 55px;
	height: 55px;
	background: $green; 
	display: inline-block;
	float: left;
}

.with-icon-invisible-title-logo {

	&:before {
		position: relative;
		top: 5px;
		left: 12px;
		font-size: 40px;
		color: $light; 
		content:"R";
	}
}

.header_invisible_box_title {
	
	float: left;
	font-family: MotorOil;
	font-size: 22px;
	margin-left: 10px; 
	color: $dark_blue;
	text-transform: uppercase;   
}

.header_invisible_box_text_wrap {
	
	clear: both;
	float: left;
	margin-top: 10px;
	color: $light; 
}

.header_invisible_box_text_title {

	font-family: MotorOil;
	font-size: 20px;
	text-transform: uppercase;  
}

.header_invisible_box_text {
	
	font-size: 13px; 
	line-height: 22px; 
}

.with-icon-down-arrow {
	
	clear: both;
	float: right;
	margin-right: 20px; 
	
	&:before { 
		
		font-size: 45px; 
		color: $light; 
		content:"-";
	}
}