.header_text_box {
	
	background: $light;
	display: inline-block;
	float: left;
	width: 44%;
	padding: 35px 4%;
	margin: $header_text_boxes_top_margin 0 0 0;
	@include border-radius(5px);
	@include box-shadow( -1px, 1px, 5px, 1px, rgba(0,0,0, 0.1));
}

.with-icon-header-text-box-arrow { 
	$arrow_size: 30px;

	width: 1px;
	float: left;
	display: inline-block;
	height: 1px;
	// background: $dark_gray;
	margin-top: 30px;
	margin-left: -11px;
	border-top:    0px solid transparent;
	border-bottom: $arrow_size solid transparent;
	border-right:  0px solid transparent;
	border-left:   $arrow_size solid $light;
	@include rotate(-28);
}

.header_text_box_title {
	
	width: 100%;
	text-align: center;
	color: $green;
	font-family: 'Vieira';
	text-transform: uppercase;
	font-size: 28px; 
	line-height: 30px 
}

.header_text_box_title_highlight {
	
	color: darken($green, 15%); 
}

.header_text_box_text {
	
	font-size: 12px;
	float: left;
	margin: 30px 0 10px;
	width: 100%;
	text-align: center;
	color: $darkest_gray;  
}

.header_text_box_input {
	
	width: 90%;
	padding: 0 0 0 5%;
	float: left;
	background: $light_gray; 
	margin-top: 35px;
	@include border-radius(25px);
	@include box-shadow( -1px, 1px, 5px, 1px, rgba(0,0,0, 0.1), inset);	
}

.header_input_block_for_search { 
	
	$size: 16px;
	@include reset-input;
	font-family: Tahoma; 
	float: left;
	width: 85%;
	padding: 0;
	margin: (( 32px - $size )/2)+ 5 0;
	font-size: $size;
	line-height: $size;
	color: $black_gray;
}

.header_button_for_input {

	width: 10%;
	height: 16px;
	cursor: pointer;
	margin: (37px - 16 )/2 0;
	display: inline;
	float: left;
	text-align: center;	
}

.with-icon-header-search {
	$padding_top: ((37px - 16 )/2)+ 5;
	width: 10%;
	height: 16px;
	cursor: pointer; 
	padding: $padding_top 3.5% $padding_top 1.5%;
	display: inline;
	float: left;
	text-align: center;
	background: $light; 
	@include border-radius(0 25px 25px 0);
	@include box-shadow(1px, 1px, 5px, 0px, rgba(0,0,0, 0.1));

	&:before {

		font-size: 16px;
		line-height: 16px;  
		color: $darkest_gray; 
		content:"S";
	}

	&:hover {

		&:before {
			
			color: lighten($black_gray, 10%); 
		}
	}

	&:active { 
		@include box-shadow(1px, 1px, 5px, 0px, rgba(138,138,138, 0.1));	
	}
}