.header {

	width:inherit;
	float: left;
	height: 290px;  
	background: $light_blue;	
	z-index: 0;
}

.header_image_wrap { 
	float: right;
	position: absolute;
	left: 60%;
	z-index: 0;
	height: 290px;
	overflow: hidden;
}

.header_image {
	height: 390px;
}

.header_wrap {
	
	width: 940px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}

$header_text_boxes_top_margin: 40px;

@import "header.text_box";

@import "header.invisible_box";