.header_invisible_box {
	
	display: inline-block;
	float: left;
	width: 26.5%;
	margin: 20px 1% 0 0;
}

.header_invisible_box_title_wrap {}

.header_invisible_box_title_logo {
	
	width: 50px;
	height: 50px;
	background: $green; 
	display: inline-block;
	float: left;
}

.with-icon-invisible-title-logo {

	&:before {
		position: relative;
		top: 6px;
		left: 12px;
		font-size: 35px;
		color: $light; 
		content:"R";
	}
}

.header_invisible_box_title {
	
	float: left;
	font-family: MotorOil;
	font-size: 22px;
	margin: 5px 0 0 10px;
	color: $dark_blue;
	text-transform: uppercase;   
	letter-spacing: 1px;
}

.header_invisible_box_text_wrap {
	
	clear: both;
	float: left;
	margin-top: 15px;
	color: $light; 
}

.header_invisible_box_text_title {

	font-family: MotorOil;
	font-size: 18px;
	margin-right: 5px;
	text-transform: uppercase;  
	text-align: right;
}

.header_invisible_box_text {
	
	font-size: 15px; 
	line-height: 19px;
	text-align: justify; 
	margin: 5px 5px 0 0;
}

.with-icon-down-arrow {
	
	clear: both;
	float: right;
	margin-right: 20px; 
	
	&:before { 
		
		position: relative;
		top: -11px;
		font-size: 60px;
		color: $light; 
		content:"-";
	}
}