.header {

	width:inherit;
	float: left;
	height: 290px;  
	background: $light_blue;	
	z-index: 0;
}

.header_image {
	
	float: right;
	position: absolute;
	height: 290px;
	left: 65%;
	z-index: 0;
}

.header_wrap {
	
	width: 940px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}

@import "header.text_box";

@import "header.invisible_box";