.homepage_body_wrap { 
		
	display: block;
	margin: 0 auto;
	width: $the_width; 
	background: $light_gray; 
}

.homepage_body_inner_wrap {

	float: left;
}

@import "homepage.extra_box";
@import "homepage.how_it_works_boxes";
@import "homepage.recyclabus";