.homepage_how_it_works_option_title_wrap {
	
	width: 95%;
	float: left;
	padding: 0 2.5%;
	margin-bottom: 10px; 
}

.homepage_how_it_works_option_title_scrible {
	
	font-family: HandWritten;
	color: $darkest_gray; 
	margin: 0 0 8px -11px;
	@include rotate(-5); 
	float: left;   
} 

.homepage_how_it_works_option_title {
	
	clear: both;
	float: left;
	font-family: MotorOil;
	text-transform: uppercase;
	font-size: 26px;
	line-height: 26px;
} 

.homepage_how_it_works_option_title_part_one {
	color: $light_blue;
} 

.homepage_how_it_works_option_title_part_two {
	margin-left: -5px; 
	color: $dark_blue;
} 

.homepage_how_it_works_boxes_wrap {
	
	width: 100%;
	float: left;
}

$homepage_how_it_works_box_wrap_size: 170px;

.homepage_how_it_works_box_wrap {

	float: left;
	display: inline-block;
	margin-right: 3%;
	width: 31.33%;
}

.homepage_how_it_works_box_wrap_last {

	@extend .homepage_how_it_works_box_wrap;
	margin-right: 0%;
}

.with-icon-homepage-how-it-works-box-number-one {
	
	&:before { 
		position: relative;
		left: 5px; 
		font-size: 34px; 
		color: $light; 
		content: "[";
	}
}

.with-icon-homepage-how-it-works-box-number-two {
	
	@extend .with-icon-homepage-how-it-works-box-number-one;
	&:before {  
		content: "{";
		font-size: 33px; 
	}
}

.with-icon-homepage-how-it-works-box-number-three {
	
	@extend .with-icon-homepage-how-it-works-box-number-one;
	&:before {  
		content: "(";
		font-size: 35px; 
	}
}

.homepage_how_it_works_box {
	
	background: $light_blue; 
	display: inline-block;
	float: left; 
	width: 100%;
	height: $homepage_how_it_works_box_wrap_size;
}

.homepage_how_it_works_box_text_wrap {
	
	position: relative; 
	float: left;
	left: 6.5%; 
	display: inline-block;
	color: $dark_blue;
	letter-spacing: 1px;
	width: 45%;
	
	@media (max-device-width: 1290px) {
		width: 42%;
	}
}

.homepage_how_it_works_box_title {

	font-family: MotorOil; 
	text-transform: uppercase;
	font-size: 16px;  
}

.homepage_how_it_works_text {
	
	font-size: 12px; 
	margin-top: 10px;	
	line-height: 18px;   
}

.homepage_how_it_works_box_first_image {
	
	
	float: right;
	display: inline-block;
	width: 55%;
	height: auto;
	position: relative;
	top: -10px;
	left: 10px;
	z-index: 1;
	
	
	@media (max-device-width: 1290px) {
		
	}
}

.homepage_how_it_works_box_second_image {
	
	position: relative;
	z-index: 1;
	height: 84%;
	left: 2%;	
	margin-top: -2%; // Chrome bug it dosent notice percentages on top: so we use margin-top
	width: auto;
}

.homepage_how_it_works_box_third_image {
	
	@extend .homepage_how_it_works_box_first_image;
	top: 0;
	left: 0px;
}

.with-icon-homepage-how-it-works-box-right-arrow {

	float: left;
	display: inline-block;
	position: absolute;
	
	&:before { 
		color: $light_blue; 
		position: relative;
		top: 1px;
		left: -14px;
		font-size: 170px; 
		content:")";
	}
}

.with-icon-homepage-how-it-works-box-left-arrow {
	
	float: left;
	display: inline-block;
	position: absolute;
	
	&:before { 
		color: $light_blue; 
		position: relative;
		left: -1px;
		font-size: $homepage_how_it_works_box_wrap_size; 
		content:"}";
	}
}

.homepage_how_it_works_box_button {
	
	width: 96%; 
	font-family: MotorOil;
	color: $light;
	text-transform: uppercase;  
	padding: 10px 2%;
	font-size: 12px; 
	float: left;
	text-align: center;
	background: $green; 
	margin: 10px 0;
	@include border-radius(25px);
}