.homepage_recyclabus_box_wrap {

	width: 95%;
	float: left;
	clear: both;
	background: $light;
	margin: 5px 0 30px;
	padding: 30px 0 10px 5%;	
	@include border-radius(5px 5px 0 0); 	
}

.with-icon-or-sticker-recyclabus {

	float: left;
	clear: both;
	&:before {
		
		position: absolute;
		color: $dark_blue; 
		margin: 0 0 0 -15px;
		font-size: 50px; 
		cursor: pointer;
		content:",";
	}
}

.homepage_recyclabus_box_title {
	
	font-family: MotorOil;
	font-size: 25px;
	color: $light_blue;
	float: left;
	margin-bottom: 20px; 
	text-transform: uppercase;  
}

.homepage_recyclabus_box_title_color {

	color: $dark_blue; 
}

.homepage_recyclabus_box_text_wrap {

	border-top: 2px solid $darkest_gray;
	width: 45%;
	padding: 20px 0 0;	
	margin-bottom: 20px; 
	float: left;
	clear: both;
	color: $black_gray; 
	font-size: 14px; 
}

.homepage_recyclabus_box_point {
	
	float: left;
	clear: both;
	margin: 0 0 10px;
}

.with-icon-recyclabus-point-leaf {
	
	display: inline;
	float: left;
	
	&:before {
		position: absolute;
		font-size: 20px; 
		color: $green; 
		content:"%";
	}
}

.homepage_recyclabus_box_point_text {

	display: inline;
	float: left;
	margin-left: 25px;
	line-height: 20px; 
	
	strong { 

		font-weight: bold; 
	}
}

.homepage_recyclabus_box_button_wrap {
	
	clear   : both;
	float   : left;
	padding : 15px 5%;
	cursor: pointer;
	background: $light_blue; 
	@include transition;
	
	&:hover { 
		
		@include transition;
		background: darken($light_blue, 10%); 
	}
}

.homepage_recyclabus_box_button_text {
	
	display: inline;
	float: left;
	margin-right: 8px;
	text-transform: uppercase;
	font-family   : MotorOil; 
	color         : $dark_blue;
	font-size     : 14px; 
}

.with-icon-recyclabus-find-out-more-arrow {
	
	display: inline;
	float: left;
	font-size: 12px; 
	
	&:before { 
		
		color: $dark_blue; 
		content:">";
	}
}

.homepage_recyclabus_box_image {

	width: 70%;
	float: right;
	position: relative;
	top: -150px;
	left: 5px;
	margin: 0 0 -164px;
}