.with-icon-arrow-for-extra-text-box { 
	
	position: absolute;
	margin: -25px 0 0 33px;
	color: $light; 	
	
	&:before { 
		content:"u";
	}
}

.homepage_extra_text_box_first { 

	background: $light;
	width: 28.33%;
	height: 105px;
	display: inline-block;
	float: left;
	padding: 10px 1.5%;
	margin: 10px 1.5% 10px 0;
	@include border-radius(2px 2px 0 0);
	@include box-shadow( -1px, 1px, 5px, 1px, rgba(130,130,130, 0.1));
	
}

.homepage_extra_text_box {
	
	@extend .homepage_extra_text_box_first;
	width: 30%;
}

.homepage_extra_text_box_title {
	
	color: $black_gray;
	font-size: 18px;  
	font-family: MotorOil;
	text-transform: uppercase; 
}

.homepage_extra_text_box_text {
	
	width: 100%;
	margin-top: 5px;
	font-size: 14px;
	line-height: 20px; 
	color: $black_gray; 
	
	strong { 
		
		font-weight: bold; 
	}
}

.homepage_extra_text_box_suggestions {

	@extend .homepage_extra_text_box_first;
	width: 29.66%; 
	background: $light_blue;
	margin: 15px 0 10px;
	@include border-radius(5px); 
} 

.homepage_extra_text_box_suggestions_background {

	position: absolute;
}

.with-icon-for-suggestion-box-left {
	
	position: relative;
	top: 15px;
	left: 30px;
	&:before { 
		
		color: $light; 
		font-size: 80px; 
		content:"'";
	} 
}

.with-icon-for-suggestion-box-right {
	
	position: relative;
	top: -70px;
	left: 115px;
	&:before { 
		
		color: lighten($light_blue, 10%);
		font-size: 80px; 
		content:"*";
	} 
}

.with-icon-for-suggestion-box-large-circle {

	&:before { 
		
		
		font-size: 80px; 
		content:"^";
	}
}

.with-icon-for-suggestion-box-small-circle {}

.homepage_extra_text_box_suggestions_text_wrap {
	
	position: relative;
	width: 100%;
	margin-top: 20px; 
	text-align: center;
	z-index: 1;
}

.homepage_extra_text_box_suggestions_title {
	
	font-family: MotorOil;
	color: $dark_blue; 
	text-transform: lowercase;
	font-size: 20px;
}

.homepage_extra_text_box_suggestions_text {
	
	color: $black_gray;
	font-size: 12px;
}


.homepage_how_it_works_title {
	
	font-family: MotorOil;
	font-size: 16px;
	line-height: 16px;
	border-bottom: 1px solid $middle_gray;
	text-transform: uppercase;
	text-align: center;
	color: $darkest_gray; 
	padding: 20px 0;
	margin: 10px 0 20px;  
}

.homepage_how_it_works_option_title_wrap {
	
	width: 95%;
	float: left;
	padding: 0 2.5%;
	margin-bottom: 10px; 
} 

.homepage_how_it_works_option_title_scrible {
	
	font-family: HandWritten;
	color: $darkest_gray; 
	margin: 0 0 8px -11px;
	@include rotate(-5); 
	float: left;   
} 

.homepage_how_it_works_option_title {
	
	clear: both;
	float: left;
	font-family: MotorOil;
	text-transform: uppercase;
	font-size: 26px;
	line-height: 26px;
} 

.homepage_how_it_works_option_title_part_one {
	color: $light_blue;
} 

.homepage_how_it_works_option_title_part_two {
	margin-left: -5px; 
	color: $dark_blue;
} 
