.homepage_body_wrap { 
		
	margin: 0 auto;
	width: $the_width; 
	background: $light_gray;
}

.homepage_body_inner_wrap {
	
	background: $light; 
	float: left;
	position: relative;
	@include box-shadow(1px, 2px, 5px, 0px, rgba(0,0,0, 0.1));
}

@import "homepage.title";
@import "homepage.how_it_works";
@import "homepage.recyclabus";
@import "homepage.alies"