.homepage_how_it_works_option_title_wrap {
	
	width: 95%;
	float: left;
	padding: 0 2.5%;
	margin: 20px 0 10px; 
}

.homepage_how_it_works_option_title_scrible {
	
	font-family: HandWritten;
	color: $darkest_gray; 
	margin: 0 0 8px -11px;
	@include rotate(-5); 
	float: left;   
} 

.homepage_how_it_works_option_title {
	
	clear: both;
	float: left;
	font-family: MotorOil;
	text-transform: uppercase;
	font-size: 26px;
	line-height: 26px;
	width: 100%;
} 

.homepage_how_it_works_option_title_part_one {
	color: $light_blue;
} 

.homepage_how_it_works_option_title_part_two {
	color: $dark_blue;
} 