.popup_word {
	@extend.popup_forgotten;		
}

.popup_word_title {
	@extend.popup_forgotten_title;
}

.popup_word_text {
	@extend.popup_forgotten_description;
}

.popup_word_paragraph {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
}
