.popup_lightbox {
	@extend.profile_hub_popup_screen;
	overflow: auto;
	opacity: 0;
}

.popup_box {
	@extend.profile_hub_withdraw;
	display: block;
}

.with-icon-outside-popup-close {
	@include circle(20px);
	background: $light_monochrome;
	color: $black_gray;
	float: right;
	position: relative;
	left: 15px;
	top: -10px;
	margin-bottom: -30px;
	cursor: pointer;
	&:before { 
		content:"X";
		position: relative;
		left: 3px;
		font-size: 19px;
	}
}

@import "popup.forgotten_password";
@import "popup.legal";
@import "popup.advertising";
@import "popup.media";
@import "popup.contact";
@import "popup.word";