.popup_advertising {
	@extend.popup_forgotten;
}

.popup_advertising_title { 
	@extend.popup_forgotten_title;
}

.popup_advertising_download {
	@extend.popup_forgotten_description;
	cusor: pointer;
	color: $black_gray;
	margin-bottom: 10px;
	&:hover { 
		text-decoration: underline;
	}
}

.popup_advertising_page {
	float: left;
	width: 100%;
	height: auto;
	margin-bottom: 10px;	
}
