.profile_hub {

	width: $the_width;
	margin: 0 auto;
	background: $light;
	text-spacing: 1px;
}

.profile_hub_inner_wrap { 
	
	display: block;
	float: left;
	width: 100%;
	background: $light;
	padding: 0 10px;
}

.profile_hub_box {

	width: $profile_hub_box_width;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 20px;
	float: left;
} 

.profile_hub_box_right { 
	@extend .profile_hub_box;
	margin-right: 0px;
}

@import "profile_hub.header.scss";

@import "profile_hub.account";

@import "profile_hub.order_history";

@import "profile_hub.bank";