
$progress_welcome_pop_up_height: 200px;
$progress_welcome_sign_in_box_forgot_password_margin: 3px; // *2
$progress_welcome_sign_in_box_input_margin: 5px; // *2 
$progress_welcome_sign_in_box_input_padding: 10px; // *2
$progress_welcome_sign_in_box_input_line_height: 15px; // *1
$welcome_sign_in_box_title_size: 16px;
$forgot_password_text_size: 10px;
$progress_welcome_register_box_height: 40px; 
$progress_welcome_register_box_text_size: 16px;
$progress_welcome_register_box_button_padding: 10px;
$sign_in_box_height: $welcome_sign_in_box_title_size + $forgot_password_text_size + (( $progress_welcome_sign_in_box_forgot_password_margin * 2 ) +  ( $progress_welcome_sign_in_box_input_margin * 2 ) + ( $progress_welcome_sign_in_box_input_padding * 2 )) * 2 + $progress_welcome_sign_in_box_input_line_height;

.progress_welcome_pop_up { 

	@extend .progress_pop_up;
	width: 65%;
	height: $progress_welcome_pop_up_height;
	z-index: 3;
	font-family: Tahoma;
	overflow: hidden;
}

.progress_welcome_pop_up_placeholder {
	width: 100%;
	float: left;
	text-align: center;
	position: relative;
	font-size: 16px;
	line-height: 16px;
	height: 16px;
	padding: 92px 0;
	margin-bottom: 20px;
	color: $light;
	top: -220px;
	margin-bottom: -220px;
}

.progress_welcome_pop_up_placeholder_text {
	display: inline;
}

.progress_welcome_pop_up_placeholder_link {
	display: inline;
	font-weight: bold;
	cursor: pointer;
	&:hover { 
		text-decoration: underline;
	}
}


.progress_welcome_sign_in_box { 

	width: 50%;
	display: inline-block;
	float: left;	
	padding: ($progress_welcome_pop_up_height - ( $sign_in_box_height + 10px ) )/2 0px;
}

.progress_welcome_sign_in_box_title { 
	
	color: $light_blue;
	font-size: $welcome_sign_in_box_title_size; 
	margin: 0 0 $progress_welcome_sign_in_box_forgot_password_margin 15px;
}


.progress_welcome_sign_in_box_forgot_password { 
	
	float: right;
	font-family: Tahoma;
	margin: $progress_welcome_sign_in_box_forgot_password_margin 30px 0 0; 
	font-size: $forgot_password_text_size; 
	cursor: pointer;
	
	&:hover {

		text-decoration: underline;
	}
}

.progress_welcome_sign_in_box_input {
	
	@include reset-input;
	
	width: 91%;
	padding:$progress_welcome_sign_in_box_input_padding 2%;
	margin: $progress_welcome_sign_in_box_input_margin 3% $progress_welcome_sign_in_box_input_margin 0;
	background: #FFF;
	color: $darkest_gray;
	line-height: $progress_welcome_sign_in_box_input_line_height;
	@include border-radius( 50px);
	
	&:focus { 
		color: $black_gray;
	}
}

.progress_welcome_sign_in_box_password { 
	@extend.progress_welcome_sign_in_box_input;
	@include border-radius( 50px 0 0 50px );
	margin: $progress_welcome_sign_in_box_input_margin 0;
	display: inline-block;
	float: left;
	width: 82%;
}

.with-icon-enter-for-welcome-box { 
	@extend.progress_welcome_sign_in_box_password;
	@include border-radius( 0 50px 50px 0);
	height: 16px;
	width: 5%;
	cursor: pointer;
	&:hover {
		color: $black_gray;
	}
	&:before {
		position: relative;
		top: 2px;
		left: 5px; 
		content:">";
	}
}

.progress_welcome_register_box { 

	width: 49%;
	height: $progress_welcome_register_box_height;
	padding: ( $progress_welcome_pop_up_height - $progress_welcome_register_box_height )/2 0;
	display: inline-block;
	border-left: 1px solid $light;
	float: left;
	font-family: Tahoma;
}

.progress_welcome_register_box_text { 
	
	$progress_welcome_register_box_text: ($progress_welcome_register_box_height - $progress_welcome_register_box_text_size )/2;
	display: inline-block;
	float: left;
	letter-spacing: 2px;
	font-size: $progress_welcome_register_box_text_size;
	margin: $progress_welcome_register_box_text 0 $progress_welcome_register_box_text 20px;
}

.progress_welcome_register_box_button {
	
	display: inline-block;
	float: right;
	line-height: $progress_welcome_register_box_height - ($progress_welcome_register_box_button_padding * 2);
	padding: $progress_welcome_register_box_button_padding 7.5%;
	letter-spacing: 1px;
	text-transform: uppercase;
	background: $green;
	color:$light; 
	cursor: pointer;
	@include transition;
	
	&:hover {
		
		@include transition;
		background: darken($green, 5%); 
	}
}