.profile_hub_account {} 

.profile_hub_account_bar {
	background: $light_blue;
	color: $dark_blue;
	width: 94%;
	padding: 10px 3%;
	float: left;
	@include border-radius(5px 5px 0 0);
} 

.with-icon-profile-hub-account {
	float: left;
	display: inline;
	margin-right: 10px;
	&:before { 
		content:"=";
		color:$light;
		font-size: 20px;
		line-height: 20px;
	}
} 

.profile_hub_account_bar_greeting {
	font-family: MotorOil;
	font-size: 14px;
	line-height: 22px;
	display: inline;
	float: left;
} 

.profile_hub_account_bar_text {
	font-size: 14px;
	line-height: 22px;
	display: inline;
	float: right;
} 

.profile_hub_account_body {
	float: left;
	width: $profile_hub_box_width - 22;
	padding: 0 10px;
	border-bottom: 1px solid $middle_monochrome;
	border-right: 1px solid $middle_monochrome;
	border-left: 1px solid $middle_monochrome;
	background: $light;
} 

.profile_hub_account_main_details {
	margin: 20px 0 0;
	width: 100%;
	float: left;
} 

.profile_hub_account_main_details_small_input {
	@include reset-input;
	background: $light_monochrome;
	width: 41%;
	margin-bottom: 10px;
	margin-right: 1%;
	padding: 10px 4%;
	@include border-radius(25px);
	display: inline-block;
	float: left;
	color: $black_gray;
	&:focus { 
		@include box-shadow(1px, 1px, 3px, 0px, rgba(0,0,0, 0.1), inset);
	}
} 

.profile_hub_account_main_details_large_input {
	@extend .profile_hub_account_main_details_small_input;
	width: 92%;
	padding: 10px 4%;
	clear: both;
} 

.profile_hub_account_detail_wrap { 
	width: 100%;
	float: left;
	display: block;
}

.profile_hub_account_extra_details {
	display: none;
	float: left;
	margin: 10px 0;
}

.profile_hub_account_extra_details_title {
	font-size: 14px;
	line-height: 16px;
	color: $black_gray;
	float: left;
	clear: both;
	margin: 10px 0 10px 10px;
}

.profile_hub_account_extra_details_input {
	@extend.profile_hub_account_main_details_large_input;
	margin-bottom: 0px;
}

.profile_hub_account_extra_details_edit { 
	font-size: 12px;
	line-height: 12px;
	color: $middle_monochrome;
	text-decoration: underline;
	float: right;
	cursor: pointer;
	margin: 5px 5px 0 0;
}

.profile_hub_account_extra_buttons {
	width: 100%;
	border-top: 1px solid $middle_monochrome;
	float: left;
	padding: 10px 0;
} 

.profile_hub_account_extra_buttons_small_button {
	@include border-radius(30px);
	background: $green;
	color: $light;
	font-size: 12px;
	line-height: 20px;
	padding: 5px 30px;
	text-align: center;
	display: inline-block;
	float: left;
	cursor:pointer;
	font-weight: bold;
} 

.with-icon-plus-for-profile-hub-account-extra-buttons {
	&:before {
		content:"9";
	}
} 

.with-icon-minus-for-profile-hub-account-extra-buttons {
	&:before {
		content:"<";
	}
} 

.profile_hub_account_extra_buttons_large_button {
	@extend .profile_hub_account_extra_buttons_small_button;
	margin-left: 10px;
} 