$popup_arrow_size: 19px;

.progress_pop_up { 
		
	display: none;	
	position: absolute;
	float: left;
	font-family: MotorOil; 
	margin: ( $bar_height + $popup_arrow_size ) 0 0 42px;
	background: $dark_blue; 
	width: 398px;
	color: $light;
	padding: 20px;
	z-index: 1;
	@include box-shadow( 1px, 1px, 3px, 1px, rgba(0,0,0, 0.3));
}

.with-icon-progress-pop-up-arrow { 
		
	display: none;
	float: left;
	position: relative;
	top: 54px;
	margin: 0 0 -54px;
	// prel
	// top: 302px + $bar_height;
	
	&:before { 
		position: relative;
		font-size: $popup_arrow_size;
		line-height: $popup_arrow_size;
		height: $popup_arrow_size;
		color: $dark_blue;		
		z-index: 4;
		content:"u";
	}
}

.progress_pop_up_title { 
	
	width: 100%;
	clear: both;
	float: left;
	margin-bottom: 10px;
}

$progress_pop_up_title_size: 27px;

.progress_pop_up_title_text { 
	
	min-width: 45%;
	display: inline-block;
	float: left;
	font-size: $progress_pop_up_title_size;
	color: $light_blue;	
	text-transform: uppercase; 
}

.progress_pop_up_title_icon { 
	
	@include circle($progress_pop_up_title_size);
	margin: -2px 0 0 7px;
	display: inline-block;
	float: left;
	background: $light_blue; 
}

.progress_pop_up_text { 

	clear: both;
	float: left;
	font-size: 14px; 
	line-height: 20px;
	font-family: Tahoma; 
	text-align: justify;
}