.profile_hub_tracking{}

.profile_hub_tracking_bar {
	@extend .profile_hub_account_bar;
}

.with-icon-for-profile-hub-tracking {
	@extend .with-icon-profile-hub-account;
	&:before { 
		content:"8";
	}
}

.profile_hub_tracking_bar_title {
	@extend .profile_hub_account_bar_greeting;
}

.profile_hub_tracking_bar_sort {
	float: right;
	display: inline;
}

.profile_hub_tracking_bar_sort_drop {
	@include border-radius(2px);
	@include box-shadow(-1px, 1px, 4px, 0px, rgba(0,0,0,0.2));
	position: absolute;
	width: 140px;
	margin-top: 30px;
	margin-left: -120px;
	padding: 5px 0;
	background: $light_monochrome;
	float: right;
	font-size: 14px;
	line-height: 14px;
	color: $black_gray;
	// display: inline;
	display: none;
}

.with-icon-for-profile-hub-tracking-drop-arrow{
	position: relative;
	float: right;	
	top: -18px;
	left: -8px;
	&:before { 
		color: $light_monochrome;
		font-size: 12px;
		line-height: 12px;
		content:"u";
	}
}

.profile_hub_tracking_bar_sort_drop_item {
	padding: 10px;
	cursor: pointer;
	&:hover { 
		background: $middle_monochrome;
	}
}

.with-icon-down-arrow-for-profile-hub-drop {
	display: inline;
	float: right;
	margin-right: 5px;
	cursor:pointer;
	&:before { 
		font-size: 6px;
		line-height: 6px;	
		color: $black_gray;
		content:"d";
	}
}

.with-icon-eye-for-profile-hub-tracking {
	display: inline;
	float: right;
	cursor:pointer;
	&:before { 
		font-size: 12px;
		line-height: 12px;
		position: relative;
		top: 2px;
		color: $black_gray;
		content:"A";
	}
}

.profile_hub_tracking_body {
	@extend .profile_hub_account_body;
}

.profile_hub_tracking_inner_body {
	@extend.profile_hub_history_inner_body;
	overflow: hidden;
}

.profile_hub_tracking_sroll {
	@extend.profile_hub_history_scroll;
}

.profile_hub_tracking_sroll_handle {
	@extend.profile_hub_history_scroll_handle;
}

.profile_hub_tracking_show_bar {
	background: $light_monochrome;
	width: 100%;
	margin: 10px 0;
	font-size: 14px;
	line-height: 14px;
	color: $black_gray;
	float: left;
}

.profile_hub_tracking_show_bar_text {
	float: left;
	display: inline;
	padding: 10px;
}

.with-icon-for-profile-hub-tracking-envelope {
	display: inline;
	float: right;
	padding: 10px;
	background: $middle_monochrome;
	cursor: pointer;
	&:before { 
		font-size: 10px;
		line-height: 10px;
		content:"E";
	}
}

.profile_hub_tracking_items {
	@extend.profile_hub_history_items;
}

.profile_hub_tracking_items_group {
	float: left;
	width: 100%;
}

.profile_hub_tracking_items_sub_group {
	float: left;
	width: 100%;
}

.profile_hub_tracking_items_inner {
	float: left;
	width: 100%;
}

.profile_hub_tracking_title {
	width: 100%;
	border-bottom: 1px solid $light_monochrome;
	color: $middle_monochrome;
	font-size: 14px;
	line-height: 14px;
	text-align: center;
	padding-bottom: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.profile_hub_tracking_item {
	@extend.profile_hub_history_item;
}

.profile_hub_tracking_item_image {
	@extend.profile_hub_history_item_image;
}

.profile_hub_tracking_item_text {
	@extend.profile_hub_history_item_text;
}

.profile_hub_tracking_item_text_title {
	@extend.profile_hub_history_item_title;
}

.profile_hub_tracking_item_text_author {
	@extend.profile_hub_history_item_author;
}

.profile_hub_tracking_item_text_quote {
	@extend.profile_hub_history_item_price;
	&:before { 
		content:"Quote: ";
	}
}

.profile_hub_tracking_item_text_isbn {
	@extend.profile_hub_history_item_isbn;
}

.profile_hub_tracking_item_options {
	@extend.profile_hub_history_item_icon;
	width: 30%;
}

.profile_hub_tracking_item_options_image {
	@extend.profile_hub_history_item_icon_image;
	position: relative;
	top: -10px;
	margin-bottom: -10px;
	left: 20%;
	width: auto;
}

.with-icon-for-profile-hub-tracking-remove-book {
	@include border-radius(30px);
	background: $green;
	color: $light;
	font-size: 12px;
	line-height: 20px;
	padding: 5px 5%;
	text-align: center;
	display: inline-block;
	float: left;
	cursor:pointer;
	font-weight: bold;
	width: 90%;
	&:before { 
		font-size: 16px;
		line-height: 16px;
		position: relative;
		top: 2px;
		// margin-bottom: -2px;
		content:"X";
		margin-right: 7px;
	}
}


.profile_hub_tracking_item_options_damaged_book_dropout {
 	position: absolute;
 	float: left;
 	background: $light;
 	margin-top: -10px;
 	padding: 10px;
 	width: 245px;
 	border: 1px solid $middle_monochrome;
 	// display: none;
}

.profile_hub_tracking_item_options_damaged_book_dropout_title {
	font-size: 14px;
	line-height: 14px;
	color: $middle_monochrome;
	font-weight: bold;
}

.profile_hub_tracking_item_options_damaged_book_dropout_text {
	margin-left: 5px;
	margin-top: 10px;
	font-size: 12px;
	line-height: 16px;
	color: $black_gray;
	min-height: 55px;
}

.with-icon-left-arrow-for-damaged-book-box { 
	position: relative;
	float: right;
	left: 20px;
	top: -5px;
	&:before {
		color: $light; 
		font-size: 12px;
		line-height: 12px;
		content:"l";
	}
}

.profile_hub_tracking_item_options_damaged_book_info {
	
}

.with-icon-for-damaged-book-info {
	
}

.profile_hub_tracking_item_options_damaged_book_info_text {
	font-size: 12px;
	line-height: 12px;
	margin-bottom: 5px;
	width: 100%;
	text-align: center;
	float: right;
	color: $black_gray;
	font-weight: bold;
	&:before { 
		background: $black_gray;
		// content:"? ";
	}
}

.with-icon-for-damaged-book-return {
	@extend.with-icon-for-profile-hub-tracking-remove-book;
	background: $light_blue;
	margin-bottom: 5px;
	&:before { 
		font-size: 10px;
		line-height: 10px;
		position: relative;
		top: -1px;
		content:"D";
	}
}

.with-icon-for-damaged-book-donate {
	@extend.with-icon-for-profile-hub-tracking-remove-book;
	&:before { 
		font-size: 12px;
		line-height: 12px;
		content:"B";
	}
}