.profile_hub_box.profile_hub_history {}

.profile_hub_history_bar {
	@extend .profile_hub_account_bar;	
}

.with-icon-for-profile-hub-history {
	@extend .with-icon-profile-hub-account;
	&:before { 
		content:"@";
	}
}

.profile_hub_history_bar_greeting {
	@extend .profile_hub_account_bar_greeting;
}

.profile_hub_history_notification {
	@include circle(22px);
	background: $green;
	text-align: center;
	font-size: 14px;
	line-height: 14px;
	float: right;
	display: inline;
	color: $light;
	position: relative;
	top: -20px;
	left: 20px;
	&:before { 
		position: relative;
		top: 3px;
		content:"4"
	}
}

.profile_hub_history_body {
	@extend .profile_hub_account_body;
}

.profile_hub_history_inner_body {
	width: 100%;
	float: left;
	margin: 10px 0;
}

.profile_hub_history_scroll {
	width: 3%;
	float: right;
	display: inline-block;
	height: 200px;
	background: $light_monochrome;
}

.profile_hub_history_scroll_handle {
	background: $dark_blue;
	height: 20px;
	@include border-radius(25px);	
}

.profile_hub_history_items {
	display: inline-block;
	width: 97%;	
	float: left;
}

.profile_hub_history_item {
	float: left;
	width: 98%;
	margin-right: 2%;
	margin-bottom: 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid $middle_monochrome;
}

.profile_hub_history_item_image {
	height: 90px;
	width: 70px;
	// width: auto;
	background: $middle_monochrome;
	float: left;
	display: inline-block;
	margin-right: 10px;
}

.profile_hub_history_item_text {
	float: left;
	display: inline-block;
	color: $black_gray;
	font-size: 12px;
	line-height: 14px;
}

.profile_hub_history_item_title {
	font-size: 18px;
	float: left;
	margin-bottom: 5px;
	clear: both;
}

.profile_hub_history_item_author {
	float: left;
	margin-bottom: 25px;
	clear: both;	
}

.profile_hub_history_item_price {
	float: left;
	clear: both;
	&:before { 
		font-weight: bold;
		content:"Sold for: ";
	}
}

.profile_hub_history_item_isbn {
	float: left;
	clear: both;
	&:before { 
		font-weight: bold;
		content:"ISBN: ";
	}
}

.profile_hub_history_item_icon {
	
	float: right;
	display: inline-block;	
	width: 21%;
	margin-right: 4%;
	color: $black_gray;
}

.profile_hub_history_item_icon_image {

	width: 80%;
	margin: 0 10%;
	height: auto;
}

.profile_hub_history_item_icon_small_text { 
	font-size: 8px;
	position: relative;
	top: -12px;
}

.profile_hub_history_item_icon_date {
	font-size: 12px;
	line-height: 12px;
	position: relative;
	top: -3px;
}