.profile_hub_reset  {
	@extend.profile_hub_withdraw;
	width: 28%;
	margin: 20px 34%;
}

.profile_hub_reset_logo_wrap  {
	@extend.profile_hub_withdraw_logo_wrap;
}

.profile_hub_reset_logo  {
	@extend.profile_hub_withdraw_logo;
}

.profile_hub_reset_description  {
	@extend.profile_hub_withdraw_description;
}

.profile_hub_reset_body {
	@extend.profile_hub_withdraw_body;
}

.profile_hub_reset_notification {
	background: $light_blue;
	font-size: 13px;
	line-height: 13px;
	padding: 5px 0 7px;
	color: $light;
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
	width: 100%;
}

.profile_hub_reset_input_wrap {
 	width: 100%;
 	float: left;
 	margin-bottom: 10px;
}

.profile_hub_reset_label {
	font-size: 13px;
	line-height: 13px;
	width: 100%;
	float: left;
	color: $black_gray;
	margin-bottom: 10px;
}

.profile_hub_reset_input {
	@extend.profile_hub_account_main_details_large_input;
}

.profile_hub_reset_cancel {
	@extend.profile_hub_withdraw_cancel;
}

.profile_hub_reset_save {
	@extend.profile_hub_withdraw_and_send;
}