.recyclabus_dates_extra_box {

	width: 60%;
	float: left;
	padding: 71px 20% 50px; 
	background: $light; 
}

.with-icon-dates-clock {

	&:before { 

		position: absolute;
		margin: -5px 0 0 22px;
		font-size: 50px;
		color: $black_gray;  
		content:"/";
	}
}

.recyclabus_dates_extra_text_wrap {

	width: 100%;
	float: left;
}

.recyclabus_dates_extra_text_title {
	
	width: 100%;
	font-family: MotorOil;
	font-size: 20px;
	line-height: 20px;
	color: $black_gray;    
	float: left;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 3px;
}

.recyclabus_dates_extra_text {
	
	width: 78%;
	clear: both;
	float: right;
	font-size: 12px; 
	line-height: 17px; 
	color: $black_gray; 
}

.recyclabus_dates_extra_text_icon {

	background: $green; 
	@include circle(17px);
	display: inline-block;
}

.with-icon-recyclabus-dates-extra-text {
	
	&:before {
		
		font-size: 11px;
		margin: 0 0 0 5px;
		color: $light;  
		content:">";
	}
}

.recyclabus_dates_extra_text_arrow {}

.recyclabus_dates_extra_text_icon {}