.recyclabus_dates_button_wrap {
	
	width: 95%;
	padding: 0 2.5%;
	float: left;
	margin: 45px 0 45px;
	height: 52px;
	overflow: hidden;
}

.recyclabus_dates_inner_wrap {
	
	float: left;
	width: 100%;
	position: relative;
}

.recyclabus_dates_first_button {
	
	width: 95%;
	float: left;
	padding: 20px 2.5%;
	text-align: center;
	background: $green; 
	color: $light; 
	cursor: pointer;
	font-family: MotorOil;
	text-transform: uppercase; 
	font-size: 12px;
	line-height: 12px;  
	@include transition;
	
	&:hover { 
		
		@include transition;
		background: darken($green, 5%); 
	}
}

.recyclabus_dates_second_button {
	
	@extend .recyclabus_dates_first_button;
	background: $light_blue; 
	color: $dark_blue; 
	
	&:hover {
		background: $light_blue; 
	}
}


.with-icon-dates-down-arrow { 
	
	top: -1px;
	margin-bottom: -61px;
	position: relative;
	color: $light_blue; 
	width: 456px;
	overflow: hidden; 
	font-size: 61px;	
	&:before { 

		content:"0";
	}
}