.recyclabus {

	width: ($the_width + 11);
	display: block; 
	margin: 0 auto;
}

.recyclabus_half {

	width: 48.5%;
	margin: 0 0 20px;
	float: left;
	display: inline-block;
}

.recyclabus_half_left {
	
	@extend .recyclabus_half;
	margin:20px 3% 20px 0;
}

@import "recyclabus.description";

@import "recyclabus.dates";