.recyclabus {

	@include width-model($content_width);
	float: right;
	display: block; 
	background: $light_gray;
}

.recyclabus_half {

	width: 48.5%;
	margin: 0 0 20px;
	float: left;
	display: inline-block;
}

.recyclabus_half_left {
	
	@extend .recyclabus_half;
	margin:20px 3% 20px 0;
}

@import "recyclabus.description";

@import "recyclabus.dates";