
.recyclabus_half_dates_wrap {

	background: $light_blue; 
	width: 60%;
	padding: 58px 20% 10px;
	float: left;
}

.recyclabus_dates_wrap {
	
	width: 100%;
	float: left;
	font-weight: bold;
	text-transform: uppercase; 
}

.recyclabus_dates_level_one {
	width: 100%;
	float: left;
}

.recyclabus_dates_level_one_text_wrap {

	display: inline-block;
	float: left;
	width: 50%;
}

.recyclabus_dates_title_one {

	font-size: 40px;
	line-height: 40px;
	color: $light;  
}

.recyclabus_dates_title_two {

	font-size: 18px;
	line-height: 18px; 
	color: $dark_blue; 
	display: inline;
}

.recyclabus_dates_icon {
	
	width: 42%;
	display: inline-block;
	float: left;

	img { 
		width: 100%;
		height: auto;
	}
}

.recyclabus_dates_level_two {
	
	width: 100%;
	clear: both;
	float: left;	
}

.recyclabus_dates_title_three {
	
	font-size: 60px;
	line-height: 60px;
	display: inline;
	color: $light; 
}

.recyclabus_dates_title_three_superscript {

	font-size: 23px;
	line-height: 23px;
	position: relative;
	top: 6px;
	left: -5px;
	z-index:1;
	vertical-align: top;    
}

.recyclabus_dates_title_four {
	
	display: inline;
	font-size: 60px;
	color: $dark_blue; 
	position: relative;
	left: -22px;
}

.recyclabus_dates_highlight {
	
	font-size: 12px; 
	text-align: center;
	width: 100%;
	font-weight: bold; 
	line-height: 18px; 
	margin: 15px 0 10px;
	float: left;
	color: $light; 
}

@import "recyclabus.dates.input";
@import "recyclabus.dates.button";
@import "recyclabus.dates.extra_box";