$bar_height: 47px;
$light_blue:#9ad9e0;
$green: #b4d65a;
$light_gray: #f6f6f6;
$middle_gray: #dadada;
$darkest_gray: #9F9F9F;
$dark_gray: #efefef;
$black_gray: #555;
$light: #fff;
$dark_blue: #3f7986;

$width: 64%;

.body { 

	@include width-model($width);
	float: right;
	display: block; 
	background: $light_gray; 
}

.price_selection { 
	
	$price_selection_width: 6%;
	$padding: 1%;
	
	width: $price_selection_width;
	height: 50px;
	position: absolute;
	padding: $padding;
	margin: 93px 0 0;
	left: ( (( 100% - $width )/2)) - ($price_selection_width + ( $padding * 2 ) + 2%);   
	background: transparent;
	border: 1px solid $darkest_gray; 
}

.price_selection_quote { 

	font-family: MotorOil, Tahoma;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	color: $black_gray;

	&:before {} 
}

.search_books_description_title { 
	
	width: 100%;
	font-size: 12px;
	float: left; 
	color: $black_gray;
	margin: 38px 0 30px;
	padding: 0 0 12px;
	border-bottom: 1px solid $middle_gray;	
}

.search_books_description_title_text {
	
	width: 80%;
	display: inline-block; 
	float: left;
}

.sell_and_buy_basket { 
	
	width: 20%;
	display: inline-block;
	float: right;
}

.basket_stats { 

	display: inline;
	float: right;
	margin: 0 5px 0 0;
}