$bar_height: 47px;
$light_blue:#9ad9e0;
$green: #b4d65a;
$light_gray: #f6f6f6;
$middle_gray: #dadada;
$darkest_gray: #9F9F9F;
$dark_gray: #efefef;
$black_gray: #555;
$light: #fff;
$dark_blue: #3f7986;

$width: 64%;

.body { 

	@include width-model($width);
	float: right;
	display: block; 
	background: $light_gray; 
}

.price_selection { 
	
	$price_selection_width: 7%;
	$padding: 1%;
	
	width: $price_selection_width;
	position: absolute;
	padding: 15px $padding 20px;
	margin: 84px 0 0;
	left: ( (( 100% - $width )/2)) - ($price_selection_width + ( $padding * 2 ) + 2%);   
	background: $light;
}

.price_selection_quote { 

	font-family: MotorOil, Tahoma;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	color: $black_gray;

	&:before {} 
}

.price_selection_selection { 

	clear: both;
	width: 100%;
	float: left;
	margin-top: 10px;
}

.price_selection_box {
	
	width: 16px;
	height: 16px;
	margin-right: 8px;
	display: inline-block;
	float: left;
	background: $black_gray; 
	cursor: pointer;
}

.price_selection_text {
	
	font-size: 12px; 
	line-height: 12px; 
	display: inline-block;
	float: left;
	margin: 2px 0 0;
	vertical-align: top;
	color: $darkest_gray;
}

.search_books_description_title { 
	
	width: 100%;
	font-size: 12px;
	float: left; 
	color: $black_gray;
	margin: 4px 0 20px;
	padding: 0 0 12px;
	border-bottom: 1px solid $middle_gray;
}

.with-icon-selection-tick { 

	&:before { 

		content:"t";
		position: relative;
		left: 1px;
		font-size: 14px; 
		color: $light;		
	}
}

.sell_and_buy_basket {

	display: inline-block;
	float: right;
	font-weight: bold; 
	background: $light_blue;
	color: $dark_blue;
	padding: 8px 10px; 
}

.basket_stats { 

	display: inline;
	float: right;
	margin: 0 5px 0 0;
}