$light_blue:#9ad9e0;
$green: #b4d65a;
$light_gray: #f6f6f6;
$middle_gray: #dadada;
$dark_gray: #efefef;
$black_gray: #707070;
$light: #fff;
$dark_blue: #3f7986;

.body { 

	$width: 68%;
	
	@include width-model( $width);
	float: right;
	display: block; 
	background: $light_gray; 
}

.price_selection { 
	
	width: 6%;
	height: 50px;
	position: absolute;
	padding: 1%;
	margin: 27px 0 0;
	left: 6.5%;   
	background: transparent;
	border: 1px solid $middle_gray; 
}

.price_selection_quote { 

	font-family: MotorOil, Tahoma;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	color: $black_gray;

	&:before {} 
}

.search_books_description_title { 
	
	width: 100%;
	font-size: 12px;
	float: left; 
	color: $black_gray;
	margin: 30px 0 0;
	padding: 0 0 12px;
	border-bottom: 1px solid $middle_gray;	
}

.search_books_description_title_text {
	
	width: 80%;
	display: inline-block; 
	float: left;
}

.sell_and_buy_basket { 
	
	width: 20%;
	display: inline-block;
	float: right;
}

.basket_stats { 

	display: inline;
	float: right;
	margin: 0 5px 0 0;
}

