.with-icon-store-basket-pop-up-arrow {

	&:before { 
		position: relative;
		float: right;
		top:-35px;
		color: $light; 
		content:"u";
	}
}

.store_basket_pop_up { 

	position: relative;
	float: right;
	background: $light;
	width: 70%;
	margin: 0 0 10px;
	padding: 20px 2%;
	z-index: 1;
	@include box-shadow( -1px, 1px, 2px, 0px, rgba(0,0,0, 0.3)); 
}

@import "sales.basket.popup.items";


.store_basket_pop_up_content_total_wrap {
	
	width: 96%; 
	float: left;
	clear: both;
	background: $dark_gray;
	padding: 12px 2%; 
	font-weight: bold;
	color: $black_gray;
	font-size: 15px;  
}

.store_basket_pop_up_content_total_text {

	display: inline;
	float: left;
}

.store_basket_pop_up_content_total_number {

	display: inline;
	float: right;
}

.store_basket_pop_up_button_wrap {
	
	display: inline-block;
	width: 32.5%; 
	margin-left: 2.5%;
	float: left;
}

.store_basket_pop_up_button_second { 

	background: $green;
	cursor: pointer;
	padding: 10px 5%;
	font-size: 13px; 
	font-family: MotorOil;
	text-align: center;
	color: $light;   
	text-transform: uppercase;
}

.store_basket_pop_up_button_first { 
	
	@extend .store_basket_pop_up_button_second;
	margin-top: 10px;
	padding: 16px 5%;
	background: $light_blue; 
	color: $dark_blue; 
}

.store_basket_pop_up_text { 
	
	float: left;
	clear: both;
}

.store_basket_pop_up_text { 

	font-size: 12px;
	margin: 12px 0 0 5px;
	float: left;
	color: $black_gray;  
}