.store_basket_pop_up_content { 

	display: inline-block;
	width: 65%;
	float: left;
}

.store_basket_pop_up_content_items_wrap {}

.store_basket_pop_up_content_item { 

	background: $dark_gray;
	margin-bottom: 10px;
	padding: 15px 0 15px 2%;
	@include pie-clearfix; 
}

.store_basket_pop_up_contet_empty_item { 
	
	@extend .store_basket_pop_up_content_item;
	font-style: italic;
	font-size: 12px;
	color: $black_gray;
	text-align: center;   
}

.store_basket_pop_up_content_item_thumbnail { 

	height: 70px;
	margin: 0 4% 0 0;
	float: left;
	display: inline-block;
	
	img { 
		width: auto;
		height: 100%;
		@include box-shadow( -1px, 1px, 2px, 1px, rgba(0,0,0, 0.4));
	}
}

.store_basket_pop_up_content_item_title { 
	
	font-weight: bold;
	font-size: 16px;
	color: $black_gray;  
}

.store_basket_pop_up_content_item_author { 
	
	color: $black_gray;
	line-height: 20px;
	font-size: 12px; 
}

.store_basket_pop_up_content_item_isbn_wrap { 
	
	float: left;
	display: inline-block;
	color: $black_gray; 
	margin: 20px 0 0;
	font-size: 12px;
}

.store_basket_pop_up_content_item_isbn_highlight {

	font-weight: bold; 
	display: inline-block;
	float: left;
	margin-right: 5px;	
}

.store_basket_pop_up_content_item_isbn {
	
	display: inline-block;
	float: left;	
}

.store_basket_pop_up_content_item_sell_price_wrap { 
	
	float: right;
	position: relative;
	top: -20px;
	left: -7%;
	color: $black_gray;
}

.store_basket_pop_up_content_item_sell_price_text { 
	
	float: left;
	font-size: 12px;
	width: 100%;
	text-align: center; 
	margin-bottom: 5px;
}

.store_basket_pop_up_content_item_sell_price { 

	font-weight: bold;
	font-size: 14px; 
}

.store_basket_pop_up_content_item_sell_price_text { 

	color: $black_gray; 
}

.with-icon-x-for-store-basket-pop-up-content-item { 
	
	float: right;
	display: inline-block;
	position: relative;
	top: 18px;
	left: 12.5%; 
	cursor: pointer;
	
	&:before { 
		
		font-size: 30px; 
		color: $green; 
		content:"!";
	}
}