$light_blue:#9ad9e0;
$green: #b4d65a;
$light_gray: #f6f6f6;
$middle_gray: #dadada;
$dark_gray: #efefef;
$black_gray: #707070;
$light: #fff;
$dark_blue: #3f7986;

.result_book_search_wrapper { 
	
	width: 29.33%;
	margin: 0 3% 20px;
	display: inline-block;
	float: left;
}

.result_book_search_wrapper_left {
	
	@extend .result_book_search_wrapper;
	margin: 0 3% 20px 0;
}

.result_book_search_wrapper_right {
	
	@extend .result_book_search_wrapper;
	margin: 0 0 20px 3%;
}

.result_book_search {

	width: 100%;
	float: left;
	display: block;
	background: transparent; 
	text-align: center;
	color: $black_gray;
	@include transition;
	
	&:hover { 
		background: $light; 
	}
}

.result_book_search_added { 

	@extend .result_book_search;	
	background: $dark_gray;
}

.with-icon-info-for-book { 

	float: right;
	cursor: pointer;
	
	&:before { 
		content:"i";
		font-size: 40px; 
		position: absolute;
		margin-left: -41px;
		color: $green;
	}
}

.result_book_thumbnail_image {
	
	height: 150px;
	margin: 35px 0px 30px;
	width: auto; 
	@include box-shadow( -3px, 3px, 5px, 1px, rgba(0,0,0, 0.4 ));	
}

.result_book_search_text { 
	$article_width: 80%;
		
	width: $article_width;
	margin: 0px (( 100% - $article_width ) / 2 );
	text-align: center;
}

.result_book_title { 
	
	font-family: MotorOil; 
	font-size: 20px;
	margin-bottom: 5px;
	width: 100%;
	display: block;
	clear: both;
	float: left;
}

.result_book_author {
	
	letter-spacing: 1px; 
	font-size: 15px;
	width: 100%;
	display: block;
	clear: both;
	float: left;
}

.result_book_price_wrap { 

	width: 100%;
	clear: both;
	float: left;
	margin: 18px 0 0;
	letter-spacing: 1px;
	font-size: 14px; 
	text-align: center;
}
.result_book_price_text { 
	
	display: inline-block;
}

.result_book_price { 
	
	display: inline-block;
	font-weight: bold; 
}

.result_book_add_button { 
	
	width: 100%;
	float: left;
	clear: both;
	margin: 15px 0 0;
	background: $light_blue;
}

.result_book_add_button_text { 

	$add_button_font_size: 13px;
	
	display: block;
	float: left;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	font-family: MotorOil; 
	font-size: $add_button_font_size;
	cursor: pointer;
	width: 80%;
	padding: (( 47px-$add_button_font_size) / 2) 10%;
	color: $dark_blue;
}

.with-icon-added-to-sell-basket-tick { 

	@extend .result_book_add_button_text;
	
	&:before { 
		text-transform: lowercase;
		content:"t";
		color: $dark_blue;		
	}
}

.result_book_extra_options_buttons { 
	  
	float: left;
	clear: both;
	width: 100%;
	margin: 13px 0 0;
	font-size: 15px;
	color: $black_gray;
}

.result_book_added_book_sell_button { 
	
	padding: 7px 7%;
	width: 33%;
	text-align: center;
	@include border-radius(2px);
	float: left;
	margin:0 3% 0 0;
	cursor: pointer;
	background: $light; 
}

.result_book_added_book_add_again_button { 
	
	@extend .result_book_added_book_sell_button;
	
	float: right;
	margin-left: 0 0 0 3%;
	background: $dark_gray;
}

.with-icon-sell-now-arrow { 
	
	position: absolute;
	margin: -20px 0 0 25px;
	
	&:before { 
		content:"u";
		color: $light;
	}
}

.with-icon-add-again { 
	@extend .with-icon-sell-now-arrow;
	
	&:before { 
		color: $dark_gray;
	}
}