.result_books { 
	position: relative;
	width: 100%;
	float: left;
}

.result_book_search_wrapper { 
	
	width: 28.33%;
	margin: 0 3.5% 20px;
	height: 385px;
	display: inline-block;
	float: left;
}

.result_book_search_wrapper_left {
	
	@extend .result_book_search_wrapper;
	margin: 0 3% 20px 0;
}

.result_book_search_wrapper_right {
	
	@extend .result_book_search_wrapper;
	margin: 0 0 20px 3%;
}

.result_book_search {

	width: 100%;
	float: left;
	display: block;
	background: transparent; 
	text-align: center;
	color: $black_gray;
	@include transition;
	
	&:hover { 
		background: $light; 
	}
}

.result_book_search_added { 

	@extend .result_book_search;	
	background: $dark_gray;
}

.with-icon-info-for-book { 

	float: right;
	cursor: pointer;
	
	&:before { 
		content:"i";
		font-size: 40px; 
		position: absolute;
		margin: 4px 0 0 -45px;
		color: $green;
	}

	&:hover {

		&:before { 
			color: darken($green, 5%);
		}
	}
}

.result_book_thumbnail_image {
	
	height: 150px;
	margin: 35px 0px 26px;
	width: auto; 
	@include box-shadow( -3px, 3px, 5px, 1px, rgba(0,0,0, 0.4 ));	
}

.result_book_search_text { 
	$article_width: 80%;
		
	width: $article_width;
	margin: 0px (( 100% - $article_width ) / 2 );
	text-align: center;
}

.result_book_title { 
	
	font-family: MotorOil; 
	font-size: 20px;
	margin-bottom: 3px;
	width: 100%;
	display: block;
	clear: both;
	float: left;
}

.result_book_author {
	
	letter-spacing: 1px; 
	font-size: 15px;
	width: 100%;
	display: block;
	clear: both;
	float: left;
}

.result_book_price_wrap { 

	width: 100%;
	clear: both;
	float: left;
	margin: 18px 0 0;
	letter-spacing: 1px;
	font-size: 14px; 
	text-align: center;
}
.result_book_price_text { 
	
	display: inline-block;
}

.result_book_price { 
	
	display: inline-block;
	font-weight: bold; 
	&:before { 
		content:"£";
	}
}

.result_book_add_button_wrap { 

	width: 100%;
	margin: 12px 0 0;
	height: 45px;
	overflow: hidden;
	float: left;
	clear: both;
}

.result_book_add_button { 
	
	width: 100%;
	float: left;
	clear: both;
	cursor: pointer; 
	color: $dark_blue;
	background: $light_blue;	
	
	&:hover { 
		background: darken($light_blue, 10%); 
		@include transition;
	}

	&:active { 
		background: darken($light_blue, 15%); 
		@include transition;
	}
}

.result_book_add_button_static {

	@extend .result_book_add_button;	
	background: $green;
	color: $light; 
	cursor: default;
	 
	&:hover {
		background: $green; 
	}

	&:active {
		background: $green; 
	}
}

$add_button_font_size: 13px;

.result_book_add_button_text { 
	
	height: 13px;
	display: block;
	float: left;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	font-family: MotorOil; 
	color: inherit; 
	font-size: $add_button_font_size;
	width: 80%;
	padding: ((( 47px-$add_button_font_size) / 2) - 1px) 10%;
}

.with-icon-added-to-sell-basket-tick { 

	@extend .result_book_add_button_text;
	
	&:before { 
		text-transform: lowercase;
		font-size: $add_button_font_size;
		content:"t";
		color: inherit; 		
	}
}

.result_book_extra_options_buttons { 
	  
	float: left;
	clear: both;
	width: 100%;
	opacity: 0;
	margin: 13px 0 0;
	font-size: 15px;
	color: $black_gray;
}

.result_book_added_book_sell_button { 
	
	padding: 7px 2%;
	width: 43%;
	text-align: center;
	@include border-radius(2px);
	float: left;
	margin:0 3% 0 0;
	cursor: pointer;
	background: $light; 
	@include box-shadow(1px, 1px, 2px, 0px, rgba(0,0,0, 0.1));
	
	&:hover {

		@include box-shadow(1px, 1px, 2px, 0px, rgba(0,0,0, 0.2));
	}

	&:active {

		@include box-shadow(1px, 1px, 2px, 0px, rgba(0,0,0, 0.1));
	}
}

.result_book_added_book_add_again_button { 
	
	@extend .result_book_added_book_sell_button;
	
	float: right;
	margin-left: 0 0 0 3%;
	background: $dark_gray;
}

.with-icon-sell-now-arrow { 
	
	position: absolute;
	margin: -20px 0 0 25px;
	
	&:before { 
		content:"u";
		color: $light;
	}
}

.with-icon-add-again { 
	@extend .with-icon-sell-now-arrow;
	
	&:before { 
		color: $dark_gray;
	}
}

@import "search.book.expanded";