.bus_control_print {
	width : 210mm;
	height: 297mm;
	float: left;
}

.bus_control_print_name {
	position: relative;
	top: 40mm;
}

.bus_control_print_cheque_name {
	position: relative;
	top: 80mm;
}

.bus_control_print_cheque_quote_text {
	position: relative;
	top: 120mm;
}

.bus_control_print_cheque_date {
	position: relative;
	top: 180mm;
}

.bus_control_print_cheque_quote {
	position: relative;
	top: 240mm;
}