$bus_control_width: 40%;

.bus_control_wrap {
	display: none;
	width: 100%;
	height: 100%;
	float: left;
	background: $light_monochrome;
	color: $black_gray;
	// position: fixed;
	// z-index: 99;
}

.bus_control_slide {
	margin-top: 50px;
	width: 532px;
	margin: 0 auto;
	clear: both;
	@include pie-clearfix;
}

.bus_control_items {
	width: 100%;
	margin: 5px 0;
	float: left;	
}

.bus_control_item {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}

.bus_control_item_part { 
	display    : inline-block;
	float      : left;
	background : transparent;
	font-family: inherit;
	font-size  : inherit;
	line-height: inherit;
	border     : none;
	color      : inherit;
	vertical-align : middle;
	margin     : 0;
	padding    : 0;
}

.bus_control_item_isbn {
	@extend.bus_control_item_part;
	width: 22%;
}
.bus_control_item_condition {
	@extend.bus_control_item_part;
	position: relative;
	top: -2px;
	width: 5%;	
}

.bus_control_item_title {
	@extend.bus_control_item_part;
	width: 48%;
}

.bus_control_item_total {
	@extend.bus_control_item_part;
	position: relative;
	top: -2px;
	width: 10%;
}

.bus_control_remove {
	@extend.bus_control_item_part;
	cursor: pointer;
	text-align: right;
	width: 15%;
	&:hover {
		text-decoration: underline;
	}
}

.bus_control_input {
	width       : 28%;
	margin      : 40px 1% 0;
	padding     : 5px 1%; 
	font-size   : 16px;
	line-height : 16px;
	background  : $light_monochrome;
	border      : 1px solid $black_gray;
	color       : $black_gray;
	display     : inline-block;
	float       : left;
	box-shadow  : none;
	@include border-radius( 2px);
}

.bus_search {
	@extend.bus_control_input;
	float: right;
}

.bus_control_progress {
	width: 100%;
	margin: 10px 0;
	padding: 5px 1%;
	font-size: 16px;
	line-height: 16px;
	text-align: right;
	float: left;
	clear: both;
	color: $black_gray;
}

.bus_control_progress_text {
	display: inline;
	cursor:pointer;
	margin-left: 3px;
	&:hover { 
		text-decoration: underline;
	}
}

.bus_control_total {
	@extend.bus_control_items;
	background  : transparent; 
	border      : none;
	outline     : none;
	box-shadow  : none;
	font-family : inherit;
	font-size   : inherit;
	line-height : inherit;
	padding-top : 10px;
	text-align  : right;
	border-top  : 1px solid $black_gray;
	color       : $black_gray;
}

.bus_control_increment_wrap {
	width     : 32%;
	float     : left;
	margin    : 40px 0 0;
	text-align: center;
	clear     : both;
}

.bus_control_increment_part {
	display: inline-block;
	float: left;
}

.bus_control_increment_value {
	@extend.bus_control_increment_part;
	padding: 5px 1%;
	font-size: 16px;
	line-height: 16px;
	@include border-radius( 2px);
	background: $light_monochrome;
	border: 1px solid $black_gray;
	width: 70%;
	color: $black_gray;
	float: left;
	clear: both;
}

.bus_control_spell_sum {
	@extend.bus_control_input;
}

.bus_control_increment_minus {
	@extend.bus_control_increment_part;
	width: 5%;
	padding: 0 2.5%;
	cursor: pointer;
}

.bus_control_increment_plus {
	@extend.bus_control_increment_minus;
}

@import "stock.bus.print";