.stock_table { 
	width   : 100%;
	height  : 500px;
	padding-top: 34px;
	float   : left;
	overflow: hidden;
}

.stock_table_wrap {
	width: $stock_width;
	margin: 20px auto;
	@include pie-clearfix;
}

.stock_table_row_option { 
	position   : absolute;
	float      : left;
	background : $black_gray;
	z-index    : 2;
	width      : 20px;
	margin-left: -20px;
}


.stock_table_move_wrap { 
	position: relative;
	float: left;
	display: block;
}

.stock_table_titles {
	width         : auto;
	float         : left;
	position      : relative; 
	margin-top    : -34px;
	background    : $light_monochrome;

}

.stock_table_title {
	display   : inline-block;
	font-size : 14px;
	float     : left;
	width     : 130px;
	padding   : 10px;
	text-transform: uppercase;
}

.stock_table_option { 
	position   : absolute;
	float      : left;
	width      : 100px;
	height     : 20px;
	margin-left: -120px;
}

.stock_table_option_box { 
	position: absolute;
	float   : left;
	height  : 180px;
	width   : 180px;
	padding : 20px;
	border  : 1px solid $black_gray;
	background : $light_monochrome;
	z-index : 12;
}

.stock_table_option_box_description { 
	float      : left;
	width      : 100%;
	font-style : italic;
	color      : $black_gray;
	font-size  : 12px;
	line-height: 14px;
	margin-bottom: 10px;
}

.stock_table_option_box_input { 
	float: left;
	@extend.stock_input;
}

.stock_table_field {
	background : none;
	font-family: inherit;
	font-size  : 12px;
	line-height: 16px;
	width      : 126px;
	padding    : 10px;
	height     : 96px;
	resize     : none;
	border     : 2px solid $light_monochrome;
	&:focus { 
		outline: none;
	}
}

.stock_table_field_used { 
	@extend.stock_table_field;
	outline: 2px solid $black_gray;
}

.stock_table_field_selected {
	@extend.stock_table_field;
	background  : $middle_monochrome;
}