.stock_book {
	@extend.stock_slide;
}

.stock_book_upload_wrap {
	width  : 100%;
	float  : left;
	margin : 20px 0;
}

.stock_book_upload { 
	font-size  : 14px;
	line-height: 14px;
	color      : $black_gray;
	margin     : 0px;
	background : none;
	display: inline-block;
	float: left;
}

.stock_book_recalculate_count {
	@extend.stock_text;
	float: left;
	display: none;
}

.stock_book_upload_count { 
	@extend.stock_book_recalculate_count;
	margin-left: 15px;
}

.stock_book_options {
	width: 100%;
	float: left;
	margin-bottom: 20px;
}

.stock_book_options_button { 
	@extend.stock_button;
	float: left;
	display: inline-block;
}

.stock_book_header {
	width: 100%;
	float: left;
	margin: 7px 0;
}

.stock_book_header_part {
	float  : left;
	display: inline-block;
	width  : 6.5%;
	font-weight: bold;
}

.stock_book_part {
	float  : left;
	display: inline-block;
	width  : 6.5%;
}
 
.stock_book_options_small_input {
	margin-left: 10px;
	width: 35px;
	border: 1px solid $black_gray;
	background: $light_monochrome;
	padding-top: 2px;
	padding-bottom: 3px;
}

.stock_book_options_input {
	@extend.stock_book_options_small_input;
	width: 100px;
}

.stock_book_information {
	width: 1080px;
	margin: 10px auto;
}

.stock_book_information_pop {
	cursor: pointer;
	max-width: 98%;
	background: $black_gray;
	margin-top: 10px;
	margin-bottom: 10px;
	color: $light;
	font-size: inherit;
	padding: 10px 1%;
	@include border-radius(5px);
	line-height: inherit;
	font-family: inherit;
	clear: both;
	float: left;
	display: block;
}


.stock_book_export {
	width: 1080px;
	margin: 10px auto;
	float: none;
	display: block;
	background: transparent;
	padding: 0px;
	border: 1px solid $black_gray;	
}

.stock_book_list {
	width: 1080px;
	margin: 30px auto;
	overflow: auto;
}

.stock_book_list_columns {
	width: 4440px;
	float: left;
	padding: 10px 0;
}

.stock_book_list_column {
	width: 110px;
	margin-right: 10px;
	display: inline-block;
	float: left;
	font-weight: bold;
}

.stock_book_list_rows {
	@extend.stock_book_list_columns;
}

.stock_book_list_row {
	width: 100%;
	float: left;
	padding: 0 0 30px 0;
	margin-bottom : 29px;
	border-bottom : 1px solid $middle_monochrome;
}

.stock_book_list_box_wrap {
	width: 110px;
	margin-right: 10px;
	float: left;
	display: inline-block;
	font-size: 13px;
	line-height: 14px;
}


.stock_book_list_box {
	width: 100%;
	height: 100px;
	margin : 0;
	padding: 0;
	resize : vertical;
	background : transparent;
	font-family: inherit;
	font-size  : inherit;
	line-height: inherit;
	font-style : inherit;
	border     : none;
	color      : inherit;
}

.stock_book_list_box_info {
	cursor: default;
	font-size: 11px;
	line-height: 14px;
	margin-top: 10px;
	display: inline;
	float: left;
	padding: 3px 5px;
	background: $black_gray;
	color: $light;
	@include border-radius(3px);
}