.stock_freepost {
	width: 70%;
	margin: 10px 15%;
	float: left;
	overflow: auto;
}

.stock_freepost_ticket {
	width: 100%;
	float: left;
	padding: 10px 0;
}

.stock_freepost_ticket_part { 
	display: inline-block;
	float: left;
	width: 12.5%;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	margin-bottom: 10px;
}


.stock_freepost_ticket_header {
	float: left;
	width: 100%;
}

.stock_freepost_ticket_header_column {
	@extend.stock_freepost_ticket_part;
	font-weight: bold;
}

.stock_freepost_ticket_requests {
	width: 100%;
	float: left;
}

.stock_freepost_ticket {
	width: 100%;
	float: left;
}

.stock_freepost_ticket_column {
	@extend.stock_freepost_ticket_part;
}