.bus_control_print {
	width : 210mm;
	height: 297mm;
	border-right: 1px solid $black_gray;
	float: left;
	display: none;
}

.bus_control_print_name {
	position: absolute;
	top: 70.8mm;
	left: 10mm;
}

.bus_control_print_books { 
	display: none;
	position: absolute;
	top: 71mm;
	left: 100mm;
	width: 109.9mm;
	height: 80mm;
	border: 1px solid $black_gray;
}

.bus_control_print_cheque_name {
	position: absolute;
	top: 225mm;
	left: 3mm;
}

.bus_control_print_cheque_quote_text {
	position: absolute;
	top: 234mm;
	left: 6mm;
}

.bus_control_print_cheque_date {
	position: absolute;
	top: 209.2mm;
	left: 153.5mm;
}

.bus_control_print_cheque_quote {
	position: absolute;
	top: 227.8mm;
	left: 152.5mm;
}