.stock { 
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	float: left;
	background: $light_monochrome;
	color: $black_gray;
	z-index: 99;
	overflow: auto;
}

.stock_slide { 
	margin-top: 50px;
	width: 532px;
	margin: 0 auto;
	clear: both;
	@include pie-clearfix;
}

.stock_text { 
	font-size: 14px;
	line-height: 14px;
	color: $black_gray;
}

.stock_button { 
	font-size      : 14px;
	line-height    : 14px;
	color          : $black_gray;
	text-transform : uppercase;
	cursor         : pointer;
	margin         : 8px 10px 8px 0;
	display        : inline-block;
	// overflow       : hidden;
	&:hover { 
		text-decoration: underline;
	}
}

.stock_button_dropdown { 
	position  : relative;
	margin-top: 14px;
	&:hover { 
		text-decoration: underline;
	}
}

.stock_input { 
	margin-right: 10px;
	font-family : inherit;
	color       : $black_gray;
	border      : 1px solid $black_gray;
	background  : $light_monochrome;
	padding     : 5px 3px;
	font-size   : 16px;
	line-height : 16px;
}

@import "stock.bar";
@import "stock.bus";
@import "stock.post";
@import "stock.table";
@import "stock.user";
@import "stock.freepost";
@import "stock.book";
@import "stock.notification";