.stock_post {
	@extend.stock_bus;
}

.post_list_part { 
	@extend.bus_control_item_part;
}

.post_user {
	@extend.bus_control_items;
	// border-bottom: 1px solid $black_gray;
	margin-top: 20px;
	margin-bottom: 30px;
}

.post_user_id {
	@extend.post_list_part;	
	width: 22%;
}

.post_user_name {
	@extend.post_list_part;
	width: 53%;
}

.post_user_email {
	@extend.post_list_part;
	width: 25%;
}


.post_search {
	margin-top: 50px;
	width: 532px;
	margin: 0 auto;
	clear: both;
	@include pie-clearfix;
}

.post_books {
	@extend.bus_control_items;
}

.post_book { 
	@extend.bus_control_item;
}

.post_book_isbn {
	@extend.bus_control_item_isbn;
}

.post_book_condition {
	@extend.bus_control_item_condition;
}

.post_book_title {
	@extend.bus_control_item_title;
}

.post_book_quote {
	@extend.bus_control_item_total;
}

.post_book_remove {
	@extend.bus_control_remove;
}

.post_book_total {
	@extend.bus_control_total;
}

.post_user_search {
	@extend.bus_control_input;
}

.post_book_search {
	@extend.bus_control_input;
}

.post_submit_credit { 
	width         : 28%;
	margin        : 40px 1% 0;
	padding       : 5px 1%; 
	font-size     : 16px;
	line-height   : 16px;
	float         : left;
	display       : inline-block;
	cursor        : pointer;
	// text-transform: uppercase;
	&:hover {
		text-decoration: underline;
	}
}