.stock_book {
	width      : 90%;
	margin     : 10px 5%;
	float      : left;
	font-size  : 12px;
	line-height: 14px;
}

.stock_book_options {
	width: 100%;
	float: left;
	margin-bottom: 15px;
	font-size: 11px;
	line-height: 11px;
}

.stock_book_options_button { 
	padding: 5px 10px;
	background: $black_gray;
	color  : $light_monochrome;
	float  : left;
	display: inline-block;
	cursor : pointer;
	@include border-radius(3px);
}

.stock_book_header {
	width: 100%;
	float: left;
	margin: 7px 0;
}

.stock_book_header_part {
	float  : left;
	display: inline-block;
	width  : 6.5%;
	font-weight: bold;
}

.stock_book_part {
	float  : left;
	display: inline-block;
	width  : 6.5%;
}

.stock_book_options_small_input {
	margin-left: 10px;
	width: 35px;
	border: 1px solid $black_gray;
	background: $light_monochrome;
	padding-top: 2px;
	padding-bottom: 3px;
}

.stock_book_options_input {
	@extend.stock_book_options_small_input;
	width: 100px;
}

.stock_book_sku_header {
	@extend.stock_book_header_part;
}

.stock_book_section_header {
	@extend.stock_book_header_part;
}

.stock_book_level_header {
	@extend.stock_book_header_part;
}

.stock_book_number_header {
	@extend.stock_book_header_part;
}

.stock_book_external_product_id_header {
	@extend.stock_book_header_part;
}

.stock_book_external_product_id_type_header {
	@extend.stock_book_header_part;
}

.stock_book_item_name_header {
	@extend.stock_book_header_part;
}

.stock_book_author_header {
	@extend.stock_book_header_part;
}

.stock_book_binding_header {
	@extend.stock_book_header_part;
}

.stock_book_publication_date_header {
	@extend.stock_book_header_part;
}

.stock_book_standard_price_header {
	@extend.stock_book_header_part;
}

.stock_book_quantaty_header {
	@extend.stock_book_header_part;
}

.stock_book_condition_type_header {
	@extend.stock_book_header_part;
}

.stock_book_product_description_header {
	@extend.stock_book_header_part;
}

.stock_book_main_image_url_header {
	@extend.stock_book_header_part;
}

.stock_book_item {

	width: 100%;
	float: left;
	margin-top: 15px;
	padding-bottom: 20px;
	margin-bottom: 15px;
	border-bottom: 1px solid $middle_monochrome;
}

.stock_book_sku {
	@extend.stock_book_part;
}

.stock_book_section {
	@extend.stock_book_part;
}

.stock_book_level {
	@extend.stock_book_part;
}

.stock_book_number {
	@extend.stock_book_part;
}

.stock_book_external_product_id {
	@extend.stock_book_part;
}

.stock_book_external_product_id_type {
	@extend.stock_book_part;
}

.stock_book_item_name {
	@extend.stock_book_part;
}

.stock_book_author {
	@extend.stock_book_part;
}

.stock_book_binding {
	@extend.stock_book_part;
}

.stock_book_publication_date {
	@extend.stock_book_part;
}

.stock_book_standard_price {
	@extend.stock_book_part;
}

.stock_book_quantaty {
	@extend.stock_book_part;
}

.stock_book_condition_type {
	@extend.stock_book_part;
}

.stock_book_product_description {
	@extend.stock_book_part;
}

.stock_book_main_image_url {
	@extend.stock_book_part;
}