.stock_table { 
	width   : 100%;
	height  : 500px;
	padding-top: 34px;
	float   : left;
	overflow: hidden;
}

.stock_table_wrap {
	width: $stock_width;
	margin: 20px auto;
	@include pie-clearfix;
}

.stock_table_row_option { 
	position   : absolute;
	float      : left;
	background : $black_gray;
	width      : 20px;
	height     : 20px;
	margin-left: -20px;
}


.stock_table_move_wrap { 
	position: relative;
	float: left;
	display: block;
}

.stock_table_titles {
	width         : auto;
	float         : left;
	position      : relative; 
	margin-top    : -34px;
	background    : $light_monochrome;

}

.stock_table_title {
	display   : inline-block;
	font-size : 14px;
	float     : left;
	width     : 130px;
	padding   : 10px;
	text-transform: uppercase;
}

.stock_table_option { 
	position   : absolute;
	float      : left;
	width      : 100px;
	height     : 20px;
	margin-left: -120px;
	// background : $black_gray;
}

// .stock_table_row_option { 
// 	float     : left;
// 	margin    : 51px 0;
// 	border    : 3px solid $black_gray;
// 	width     : 12px;
// 	height    : 12px;
// 	cursor    : pointer;
// 	@include border-radius(50px);
// 	&:hover { 
// 		background: $black_gray;
// 	}
// } 

// .stock_table_row_option_selected { 
// 	float     : left;
// 	background: $black_gray;
// 	margin    : 51px 0;
// 	border    : 3px solid $black_gray;
// 	width     : 12px;
// 	height    : 12px;
// 	cursor    : pointer;
// 	@include border-radius(50px);
// } 

.stock_table_field {
	background : none;
	font-family: inherit;
	font-size  : 12px;
	line-height: 16px;
	width      : 130px;
	padding    : 10px;
	height     : 100px;
	resize     : none;
	border     : none;
	&:focus { 
		outline: 2px solid $black_gray;
	}
}

.stock_table_field_selected {
	outline: 2px solid $black_gray;
}