.thank_you_circle_wrap {
	
	@include circle(180px);
	position: absolute;
	float: left;
	background: $green;
	top: 300px + $bar_height;
	margin-left: 20px;
	color: $light; 
	@include rotate(-23);
}

.with-icon-thank-you-corn {
	
	position: relative;
	text-align: center;
	width: 100%;
	float: left;
	margin-bottom: -20px;

	&:before { 
		
		position: relative;
		top: 5px;
		font-size: 20px; 
		color: $light; 
		content: "5";
	}
}

.thank_you_circle_text_wrap {
	
	width: 60%;
	float: left;
	position: relative;
	left: 20%;
	top: 30px;
	text-align: center;
	padding: 12px 0;
	border-top: 1px solid $light;
	border-bottom: 1px solid $light;
}

.thank_you_circle_text_header {
	
	width: 120%;
	position: relative;
	left: -10%;
	font-family: MotorOil;
	font-size: 17px;
	line-height: 20px;   
	
	&:before {
		content:"- ";
	}

	&:after {
		content:" -";
	}
}

.thank_you_circle_text {
	
	width: 140%;
	position: relative;
	left: -20%;
	font-size: 16px;
	line-height: 20px;  
}