.thank_you_banner_wrap {

	width: 61.5%;
	margin: 0 auto;
	position: relative;
	z-index : -1;
}

.thank_you_banner {
	
	@include width-model(80%);
	padding-top: 80px;
	padding-bottom: 25px;
	float: left;
	background: $light_blue;
}

.with-icon-thank-you-icon-leaf {
	
	position: relative;
	width: 100%;
	font-size: 30px;
	line-height: 30px;
	margin-bottom: -30px;   
	text-align: right;

	&:before { 

		color: $green; 
		content: "6";
	}
}

.thank_you_banner_title_one {
	
	font-family: MotorOil;
	font-size: 70px;
	line-height: 70px;
	text-align: center;
	word-spacing: 5px;
	text-transform: uppercase;
	color: $light;
}

.thank_you_banner_title_two {
	
	font-family: MotorOil;
	text-align: center;
	text-transform: uppercase;
	font-size: 28px;
	line-height: 28px; 
	word-spacing: 4px;
	letter-spacing: 2px;
	margin: -8px 0 0 20px;
	color: $light;
}

.thank_you_banner_summary {
	
	width: 90%;
	margin: 20px auto;
	font-family: MotorOil;
	font-size: 16px;
  	line-height: 22px;
  	color: $dark_blue; 
  	text-align: justify;
}

.thank_you_banner_summary_underline {

	text-decoration: underline;
}

.thank_you_banner_paragraph {
	
	width: 90%;
	margin: 20px auto;
	color: $dark_blue;
	font-size: 16px;
	line-height: 22px;   
	text-align: justify;
	
	strong { 

		font-weight: bold; 
	}
}

.with-icon-thank-you-bottom-arrow {
	
	width: 100%;
	overflow: hidden;
	margin-bottom: 30px;
	float: left;
	clear: both;

	&:before {
			
		position: relative;
		top: -1px; 
		font-size: 77px;
		color: $light_blue; 
		content: "0";
	}
}