.with-icon-not-valid-field { 

	height: 25px;
	width: 25px;
	float: left;
	display: none;
	position: relative;
	z-index: 0;
	margin: -30px 0 0 -20px;
	background: $light_blue; 
	cursor: pointer;
	
	&:before { 
		
		position: relative;
		font-size: 24px; 
		top: 0px;
		left: 2px;  
		color: $dark_blue; 
		content:"X";
	}
}

.field_box_input_half_wrap {
	
	display: inline-block;
	float: left;
	width: 45%;
	margin: 0 5% 10px 0;
}

.field_box_input_title {
	
	float: left;
	font-size: 12px;
	color: $black_gray; 
	font-weight: bold;  
	margin: 25px 0 5px 18px;
}

.field_box_input {

	@include reset-input;
	background: $dark_gray;
	position: relative;
	z-index: 1;
	height: 16px;
	clear: both;
	float: left;
	margin: 7px 0 0;
	padding: 10px 5%;
	width: 90%;
	@include box-shadow( -1px, 1px, 1px, 0px, rgba(0,0,0, 0.2 ), inset);
	@include border-radius(25px);
	color: $black_gray;
	
	&:focus { 
		
		color: $black_gray; 
	}		
}

.field_box_input_small {

	@extend .field_box_input;
	display: inline-block;
	width: 40%;
}

.field_box_input_small_button { 

	width: 30%;
	line-height: 16px;
	cursor: pointer;
	padding: 14px 5% 10px;
	font-size: 13px;
	font-family: MotorOil;
	vertical-align: middle;  	
	text-transform: uppercase; 
	margin: 3px 0 0;
	text-align: center;
	float: right;
	display: inline-block;
	background: $light_blue;
	color: $dark_blue;  
}	

.with-icon-field-box-house { 
	
	margin: 0 0 0 5px;
	&:before { 
			
		position: relative;
		top: -1px; 
		content:"#";
	}
}

.field_box_input_extra_text {

	display: block; 
	float: left;	
	margin: 15px 10px 13px 15px;
	font-size: 13px; 
	color: $black_gray; 
}

.field_box_input_extra_text_highlight { 

	font-weight: bold;
	color: $black_gray;  
}