.input_box_disclaimer { 

	width: 100%;
	margin-bottom: 100px;
	float: left;	
}	

$input_box_dispclaimer_box_size: 12px;

.input_box_disclaimer_box { 
	
	position: absolute;
	cursor: pointer;
	width: $input_box_dispclaimer_box_size;
	height: $input_box_dispclaimer_box_size;
	background: $black_gray;	
}	

.with-icon-input-box-disclaimer-tick { 

	&:before { 
		
		font-size: 10px; 
		position: relative;
		top: -4px;		
		left: 1px; 
		content:"t";
		color: $light; 
	}
}	

.input_box_disclaimer_text_wrap { 
	
	width: 42%;
	margin: -4px 0 0 25px;
	font-size: 12px;	
	line-height: 20px;
	color: $black_gray;  
	float: left;
	display: inline-block;
}

.input_box_disclaimer_text {}

.input_box_disclaimer_small { 
	
	clear: both;
	display: inline-block;
	float: left;
	margin: 7px 0 0;
	padding: 7px 0 0;
	border-top: 1px solid $darkest_gray
}

.input_box_disclaimer_highlight { 
	
	clear: both;
	display: inline-block;
	float: left;
	font-weight: bold;
	margin: 10px 0 0;
	color: $light_blue;
	cursor: pointer;
	
	&:hover { 
		text-decoration: underline;
	}   
}

.input_box_button { 
	 
	float: right;
	cursor: pointer;
	font-family: MotorOil; 
	margin: 0 2%;
	font-size: 12px;
	padding: 14px 5%;
	letter-spacing: 1px; 
	background: $green;  
	color: $light; 
	text-transform: uppercase;
	@include transition;
	
	&:hover {

		background: darken($green, 5%);
		@include transition;
	}
}

.with-icon-input-box-continue { 

	&:before { 

		content:"";
	}
}