.field_box_wrap { 
	
	background: $light;	 
	width: 45%;
	padding: 15px 1.5%;
	display: inline-block;
	float: left;
	margin: 0 0 20px;
	// height: 360px;
}

.field_box_wrap_left {

	@extend .field_box_wrap;
	margin-left: 2%;
}

.field_box_wrap_full {
	
	@extend .field_box_wrap;
	width: 95%;
}
@import "user.continue";

@import "user.field.title";

@import "user.field.input";