@import "Imports/mixins/linear.garident";
@import "Imports/mixins/global.reset";
@import "Imports/mixins/input.reset";
@import "Imports/mixins/width.model";
@import "Imports/mixins/circle";
@import "Imports/mixins/box.shadow";
@import "Imports/front/bar";
$url: #{"<?php echo get_template_directory_uri(); ?>"};
 
@include global-reset;

@font-face {
    font-family: 'MotorOil';
    src: url('#{$url}/Framework/CSS/Includes/fonts/MotorOil.ttf');
}

body { 
	font-family: Tahoma;
}

.wrap {
	
	width: 100%;	
}

.header {

	width:inherit;
	float: left;
	height: 345px;  
	background: #9ad9e0;
}

.body {}