// 
// 
// 
// Meta Boxes Style 
// 
// 
// 
// 
// 

@import "Imports/import";

@mixin table-data($m, $padding : 10px, $desc : 5px) { 

	.#{$m}-table { 

		tr {
			border-top: 1px solid #eee;
		}

		th {

			width: 25%;
			padding: $padding;
		}

		td { 

			padding: $padding;
		}

		strong {

			float: left;
		}

		span {

			float: left;
			clear: both;
			margin: $desc 0 0;
			color: #999;
		}

		.#{$m}-td-select { 

			width: 97%;
			margin: 0 2% 0 0;
		}

		.#{$m}-td-text { 

			@extend .#{$m}-td-select;		
		}

		.#{$m}-td-radio-label { 

			margin: 0 12px 0 0;

			.admin-radio { 

				margin: 1px 6px 0 0;
			}
		}

		.#{$m}-td-font { 

			@extend .#{$m}-td-select;
			height: 75px;
			font-size: 25px;
			line-height: 30px;
			padding: 25px 5px 5px;
			margin: 20px 0;
			background: #eee;
			border: none;
			@include border-radius( 0px);
		}

		.lf-uploaded-image { 

			width: 23.5%;
		    height: auto;
		    display: inline;
		    margin: 7px 3.35% 7px 0;
		    border: 7px solid #dfdfdf;
		    cursor: pointer;
		    vertical-align: middle;
		    clear: none;
		}

		.lf-removable-image { 

			@extend .lf-uploaded-image;
			display: inline-block;
			float: left;
	    	background: url("./Includes/Images/minus.png") no-repeat scroll 50% 50% #999;

	    	img { 

			    height: auto;
			    width: 100%;
			    vertical-align: middle;


			    &:hover { 
			    	opacity: 0.15;
			    }
	    	}
		}

		.#{$m}-td-button-wrap { 

			width: 50%;
			margin: 10px 10px 10px 35%;
			float: left;
			display: block;
		}

		.#{$m}-td-texture-radio {

			width: 22%;
			height: 40px;
			display: inline-block;
			float: left;
			margin: 10px 1.5%  10px 1.5%;

			.#{$m}-td-texture-image { 

				display: inline-block;
				float: left;
				width: 82%;
				height: 40px;
				margin: 0 0 0 8%;
			}

			input { 

				width: 10%;
				display: inline-block;
				float: left;
			}
		}

		.#{$m}-td-load-more { 

			width: 80%;
			padding: 4px 10%;
			margin: 15px 0;
			background-color: #eee;
			text-align: center;
			float: left;
			color: #999;
			font-size: 12px;
			line-height: 12px;
			font-style: italic;
			@include single-box-shadow( rgba(0,0,0,0.1), 1px, 1px, 1px);
			@include opacity( 0.8);
			cursor: pointer;

			&:hover { 

				@include opacity( 1);
			}

			&:active { 
				margin-top: 16px;
				@include single-box-shadow( rgba(128,128,128,0.1), 1px, 1px, 1px, false, inset);
				@include opacity( 1);
			}
		}

		// Create style for slider control
		@include lf_slider($m, #363636, #eee, #f5f5f5 );


		
	}

}

@include colorpicker;


@include table-data('lf-admin-post-meta');

// 
// 
// 
// Admin Page Style
// 
// 
// 
// 
// 

@include table-data('lf-admin', 20px 20px 20px 0, 10px);

$a: lf-admin;

.#{$a}-form {

	.#{$a}-body { 

		background-color: #f5f5f5;
		float: left;
		width: 95%;
		padding: 0 2.5% 50px;
		@include border-radius( 0 0 5px 5px);
	

		.nav { 

			width: 20%;
			float: left;
			margin: 30px 0 20px;

			ul { 

				margin: 0 0 10px;

				li {

					margin: 0;

					a { 
						
						border-left: 1px solid   #dfdfdf;
						border-top: 1px solid    #dfdfdf;
						border-bottom: 1px solid #dfdfdf;
						@include border-radius( 7px 0 0 7px);
						padding: 10px;
						display: block;
						text-decoration: none;
						color: inherit;
						background-color: #f1f1f1;
						@include single-box-shadow(rgba(0, 0, 0, 0.1), -2px, 2px, 2px, 0 );

						&.open-page { 

							position: relative;
							left: 2px;
							padding-right: 8px;
							margin: -5px 0 -2px;
							border-color: #dfdfdf;
							background-color: #f5f5f5;
						}
					}
				}
			}
		}

		.holder { 

			width: 79%;
			float: left;
			border-left:   1px solid #dfdfdf;
			border-right:  1px solid #dfdfdf;
			border-bottom: 1px solid #dfdfdf;
			@include border-radius( 0 0 5px 5px);
			@include single-box-shadow(rgba(217, 217, 217, 0.3), -1px, 1px, 1px, 0 );
			padding: 20px 0 10px;

			.content { 

				width: 97.5%;
				padding-left: 2.5%;
				float: left;
				margin: 0 0 20px;
			}
		}

	}

	.#{$a}-header { 

		width: 95%;
		float: left;
		background-color: #222;
		color: #fff;
		padding: 20px 2.5%;
		margin: 20px 0 0;
		@include border-radius( 15px 15px 0 0);

		.#{$a}-header-wrap { 

			width: 80%;
			float: left;
			display: inline-block;

			ul { 

				clear:both;

				li {

					display: inline;
					float: left;
				}
			}

			span { 

				float: left;
				margin: 24px 0 20px 10px;
				vertical-align: baseline;
			}

			h1 {
				font-size: 24px;
				margin: 20px 0;
				display: inline;
				float: left;
			}
		}

		img { 

			display: inline-block;
			float: right;
			width: 8%;
			padding: 10px 2.5% 0;
			height: auto;
			@include single-transition(all, 400ms);
			&:hover { 
				@include opacity( 0.8);
				@include single-transition(all, 400ms);
			}
		}
	}


	.#{$a}-save { 

		width: 95%;
		padding: 10px 2.5%;
		clear: both;	
		float: left;
		background-color: #363636;

		.#{$a}-button { 

			@include wp_button('dark');
			padding: 5px 15px;
			margin-right: 10px;
		}
	}
}

@include jgrowl( #fff, #222 );