 $default-box-shadow-color: rgba(0, 0, 0, 0.1);
 $default-box-shadow-v-offset: 1px;
 $default-box-shadow-blur: 1px;

 @import "Imports/import";

 @include global-reset;

 @include lffontface;

 a { 

	color: inherit;
	text-decoration: none;

	&:hover {

		text-decoration: underline;
	}
}

 $w : 960px;
 $cp: 0 9px;

// Content


$post_meta_size: #{"<?php echo $o['post_meta_size'] . 'px'; ?>"};
$post_readmore_color: #{"<?php echo $o['post_readmore_color']; ?>"};
$post_readmore_text: #{"<?php echo $o['post_readmore_text']; ?>"};
$background_color: #{"<?php echo '#' . $o['background_color']; ?>"};
$background_texture: #{"<?php echo $o['background_texture']; ?>"};
$post_title_background: #{"<?php echo '#' . $o['post_title_background']; ?>"};
$post_title_texture: #{"<?php echo $o['post_title_texture']; ?>"};
// Header style
$show_title: #{"<?php echo $o['show_title']; ?>"};
$show_logo: #{"<?php echo $o['show_logo']; ?>"};
$title_font: #{"<?php echo $o['title_font']; ?>"};
$title_style: #{"<?php echo $o['title_style']; ?>"};
$title_weight: #{"<?php echo $o['title_weight']; ?>"};
$title_size: #{"<?php echo $o['title_size'] .'px'; ?>"};
$title_color: #{"<?php echo $o['title_color']; ?>"};
$logo_size: #{"<?php echo $o['logo_size'] .'px'; ?>"};
// Menu
$menu_text_font: #{"<?php echo $o['menu_text_font']; ?>"};
$menu_text_size: #{"<?php echo $o['menu_text_size'] . 'px'; ?>"};
$menu_text_weight: #{"<?php echo $o['menu_text_weight']; ?>"};
$menu_text_style: #{"<?php echo $o['menu_text_style']; ?>"};
$menu_text_color: #{"<?php echo '#' . $o['menu_text_color']; ?>"};
$menu_background: #{"<?php echo '#' . $o['menu_background']; ?>"};
$menu_hover_color: #{"<?php echo '#' . $o['menu_hover_color']; ?>"};
// Formats
// Post title box



$prefix : liquidflux;
$prefix2: lf;

.#{$prefix}-wrap-everything {

	width: 100%;
	background: $background_color $background_texture;
	@include pie-clearfix;

}


//
//
//
//	Header
//	
//	
//	

.#{$prefix}-header { 

	width : $w;
	margin: 0 auto;
	clear: both;
	padding: 21px 0;
	@include pie-clearfix;

	.#{$prefix}-header-title {

		display: $show_title;
		float: left;

		h1 { 
			font-family: $title_font;
			font-style: $title_style;
			font-weight: $title_weight;
			font-size: $title_size;
			line-height: $title_size;
			color: $title_color;

			a {
				text-decoration: none;
				color: inherit;
			}
		}
	}
	
	.#{$prefix}-header-logo {

		display: $show_logo;
		float: left;
		margin: 0 14px;

		img { 
			height: $logo_size;
			width: auto;
		}
	}
	
	.#{$prefix}-header-ad-banner {

		display:inline-block;
		float: left;
		margin: 0 14px;
		width: 468px;
		height: 60px;
	}

	.#{$prefix}-header-ad-leaderboard {

		@extend .#{$prefix}-header-ad-banner;
		width: 728px;
		height: 90px;
	}

}

//
//
//	Menu 
//	
//	
//

.#{$prefix}-menu-wrap { 

	width: 100%;
	display: block;
	float: left;
	clear: both;
	background-color: $menu_background;
	@include pie-clearfix;

	.#{$prefix}-menu-holder { 

		width: $w;
		margin: 0px auto;
		padding: 0;
		display: block;
		color: $menu_text_color;
		clear: both;
		font-family: $menu_text_font;
		font-size: $menu_text_size;
		font-style: $menu_text_style;
		font-weight: $menu_text_weight;
		@include pie-clearfix;

		@include _menu( $prefix, menu-navigation-thin, 14px, 132px, $menu_hover_color, $menu_background );

		@include _menu( $prefix, menu-navigation-medium, 21px, 118px, $menu_hover_color, $menu_background );

		@include _menu( $prefix, menu-navigation-thick, 28px, 104px, $menu_hover_color, $menu_background );
	}

}

//
//
//
//	Post Title box
//	
//	
//	

$post_title_background: #{"<?php echo '#' . $o['post_title_background']; ?>"};
$post_title_texture: #{"<?php echo $o['post_title_texture']; ?>"};
$post_title_font: #{"<?php echo $o['post_title_font']; ?>"};
$post_title_size: #{"<?php echo $o['post_title_size'] . 'px'; ?>"};
$post_title_style: #{"<?php echo $o['post_title_style']; ?>"};
$post_title_weight: #{"<?php echo $o['post_title_weight']; ?>"};
$post_title_color: #{"<?php echo '#' . $o['post_title_color']; ?>"};
$post_title_meta_color: #{"<?php echo '#' . $o['post_title_meta_color']; ?>"};

.lf-core-content-post-format-head-wrap { 
	
	// width: 92%;
	// padding: 12px 4% 24px;
	width: 960px - ( 21px * 2);
	display: block;
	padding: 12px 21px 24px;
	overflow: hidden;
	background: $post_title_background $post_title_texture;
	color: $post_title_color;
	@include single-box-shadow();
	@include pie-clearfix;


	.lf-core-content-post-format-head-holder-wrap { 

		display: block;
		float: left;
		@include pie-clearfix;

			.lf-posttitle { 

				margin: 24px 0 14px; 
				font-family: $post_title_font;
				font-size: $post_title_size;
				line-height: $post_title_size;
				font-style: $post_title_style;
				font-weight: $post_title_weight;

				a {

					text-decoration: none;
					color: inherit;

					&:hover {

						text-decoration: none;
						border-width: 4px;
						border-bottom-style: solid;	
					}	
				}
			}

			.lf-time-meta-wrap {

				color: $post_title_meta_color;
				font-size: $post_meta_size;
				line-height: $post_meta_size;

				.lf-meta-text {

					margin: 0 0 0 24px;

					a { 

						margin: 0 5px;
					}
				}

				.lf-meta-text-comp {

					margin: 0 0 0 7px; 
				}

				.lf-next-to-icon { 

					margin: 0 3px;	
				}
			}

			

	}
}

//
//
//
//	Post Text box
//	
//	
//	

$inner_post_title_weight: #{"<?php echo $o['inner_post_title_weight']; ?>"};
$inner_post_title_style: #{"<?php echo $o['inner_post_title_style']; ?>"};
$inner_post_title_size: #{"<?php echo $o['inner_post_title_size'] . 'px' ; ?>"};
$inner_post_title_decoration: #{"<?php echo $o['inner_post_title_decoration']; ?>"};
$post_background: #{"<?php echo '#' . $o['post_background']; ?>"};
$post_highlight_color: #{"<?php echo '#' . $o['post_highlight_color']; ?>"};
$post_text_font: #{"<?php echo $o['post_text_font']; ?>"};
$post_text_size: #{"<?php echo $o['post_text_size'] . 'px'; ?>"};
$post_text_line_height: #{"<?php echo ( $o['post_text_size'] + 8 ) . 'px'; ?>"};
$post_text_color: #{"<?php echo '#' . $o['post_text_color']; ?>"};
$post_meta_color: #{"<?php echo '#' . $o['post_meta_color']; ?>"};
// Post Headers
$post_headers_font: #{"<?php echo $o['post_headers_font']; ?>"};
$post_headers_style: #{"<?php echo $o['post_headers_style']; ?>"};
$post_headers_weight: #{"<?php echo $o['post_headers_weight']; ?>"};
$post_h1_size: #{"<?php echo ( $o['post_text_size'] * 2.5 ) . 'px'; ?>"};
$post_h2_size: #{"<?php echo ( $o['post_text_size'] * 2 ) . 'px'; ?>"};
$post_h3_size: #{"<?php echo ( $o['post_text_size'] * 1.5 ) . 'px'; ?>"};

.lf-post-img-text-wrap { 

	width: 100%;
	float: left;
	@include pie-clearfix;

	.lf-core-content-body-text { 
		
		padding: 28px 21px 28px;
		font-family: $post_text_font;
		font-size: $post_text-size;
		line-height: $post_text_line_height;
		color: $post_text_color;
		background-color: $post_background;

		@include single-box-shadow();
		@include pie-clearfix();

		.lf-post-format-media-title { 

			font-family: $post_text_font;
			font-size: $inner_post_title_size;
			line-height: $inner_post_title_size;
			font-style: $inner_post_title_style;
			font-weight: $inner_post_title_weight;
			text-decoration: $inner_post_title_decoration;
			color: inherit;
			margin: 0 0 14px; 

			a {

				color: inherit;
			}
		}

		a {

			color: $post_highlight_color;
		}

		h1 { 
			margin: 0 0 3px;
			font-family: $post_headers_font;
			font-style: $post_headers_style;
			font-weight: $post_headers_weight;
			font-size: $post_h1_size;
			line-height: $post_h1_size;
			color: inherit;
		}

		h2 {
			@extend h1;
			font-size: $post_h2_size;
			line-height: $post_h2_size;
		}

		h3 { 
			@extend h1;
			font-size: $post_h3_size;
			line-height: $post_h3_size;
		}

		h4 { 
			@extend h1;
			font-size: $post_text-size;
			line-height: $post_text-size;
		}

		h5 {
			@extend h4;
		}

		h6 {
			@extend h4;
		}

		p { 
			margin: 0 0 17px;
			color: inherit;

			&:last-child { 
				margin: 0px;
			}
		}

		ul {

			margin: 0 0 17px 28px;
			color: inherit;
			list-style-type: disc;

			&:last-child { 
				margin: 0 0 0 28px;
			}
		}

		ol { 
			@extend ul;
			list-style-type: decimal;
		}
	}
}

//
//
//
//	Widget 
//	
//	

$widget_text_size: #{"<?php echo $o['widget_text_size'] . 'px'; ?>"};
$widget_text_line_height: #{"<?php echo ( $o['widget_text_size'] + 4 ) . 'px'; ?>"};
$widget_background: #{"<?php echo '#' . $o['widget_background']; ?>"};
$widget_color: #{"<?php echo '#' . $o['widget_color']; ?>"};
$widget_title_size: #{"<?php echo $o['widget_title_size'] . 'px' ; ?>"};
$widget_title_font: #{"<?php echo $o['widget_title_font']; ?>"};
$widget_title_style: #{"<?php echo $o['widget_title_style']; ?>"};
$widget_title_weight: #{"<?php echo $o['widget_title_weight']; ?>"};
$widget_highlight: #{"<?php echo '#' . $o['widget_highlight']; ?>"};

.#{$prefix}-widget { 
			
	@include pie-clearfix;
	@include single-box-shadow;
	display: block;
	padding: 21px;
	margin: 0 21px 42px;
	background-color: $widget_background;
	color: $widget_color;
	font-size: $widget_text_size;
	line-height: $widget_text_line_height;
	font-family: $post_text_font;

	h3 { 

	    margin: 0 0 14px;
	    font-size: 12px;
	    color: inherit;
	    font-family: $widget_title_font;
	    font-size: $widget_title_size;
	    line-height: $widget_title_size;
	    font-style: $widget_title_style;
	    font-weight: $widget_title_weight;
	}

	p {
		color: inherit;
		font-family: inherit;
		font-size: inherit;	
		line-height: inherit;
		@include pie-clearfix;
	}

	div { 

		@extend p;
	}

	ul {
		@extend p;
		li { 

			margin: 0 0 7px;
		}
	}

	a { 
		@extend p;
		color: $widget_highlight;
	}

	.#{$prefix}-widget-button { 

		color: $widget_background;
		background: $widget_color;
		padding: 7px;
		display: block;

		&:hover { 

			text-decoration: underline;
		}
	}

	.#{$prefix}-widget-field { 

		@extend .#{$prefix}-widget-button;
		margin: 7px 0;
		border: none;

		&:hover { 

			text-decoration: none;
		}
	}

	input[type="text"] { 

		@extend .#{$prefix}-widget-field;
	}

}

//
//
//
//
//	Content
//	
//	
//	

.#{$prefix}-content { 
	
	width: $w;
	margin: auto;
	@include pie-clearfix;

	.#{$prefix}-post-full { 

		@include pie-clearfix;

		article {
			display: block;
			float: left;		
			width: 100%;
			margin: 42px 0 28px;
		}
	}

	.#{$prefix}-post-third { 

		@extend .#{$prefix}-post-full;
		width: 619px;
		display: inline-block;
		float: left;

		article { 

			display: inline-block;
			width: 622px;
		}
	}

	.#{$prefix}-aside-third { 

		display: block;
		float: left;
		width: 320px;
		margin: 42px 0 0;
		@include pie-clearfix;

		.#{$prefix}-widget { 
			
			@extend .#{$prefix}-widget;
		}
	}

	.#{$prefix}-aside-half {

		@extend .#{$prefix}-aside-third;

		width: 480px;
	}

	.#{$prefix}-aside-quarter {

		@extend .#{$prefix}-aside-third;

		width: 240px;
	}
}

//
//
//
//	Post Formats
//	
//	
//	
//	

.lf-post-format-quote-wrap { 
	
	@extend .lf-core-content-post-format-head-wrap;
    padding: 28px 21px 28px;
	margin: 0 0 7px;
	position: relative;
	z-index: 10;

	// Quote image
	.post-format-quote-image { 
	
		width: 40px;
		height: 40px;
		display: inline;
		float: left;
		position: relative;
		margin: 2px 0 -42px 7px;
		
		&:before { 

			color: inherit;
			content: "6";
			font-size: 40px;
		}
	}
	
	/* // // Link */
	.post-format-link-image { 

		@extend .post-format-quote-image;
		margin: 3px 0 -45px 7px;

		&:before { 

			content: "$";
			text-align: center;
		}
	}
	
	.lf-post-format-quote-text { 
		
		display: inline;
		float: left;
		padding: 0 0 0 21px;
		margin: 0 0 0 72px;
		color: inherit;
		font-family: $post_title_font;
		font-style: $post_title_style;
		font-weight: $post_title_weight;
		border-left: {
			width: 1px;
			style: solid;
			color: $post_title_color;
		}	

		.lf-post-format-quote { 

			float: left;
			margin: 9px 0 10px;
			color: inherit;
			font-size: $post_text-size;
			line-height: $post_text_line_height;
		}
		
		.lf-post-format-quote-author { 

			font-size: $post_meta_size;
			line-height: $post_meta_size;		
			clear: both;
			float: left;
		}

	}
}

//
//
//
//	Post format image
//	
//	
//	

.lf-post-format-img { 

	width: 100%;
	height: auto;
	display: block;
	float: left;
	vertical-align: middle;
	z-index: 10;
    box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.1);
	@include single-box-shadow();
}

.lf-post-format-img-link { 
		
	float: left;
	position: relative;
	top: auto;
	padding: 2px 5px;
	margin: -53px 0 0 21px;
	cursor: default;
	z-index: 11;
	color: inherit;
	font-family: $post_title_font;
	font-style: $post_title_style;
	font-weight: $post_title_weight;
	background: $post_title_background $post_title_texture;
	color: $post_title_color;

	a {

		color: inherit;
		text-decoration: none;
	}
}

.post-arrow { 
	
	position: relative;
	float: right;
	margin: -22px 21px -30px;
	cursor: default;
	z-index: 500;

	&:before { 

		content: "^";
		font-size: 28px;
		line-height: 20px;
		color: $post_background;
	}
}


//
//
//
//	Body meta 
//
//
//

.lf-meta-text-tags {

	display: inline;
	float: right;
	padding: 21px 21px;
	margin: 21px 0 21px 14px;
	font-family: $post_text_font;
	font-size: $post_meta_size;
	line-height: $post_meta_size;
	color: $post_meta_color;
	background-color: $post_background;

	a { 
		color: inherit;
		text-decoration: none;
	}
	
	.lf-meta-edit { 

		margin-left: 12px;
		
		.post-edit-link { 

			&:hover { 

				text-decoration: none;
			}
			&:before { 

				content: "5"
			}
		}
	}
}

//
//
//
//	Comments
//	
//	
//	

$comments_text_color: #{"<?php echo '#' . $o['comments_text_color']; ?>"};
$comments_header_size: #{"<?php echo $o['comments_header_size'] . 'px'; ?>"};
$comments_highlight: #{"<?php echo '#' . $o['comments_highlight']; ?>"};

.lf-comments-wrap { 

	display: block;
	font-family: $post_text_font;

	.lf-comment-header-text { 

		display: inline-block;
		font-family: $post_text_font;
		background-color: $post_background;
		color: $post_text_color;
		padding: 21px;
		margin: 0 14px 14px 0;
		font-size: $comments_header_size;
		line-height: $comments_header_size;
		height: $comments_header_size;
		@include single-box-shadow;
		
	}

	.lf-comment-header-counter { 

		@extend .lf-comment-header-text;
		vertical-align: bottom;

		&:before { 

			content: "(";
			margin-left: 7px;
		}
	}


	.lf-comment-article { 

		display: block;
		clear: both;
		font-family: inherit;
		color: $comments_text_color;
		margin: 14px 0;
		padding: 21px;
		border-bottom: 3px solid $comments_highlight;
		@include single-box-shadow( rgba(0,0,0, 0.1), 1px, 1px, 5px, 1px, inset );
		@include border-radius( 5px 5px 0 0);
		@include pie-clearfix;

		.lf-comment-inner-wrap { 

			clear: both;
			display: block;
		}

		.children { 

			display: inline-block;
			margin: 7px 0 28px 20px;
			border-left: 1px solid $comments_highlight;
			position: relative;
			@include pie-clearfix;

			.lf-comment-article {

				margin-left: 0px;
				padding: 0;
				border-bottom: none;
				display: inline-block;
				@include single-box-shadow(none);
				@include border-radius( 0);

				.lf-comment-inner-wrap { 

					display: inline-block;
					padding: 28px;
					border-bottom: 3px solid $comments_highlight;
					margin-left: 14px;
					padding: 21px;
					@include single-box-shadow( rgba(0,0,0, 0.1), 1px, 1px, 5px, 1px, inset );
					@include border-radius( 5px 5px 0 0);
				}

				&:before { 
					border-bottom: 1px solid $comments_highlight;
					content: " ";
					display: block;
					float: left;
					position: relative;
					top: 40px;
					width: 14px;
				}

				.children { 

					margin: 14px 0 28px 68px;
				}
			}
		}

		.lf-comment-text { 
		
			width: 100%;
			display: block;
			float: left;
			margin-top: 14px;

			p { 

				margin: 0 0 17px;
			}
		}

		.lf-comment-avatar { 

			display: inline;
			float: left;
			margin: 0 14px 0 0;
			
			img { 

				vertical-align: middle;
				@include border-radius( 40px);
				@include single-box-shadow( rgba(0,0,0, 0.2), 1px, 1px 2px);
			}
		}
		
		.lf-reply { 

			margin: 0 7px;
			display: inline;
			float: left;

			a { 
				cursor: pointer;
				color: inherit;
				text-decoration: none;

				&:hover { 

					text-decoration: underline;
				}
			}

			&:before { 

				content: "o";
				margin: 0 3px 0 0;
			}
		}
		
		.lf-author { 
		
			@extend .lf-reply;
			&:before {

				content: "1";
			}	
		}
		
		.lf-comment-date { 

			@extend .lf-reply;
			&:before {

				content: "2";
			}
		}

		.lf-comment-edit { 

			@extend .lf-reply;
			color: inherit;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}

			&:before {

				content: "7";
			}
		}
	}
}

//
//
//
//	Comment Form
//	
//	
//	
//	
$form: lf-comment;
$comment_form_title_size: #{"<?php echo $o['comment_form_title_size'] . 'px'; ?>"};

.#{$form}-form-wrap { 

	display: block;
	@include pie-clearfix;
	margin: 28px 0 0;

	h3 { 

		float: left;
		font-size: $comment_form_title_size;
		line-height: $comment_form_title_size;
		color: $comments_text_color;
		margin: 17px;
		clear:both;

		a { 

			color: inherit;
		}
	}

	form {
		
		display: block;
		float: left;
		width: 100%;
		font-size: $post_text_size;
		line-height: $post_text_size;
		font-family: $post_text_font;
		@include pie-clearfix;

		.comment-form-author { 

			width: 100%;
			float: left;
			display: block;
			margin: 7px 0;

			label { 
				margin: 7px 7px 0;
				width: 58px;
				float: left;
				color: $comments_text_color;
				display: inline;

				&:after { 
					content: " :";
				}
			}

			.required { 
				display: none;
			}

			input { 
				@extend label;
				width: 250px;
				padding: 6px;
				border: 1px solid $post_background;
				background-color: $post_background;
				color: $post_text_color;
				margin: 0;
				@include single-box-shadow();

				&:focus { 

					border: 1px solid $post_text_color;
				}
			}
		}

		.comment-form-email { 
			@extend .comment-form-author;
		}
		.comment-form-url { 
			@extend .comment-form-author;
		}
		
		.#{$form}-form-textarea { 
		
			
			display: block;
			float: left;
			clear: both;
			font-family: inherit;
			font-size: inherit;
			color: $post_text_color;
			background-color: $post_background;
			font-height: $post_text_line_height;
		    margin: 7px 0 7px ( 58px + 14px );
		    padding: 14px;
		    border: 1px solid $post_background;
		    @include single-box-shadow();

		    &:focus { 

		    	border: 1px solid $post_text_color;
		    }
		}

		.logged-in-as { 

			display: block;
			float: left;
			clear: both;
		    margin: 7px 0 14px ( 58px + 14px );
			padding: 0;
			color: $comments_text_color;

			a { 

				color: inherit;
			}
		}

		.form-submit { 

			display: block; 

			input {
				clear: both;
				float: left;
				padding: 7px;
				margin: 7px 0 7px ( 58px + 14px );
				background-color: $post_text_color;
				color: $post_background;
				font-size: 14px;
				line-height: 14px;
				font-family: Georgia;
				cursor: pointer;
				border: none;

				&:hover { 

					text-decoration: underline;
				}
			}

		}

	}

}

//
//
//
// Slider
//
//
//
//

$slider : lf-slider;
$slider_background: #{"<?php echo '#' . $o['slider_background']; ?>"};
$slider_arrow_color: #{"<?php echo '#' . $o['slider_arrow_color']; ?>"};
$slider_text_color: #{"<?php echo '#' . $o['slider_text_color']; ?>"};
$slider_text_box_color: #{"<?php echo '#' . $o['slider_text_box_color']; ?>"};
$slider_caption_size: #{"<?php echo $o['slider_caption_size'] . 'px' ; ?>"};
$slider_caption_style: #{"<?php echo $o['slider_caption_style']; ?>"};
$slider_caption_weight: #{"<?php echo $o['slider_caption_weight']; ?>"};

.#{$slider}-background { 

	width: 100%;
	float: left;
	background-color: $slider_background;
	margin: 24px 0;

	.#{$slider}-wrap-regular {

		width: 960px;
		margin: 0 auto;
		overflow: hidden;

		.#{$slider}-wrap-full { 

			width: 100%;
			float: left;
			overflow: hidden;
		}	

		.#{$slider}-slide { 

			width: 100%;
			display: inline;
			float: left;

			img { 

				width: 100%;
				height: auto;
				vertical-align: middle;
				display: inline;
				float: left;
			}


			.#{$slider}-text-wrap { 

				display: block;
				position: relative;

				.#{$slider}-text {

					max-width: 300px;
					color: $slider_text_color;
					background-color: $slider_text_box_color;
					padding: 21px;
					margin: 21px;
					position: absolute;
					@include pie-clearfix;
					@include single-box-shadow( rgba( 0, 0, 0, 0.2), 1px, 1px );

					h3 {

						font-size: $slider_caption_size;
						line-height: $slider_caption_size;
						font-style: $slider_caption_style;
						font-weight: $slider_caption_weight;
						margin: 0;
					}

					p { 
						display: block;
						float: left;
						font-family: $post_text_font;
						font-size: $post_text_size;
						line-height: $post_text_line_height;
						margin: 17px 0;
					}

					a { 
						@extend p;
						background-color: $slider_text_color;
						color: $slider_text_box_color;
						padding: 7px;
						margin: 0 3px 0 0;
						text-decoration: none;

						&:hover { 
							text-decoration: underline;
						}
					}
				}
			}
		}

		.#{$slider}-direction-nav {

			height: 42px;
			text-align: right;
			margin: -42px 3px 0 0;

			li {

				position: relative;
				display: inline;
				z-index: 1000;
			}

			.#{$slider}-prev { 

				color: $slider_arrow_color;
				font-size: 32px;
				text-decoration: none;
				opacity: 0.7;

				&:hover { 
					opacity: 1;
				}

				&:before {

					content: "8";
				}
			}

			.#{$slider}-next {

				@extend .#{$slider}-prev;

				&:before {

					content: "9";
				}
			}

		}
	}

	.#{$slider}-wrap-full-width { 
		@extend .#{$slider}-wrap-regular;
		width: 100%;
	}

}

.#{$slider}-loading { 

	#lf-slide-hook { 
		height: 170px;
		visibility: hidden;
	}
}

//
//
//
//	Featured Image
//	
//	
//	
//	
.lf-featured-image {

	width: 240px;
	display: inline;
	float: left;
	padding: 14px;
	margin: 21px 21px 21px 0px;
	background-color: $post_background;

	a {
		width: 100%;
		display: block;
		float: left;
		vertical-align: middle;
		position: relative;
		z-index: 2;
	}

	img { 
		height: auto;
		width: 100%;
		vertical-align: middle;
		position: relative;
		cursor: pointer;
	}
}


//
//
//
//
//	Featured image with lightbox 
//	
//	
//	

$post_image_hover_color: #{"<?php echo '#' . $o['post_image_hover_color']; ?>"};

.lf-featured-icon-wrap { 

	width: 100%;
	height: 100%;
	display: block;
	float: left;
	position: relative;
	vertical-align: middle;
	background: $post_image_hover_color url("/wp-content/themes/WhiteWhale/Framework/CSS/Includes/images/open.png") 50% 50% no-repeat;
	z-index: 1;

	img { 

		@include single-transition( all, 400ms );

		&:hover { 
			@include opacity( 0.2);
			@include single-transition( all, 400ms );
		}
	}

	.lf-post-format-img {

		@extend img;
	}
}


//
//
//
//	Gallery
//	
//	
//	

.lf-post-format-gallery { 


	.lf-post-format-gallery-dot { 

		position: absolute;
		margin: -39px 28px 0;
		cursor: pointer;
		z-index: 1;
		color: $post_background;
		
		.post-format-gallery-dot { 

			margin: 0 5px 0 0;

			&:hover { 
				@include opacity( 1 );
			}

			&:before { 

				content: "#";
				font-size: 12px;
				color: $post_background;
			}
		}
	}


	.post-format-right-arrow { 

			float: right;
			@include opacity( 0.8 );
			position: relative;
			vertical-align: middle;
			top: 50%;
			margin: 0 0 -40px;
			z-index: 10;
			color: $post_background; 	

			&:hover { 

				@include opacity( 1 );
			}
			
			&:before {

				content: "9";
				font-size: 50px;
				cursor: pointer;
			}
	}

	.post-format-left-arrow { 
			
			@extend .post-format-right-arrow;
			float: left;

			&:before { 
				content: "8";
			}
	}
}



// 
// 
// 
// Player 
// 
// 
// 
// 

$play_w : 7%; 
$prog_w : 71%;
$mute_w : 13%;
$marg_v : 14px;
$marg_h : 1.5%;
$player_background: #{"<?php echo '#' . $o['player_background']; ?>"};
$player_highlight: #{"<?php echo '#' . $o['player_highlight']; ?>"};
$player_text: #{"<?php echo '#' . $o['player_text']; ?>"};

.jp-gui {

	.jp-interface {

		height: 42px;
		width: 100%;
		display: block;
		float: left;
		@include lf_garident( $player_background, $player_highlight );

		.jp-controls{ 

			display: inline;
			float: left;
			height: 42px;
			width: $play_w;
			span { 
				float: left;
				display: inline;
				line-height: $marg_v;	
			}

			.jp-play-hold { 
				z-index: 2;
				margin: 0 0 -25px;

				.jp-play {

					@include player();
					&:before {
						content: "'";
					}
				} 
			}	

			.jp-pause-hold { 
				.jp-pause {

					@include player();
					&:before { 
						content: "*";
					}
				}
			}
		}

		.jp-progress {

			width: $prog_w;
			height: $marg_v;
			display: inline;
			float: left;
			margin: $marg_v $marg_h;
			background-color: transparent;
			overflow: hidden;
			cursor: pointer;

			.jp-seek-bar {
				height: $marg_v;
				position: relative;
				display: block;
				z-index: 1;
				background-color: #44382d;
				@include border-radius( 25px, 25px );

				.jp-play-bar {
					height: $marg_v;
					display: block;
					background: #fff;
					@include border-radius( 25px, 25px );
				} 
			} 		
		}

		.jp-progress-shadow { 

			width: 100%;
			height: $marg_v;
			position: relative;
			display: block;
			margin: 0 0 -14px;
			background-color: transparent;
			@include border-radius( 25px, 25px );
			@include single-box-shadow( rgba(0, 0, 0, 0.8 ), 1px, 1px, 5px, 0px, true );
			z-index: 2;
		}

		.jp-mute {

			@include player( mute );
			&:before { 
				content: "+";
			}
		}

		.jp-unmute {

			@include player( mute );
			&:before { 
				content: ",";
			}
		}

		.jp-volume-bar {
			
			width: $mute_w;
			height: $marg_v;
			margin: $marg_v $marg_h;
			float: left;
			display: inline;
			background-color: #44382d;
			cursor: pointer;
			@include border-radius( 25px, 25px );

			.jp-volume-bar-value {
				
				height: $marg_v;
				background-color: #fff;
				cursor: pointer;
				@include border-radius( 25px, 25px );			
			} 
		}
	} 
}

.jp-no-solution {

	display: none;
}


.lf-self-video { 

	width: 100%;

}

.jp-video {

	width: 100%;
	@include block( l );
}

.jp-jplayer {	

	div {
		height: 0px;
		width: 0px;
	}
	
	img, video { 
		float: left;
	}
} 

.jp-video-play {

	width: 100%;
	background: transparent;
	cursor: pointer;
	overflow: hidden;

	.jp-video-play-icon {}
}


//
//
//
//	Author box
//	
//	
//	

.lf-article-author-inner-wrap-box { 

	display: block;
	float: left;
	margin: 0 0 28px;
	@include pie-clearfix;
	
	.lf-article-author-text-wrap {
		
		@include pie-clearfix;
		width: 50%;	
		display: inline-block;
		float: right;
		padding: 28px 21px;
		background: $post_title_background $post_title_texture;
		@include single-box-shadow;
	}
	
	.lf-author-img { 
		
		// border: 1px solid $post_background; 
		display: inline-block;
		background: $post_image_hover_color url("/wp-content/themes/WhiteWhale/Framework/CSS/Includes/images/open.png") 50% 50% no-repeat;
		float: left;
		height: 45px;
		width: 45px;
		margin-left: 7px;
		cursor: pointer;

		img { 
			
			height: 45px;
			width: 45px;
			vertical-align: middle;	
			@include single-transition( 400ms, all );			

			&:hover { 
				@include opacity( 0.2);
				@include single-transition( 400ms, all );			
			}
		}

	}

	p { 
		margin-left: 70px;
		color: $post_title_color;
		font-size: $post_text_size;
		line-height: $post_text_line_height;
		font-family: $post_text_font;	
	}
	
	h3 { 
		@extend p;
		margin-bottom: 7px;
		color: $post_title_meta_color;
		font-family: $post_title_font;
		font-style: $post_title_style;
		font-weight: $post_title_weight;
	}
}





/* // Pagnation // */
.lf-pagnation {

	margin: 0 0 12px;
	@include block( l );
}

.lf-pagnation-nav {

	@include block( l, ib );
}

.lf-pagnation-num,
.lf-pagnation-num-current {

	padding: 6px;
	margin: 0 6px;
}
















// /* portfolio and featured image lightbox - all to be adjusted */

// .lf-featured-image-opt {

// 	width: 100%;
// 	display: none;
// 	float: left;
// 	position: relative;
// 	text-align: center;
// 	margin: -48px 0 0;
// 	background-color: transparent;
// 	cursor: pointer;
// 	@include opacity( 0 );
// 	z-index: 3;

// 	&:hover { 
// 		opacity: 1;
// 	}
	
// }

// .lf-featured-image-opt-lightbox { 

// 	width: 100%;
// 	@include block( l );
// 	position: relative;
// 	text-align: center;
// 	margin: -54px 0 0;
// 	background-color: transparent;
// 	cursor: pointer;
// 	z-index: 3;
// }

// .lf-featured-image-opt-square-small { 

// 	height: 18px;
// 	width: 18px;
// 	display: inline-block;
// 	margin: 3px;
// 	border-width: 3px;
// 	border-style: solid;
// 	border-color: #fff;
// 	@include border-radius( 50px, 50px );
// }

// .lf-featured-image-opt-square-big { 

// 	height: 30px;
// 	width: 30px;
// 	display: inline-block;
// 	cursor: pointer;
// 	border-width: 3px;
// 	border-style: solid;
// 	border-color: #fff;
// 	@include border-radius( 50px, 50px );
// }

// .lf-featured-image-lightboxed {

// 	height: 85%;
// 	width: 85%;
// 	@include block( l );
// 	position: fixed;
// 	top: 2.5%;
// 	left: 5%;
// 	padding: 2.5%;
// 	text-align: center;
// 	z-index: 25;

// 	img {
// 		height: 100%;
// 		width: auto;
// 		z-index: 25;
// 		@include opacity(1);
// 		@include single-box-shadow();
// 	}
// }


// .lf-portfolio-piece-wrap {

// 	width: 100%;
// 	@include block( l );
// }

// .lf-portfolio-dimension-quarter,
// .lf-portfolio-dimension-half,
// .lf-portfolio-dimension-third {

// 	@include block( l, ib );
// 	min-height: 24px;	
// }

// .lf-portfolio-dimension-quarter {

// 	width: 22%;
// 	padding: 0 1.5%;
// }

// .lf-portfolio-dimension-half { 

// 	width: 47%;
// 	padding: 0 1.5%;
// }

// .lf-portfolio-dimension-third {

// 	width: 30%;
// 	padding: 0 1.65%;
// }

// .lf-portfolio-posttitle {

// 	margin: 24px 0 12px;
// }

// .lf-portfolio-posttitle a:hover  {

// 	text-decoration: none;
// 	border-bottom { 
// 		width: 4px;
// 		style: solid;
// 	}
// }

// .lf-portfolio-desc {

// 	width: 100%;
// 	padding: 24px 0;
// }

// .lf-portfolio-filter-bar {

// 	width: 95%;
// 	margin: 0 0 24px;
//     padding: 0 2.5%;
// }

// .lf-portfolio-filter-text,
// .lf-portfolio-filter-text-info {

// 	display: inline-block;
//     font-size: 0.75rem;
// 	cursor: pointer;
//     padding: 6px 12px;
// }

// .lf-portfolio-filter-text,
// .lf-portfolio-filter-text-info,
// .lf-portfolio-filter-text:hover,
// .lf-portfolio-filter-text-info:hover  {

// 	@include single-transition( all, 700ms );
// }

// .lf-portfolio-filter-text-info {

// 	font-style: italic;
// }


// .lf-portfolio-filter-hidden {

// 	display: none;
// }





//
//
//
//	Advert widgets
//	
//	
//	
.lf-resp-aside-wrap { 

	@include block( l, ib );
}

.lf-resp-widget-area { 

	width: 85.5%;
	@include block( l );
	padding: 0 5.25% 0 9.25%;
}

.lf-test-ad {

	height: 250px;
	width: 100%;
	background-color: #000;
}

.lf-ad-widget-dummy-ad {

	width: 70%;
	height: 10px;
	padding: 55px 15%;
	text-align: center;
	background-color: #ff3f3f;
}

.lf-ad-widget-dummy-ad-inner { 

	width: 100%;
	height: 10px;
	padding: 25px 0 35px;
	background-color:#ff3f4c;
}

.lf-ad-widget-link-ad { 

	width: 100%;
	height: 24px;
	text-align: center;
	background-color:#ff3f4c;
}

.lf-header-ad-wrap { 
	
	display: block;
	margin: 24px 0;
	z-index: 5;
}

.lf-header-leaderboard-ad { 

	height: 90px;
	width: 728px;
	margin: 0 auto;
	clear: both;
	background-color: #000;
}

.lf-header-banner-ad { 

	height: 60px;
	width: 468px;
	margin: 0 auto;
	clear: both;
	background-color: #000;
}



