@import "Imports/mixins/pie.clearfix";
@import "Imports/mixins/linear.garident";
@import "Imports/mixins/global.reset";
@import "Imports/mixins/input.reset";
@import "Imports/mixins/width.model";
@import "Imports/mixins/circle";
@import "Imports/mixins/box.shadow";
@import "Imports/mixins/radius.border";
@import "Imports/mixins/transition";
@import "Imports/mixins/font.import";
@import "Imports/mixins/media.query";

$url: #{"<?php echo get_template_directory_uri(); ?>"};
$bar_height: 52px;
$light_blue:#9ad9e0;
$green: #b4d65a;
$light_gray: #f6f6f6;
$middle_gray: #dadada;
$darkest_gray: #9F9F9F;
$even_darker_gray: #d1d1d1;
$dark_gray: #efefef;
$black_gray: #555;
$light: #fff;
$dark_blue: #3f7986;

$breakpoint_content_width: 79%;
$breakpoint_bar_width: 86%;

@include global-reset;
@include font-import;

@font-face {
    font-family: 'MotorOil';
    src: url('#{$url}/Framework/CSS/Includes/fonts/MotorOil.ttf');
}

@font-face {
    font-family: 'HandWritten';
    src: url('#{$url}/Framework/CSS/Includes/fonts/handwritten.ttf');
}

@font-face {
    font-family: 'Vieira';
    src: url('#{$url}/Framework/CSS/Includes/fonts/vieira.ttf');
}

body { 
	font-family: Tahoma;
}

.wrap {
	
	width: 100%;	
}

.recyclabook_footer {
	
	padding: 10px 0;
	float: left;
	width: 100%;
	text-align: center;
	background: $light_blue;
	color: $light;
	font-size: 14px;   
}

@import "Imports/front/header";
@import "Imports/front/bar";
@import "Imports/front/homepage";
@import "Imports/front/sales";
@import "Imports/front/search.book";
@import "Imports/front/user";