//
//
//
//
//	Content
//	
//	
//	

@import "./compass/utilities";
@import "./compass/css3";

$prefix: liquidflux;
$w: 960px;

.#{$prefix}-content { 
	
	width: $w;
	margin: auto;
	@include pie-clearfix;

	.#{$prefix}-post-full { 

		@include pie-clearfix;

		article {
			display: block;
			float: left;		
			width: 100%;
			margin: 42px 0 28px;
		}
	}

	.#{$prefix}-post-third { 

		@extend .#{$prefix}-post-full;
		width: 619px;
		display: inline-block;
		float: left;

		article { 

			display: inline-block;
			width: 622px;
		}
	}

	.#{$prefix}-aside-third { 

		display: block;
		float: left;
		width: 320px;
		margin: 42px 0 0;
		@include pie-clearfix;

		.#{$prefix}-widget { 
			
			@extend .#{$prefix}-widget;
		}
	}

	.#{$prefix}-aside-half {

		@extend .#{$prefix}-aside-third;

		width: 480px;
	}

	.#{$prefix}-aside-quarter {

		@extend .#{$prefix}-aside-third;

		width: 240px;
	}
}