//
//
//	Menu 
//	
//	
//

@import "./compass/utilities";
@import "./compass/css3";

@mixin _menu($prefix, $name, $padding, $width, $hover_color, $background_color) {

	.#{$prefix}-#{$name} { 

		display: inline-block;
		float: left;

		ul {

			margin: 0;
			display: block;
			float: left;
			li { 

				width: $width;
				display: inline;
				float: left;
				position: relative;
				cursor: pointer;
				background-color: $background_color;
				padding: $padding;
				font-family: inherit;
				font-size: inherit;
				font-weight: inherit;
				@include single-transition( all, 400ms );

				&:hover { 

					background-color: $hover_color;
					@include single-transition( all, 400ms );
				}

				a {
					font-size: inherit;
					color: inherit;
					text-decoration: none;
				}

				.sub-menu { 

					display: none;
					@include opacity( 0 );
					background: transparent;
					position: absolute;
					top: 100%;
					left: 0;
					right: 0;

					li { 
						background-color: $background_color;
						@include border-radius( 3px);
						margin: 3px 0;

						&:hover { 

							background-color: $hover_color;
							@include single-transition( all, 400ms );
						}
					}
				}
			}
		}

	}
}

$prefix: liquidflux;

$menu_text_font: #{"<?php echo $o['menu_text_font']; ?>"};
$menu_text_size: #{"<?php echo $o['menu_text_size'] . 'px'; ?>"};
$menu_text_weight: #{"<?php echo $o['menu_text_weight']; ?>"};
$menu_text_style: #{"<?php echo $o['menu_text_style']; ?>"};
$menu_text_color: #{"<?php echo '#' . $o['menu_text_color']; ?>"};
$menu_background: #{"<?php echo '#' . $o['menu_background']; ?>"};
$menu_hover_color: #{"<?php echo '#' . $o['menu_hover_color']; ?>"};

.#{$prefix}-menu-wrap { 

	width: 100%;
	display: block;
	float: left;
	clear: both;
	background-color: $menu_background;
	@include pie-clearfix;

	.#{$prefix}-menu-holder { 

		width: $w;
		margin: 0px auto;
		padding: 0;
		display: block;
		color: $menu_text_color;
		clear: both;
		font-family: $menu_text_font;
		font-size: $menu_text_size;
		font-style: $menu_text_style;
		font-weight: $menu_text_weight;
		@include pie-clearfix;

		@include _menu( $prefix, menu-navigation-thin, 14px, 132px, $menu_hover_color, $menu_background );

		@include _menu( $prefix, menu-navigation-medium, 21px, 118px, $menu_hover_color, $menu_background );

		@include _menu( $prefix, menu-navigation-thick, 28px, 104px, $menu_hover_color, $menu_background );
	}

}