// 
// 
// 
// Player 
// 
// 
// 
// 

@import "./compass/utilities";
@import "./compass/css3";

$play_w : 7%; 
$prog_w : 71%;
$mute_w : 13%;
$marg_v : 14px;
$marg_h : 1.5%;
$player_background: #{"<?php echo '#' . $o['player_background']; ?>"};
$player_highlight : #{"<?php echo '#' . $o['player_highlight']; ?>"};
$player_text      : #{"<?php echo '#' . $o['player_text']; ?>"};

.jp-gui {

	.jp-interface {

		height: 42px;
		width: 100%;
		display: block;
		float: left;
		@include lf_garident( $player_background, $player_highlight );

		.jp-controls{ 

			display: inline;
			float: left;
			height: 42px;
			width: $play_w;
			span { 
				float: left;
				display: inline;
				line-height: $marg_v;	
			}

			.jp-play-hold { 
				z-index: 2;
				margin: 0 0 -25px;

				.jp-play {

					@include player();
					&:before {
						content: "'";
					}
				} 
			}	

			.jp-pause-hold { 
				.jp-pause {

					@include player();
					&:before { 
						content: "*";
					}
				}
			}
		}

		.jp-progress {

			width: $prog_w;
			height: $marg_v;
			display: inline;
			float: left;
			margin: $marg_v $marg_h;
			background-color: transparent;
			overflow: hidden;
			cursor: pointer;

			.jp-seek-bar {
				height: $marg_v;
				position: relative;
				display: block;
				z-index: 1;
				background-color: #44382d;
				@include border-radius( 25px, 25px );

				.jp-play-bar {
					height: $marg_v;
					display: block;
					background: #fff;
					@include border-radius( 25px, 25px );
				} 
			} 		
		}

		.jp-progress-shadow { 

			width: 100%;
			height: $marg_v;
			position: relative;
			display: block;
			margin: 0 0 -14px;
			background-color: transparent;
			@include border-radius( 25px, 25px );
			@include single-box-shadow( rgba(0, 0, 0, 0.8 ), 1px, 1px, 5px, 0px, true );
			z-index: 2;
		}

		.jp-mute {

			@include player( mute );
			&:before { 
				content: "+";
			}
		}

		.jp-unmute {

			@include player( mute );
			&:before { 
				content: ",";
			}
		}

		.jp-volume-bar {
			
			width: $mute_w;
			height: $marg_v;
			margin: $marg_v $marg_h;
			float: left;
			display: inline;
			background-color: #44382d;
			cursor: pointer;
			@include border-radius( 25px, 25px );

			.jp-volume-bar-value {
				
				height: $marg_v;
				background-color: #fff;
				cursor: pointer;
				@include border-radius( 25px, 25px );			
			} 
		}
	} 
}

.jp-no-solution {

	display: none;
}


.lf-self-video { 

	width: 100%;

}

.jp-video {

	width: 100%;
	@include block( l );
}

.jp-jplayer {	

	div {
		height: 0px;
		width: 0px;
	}
	
	img, video { 
		float: left;
	}
} 

.jp-video-play {

	width: 100%;
	background: transparent;
	cursor: pointer;
	overflow: hidden;

	.jp-video-play-icon {}
}