//
//
//
//	Post Formats
//	
//	
//	
//	

@import "./compass/utilities";
@import "./compass/css3";

$post_meta_size: #{"<?php echo $o['post_meta_size'] . 'px'; ?>"};
$post_title_background: #{"<?php echo '#' . $o['post_title_background']; ?>"};
$post_title_texture: #{"<?php echo $o['post_title_texture']; ?>"};
$post_title_color: #{"<?php echo '#' . $o['post_title_color']; ?>"};
$post_title_font: #{"<?php echo $o['post_title_font']; ?>"};
$post_title_style: #{"<?php echo $o['post_title_style']; ?>"};
$post_title_weight: #{"<?php echo $o['post_title_weight']; ?>"};
$post_text_size: #{"<?php echo $o['post_text_size'] . 'px'; ?>"};
$post_text_line_height: #{"<?php echo ( $o['post_text_size'] + 8 ) . 'px'; ?>"};
$post_background: #{"<?php echo '#' . $o['post_background']; ?>"};

.lf-post-format-quote-wrap { 
	
	@extend .lf-core-content-post-format-head-wrap;
    padding: 28px 21px 28px;
	margin: 0 0 7px;
	position: relative;
	z-index: 10;

	// Quote image
	.post-format-quote-image { 
	
		width: 40px;
		height: 40px;
		display: inline;
		float: left;
		position: relative;
		margin: 2px 0 -42px 7px;
		
		&:before { 

			color: inherit;
			content: "6";
			font-size: 40px;
		}
	}
	
	/* // // Link */
	.post-format-link-image { 

		@extend .post-format-quote-image;
		margin: 3px 0 -45px 7px;

		&:before { 

			content: "$";
			text-align: center;
		}
	}
	
	.lf-post-format-quote-text { 
		
		display: inline;
		float: left;
		padding: 0 0 0 21px;
		margin: 0 0 0 72px;
		color: inherit;
		font-family: $post_title_font;
		font-style: $post_title_style;
		font-weight: $post_title_weight;
		border-left: {
			width: 1px;
			style: solid;
			color: $post_title_color;
		}	

		.lf-post-format-quote { 

			float: left;
			margin: 9px 0 10px;
			color: inherit;
			font-size: $post_text-size;
			line-height: $post_text_line_height;
		}
		
		.lf-post-format-quote-author { 

			font-size: $post_meta_size;
			line-height: $post_meta_size;		
			clear: both;
			float: left;
		}

	}
}

//
//
//
//	Post format image
//	
//	
//	

.lf-post-format-img { 

	width: 100%;
	height: auto;
	display: block;
	float: left;
	vertical-align: middle;
	z-index: 10;
    box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.1);
	@include single-box-shadow();
}

.lf-post-format-img-link { 
		
	float: left;
	position: relative;
	top: auto;
	padding: 2px 5px;
	margin: -53px 0 0 21px;
	cursor: default;
	z-index: 11;
	color: inherit;
	font-family: $post_title_font;
	font-style: $post_title_style;
	font-weight: $post_title_weight;
	background: $post_title_background $post_title_texture;
	color: $post_title_color;

	a {

		color: inherit;
		text-decoration: none;
	}
}

.post-arrow { 
	
	position: relative;
	float: right;
	margin: -22px 21px -30px;
	cursor: default;
	z-index: 500;

	&:before { 

		content: "^";
		font-size: 28px;
		line-height: 20px;
		color: $post_background;
	}
}

//
//
//
//	Gallery
//	
//	
//	

.lf-post-format-gallery { 


	.lf-post-format-gallery-dot { 

		position: absolute;
		margin: -39px 28px 0;
		cursor: pointer;
		z-index: 1;
		color: $post_background;
		
		.post-format-gallery-dot { 

			margin: 0 5px 0 0;

			&:hover { 
				@include opacity( 1 );
			}

			&:before { 

				content: "#";
				font-size: 12px;
				color: $post_background;
			}
		}
	}


	.post-format-right-arrow { 

			float: right;
			@include opacity( 0.8 );
			position: relative;
			vertical-align: middle;
			top: 50%;
			margin: 0 0 -40px;
			z-index: 10;
			color: $post_background; 	

			&:hover { 

				@include opacity( 1 );
			}
			
			&:before {

				content: "9";
				font-size: 50px;
				cursor: pointer;
			}
	}

	.post-format-left-arrow { 
			
			@extend .post-format-right-arrow;
			float: left;

			&:before { 
				content: "8";
			}
	}
}