//
//
//
//	Shortocdes
//	
//	
//	
//	

// - only video styles kept from original */
.lf-shortcode-video-wrap { 
	
	height: 0;
	position: relative;
	overflow: hidden;

	iframe, object, embed { 
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.lf-youtube-video {

	width: 100%;
	@include block( l  );
}

// buttons
@mixin but( $c1, $s, $t, $name ) {
	
	$shade  : darken( $s, 15% );
	$border : darken( $s, 25% );
	$gari   : linear-gradient( $c1, $s, $shade );
	$hover  : linear-gradient( $c1, lighten($s, 2%), lighten($shade, 2%) );
	
	.lf-shortcode-button-medium-#{$name} {
		color: $t;
		padding: 14px;
		margin: 0 7px;
		border: 1px solid $border;
		text-decoration: none;
		@include single-box-shadow( rgba( 0, 0, 0, 0.2 ), 0px, 2px, 3px, 0 );
		@include background($gari);
		@include border-radius( 5px);
		@include single-box-shadow( rgba( 0, 0, 0, 1), 1px 1px 2px 0px );

		&:hover { 
			@include background($hover);
		}
	}

	.lf-shortcode-button-large-#{$name} { 
		
		@extend .lf-shortcode-button-medium-#{$name};
		padding: 21px 28px;
	}

	.lf-shortcode-button-small-#{$name} { 
		
		@extend .lf-shortcode-button-medium-#{$name};
		padding: 7px 14px;
	}
}

// Default Button
@include but( top, #fff,    #222, 'default' );
// Pink Button
@include but( top, #ea577e, #fff, pink );
// Yellow Button
@include but( top, #FFD573, #fff, yellow );
// Blue Button
@include but( top, #A7DBD8, #fff, blue );
// Red Button
@include but( top, #F25E5E, #fff, red );
// Green Button
@include but( top, #7BBD82, #fff, green );
// Black Button
@include but( top, #242424, #fff, black );
// Gray Button
@include but( top, #e5e5e5, #222, gray );

// Alert boxes 
@mixin alert( $col, $name ) {

	$color : lighten( $col, 12% );
	$bor   : darken(  $col, 20% );
	$t     : darken(  $col, 40% );

	.alert-box-#{$name} {

		color: $t;
		padding: 14px;
		margin: 0 0 17px;
		border-bottom : 1px solid $col;
		border-top : 1px solid $col;
		background-color: $color;
		clear: both;
		@include single-box-shadow( rgba( 0, 0, 0, 0.2 ), 0px, 2px, 3px, 0 );
	}
}

// Red 
@include alert( #F25E5E, red );
// Gray
@include alert( #e5e5e5, gray );
// Yellow
@include alert( #FFD573, yellow );
// Blue
@include alert( #A7DBD8, blue );
// Green
@include alert( #7BBD82, green );

// Columns
@mixin columns( $number, $name ) {

	$si : ( ( 100% - ( 5% * ( $number - 1) ) ) / $number );

	.lf-column-size-standard-#{$name} { 

		width: $si;
		display: inline;
		float: left;
		margin: 0 5% 34px 0;
	}
	.lf-column-size-last-#{$name} { 

		@extend .lf-column-size-standard-#{$name};
		margin: 0 0 43px;
	}
}

// Half 
@include columns( 2, half );
// Third
@include columns( 3, third );
// Quarter
@include columns( 4, quarter );
// Sixth 
@include columns( 6, sixth );

// Toggle 

$tcol : lighten( #e7e7e7, 5% );

.tog-lf { 
	width: 100%;
	float: left;
	margin: 28px 0 0;
	@include single-box-shadow(0 1px 1px rgba(0, 0, 0, 0.1) );

	.tog-lf-ti { 

		width: 93%;
		display: block;
		float: left;
		padding: 14px 4.5% 14px 2.5%;
		border: 1px solid darken( $tcol, 1% );
		background-color: $tcol;
		@include border-radius( 2px);
		cursor: pointer;

		&:hover { 
			border: 1px solid darken( $tcol, 5% );
		}
	}

	.tog-lf-c { 

		margin: 1px 14px 0 0;
		height: 16px;
		float: left;
	}

	.lf-tog-p { 
		padding: 21px 2.5%;
		float: left;
		overflow: hidden;
		border-bottom: 1px solid darken( $tcol, 1% );
		border-left  : 1px solid darken( $tcol, 1% );
		border-right : 1px solid darken( $tcol, 1% );

	}
}

// Tab 

.tab-wrap-lf { 

	width: 100%;
	float: left;
	margin: 28px 0 0;

	.tab-head-lf { 
		
		width: 100%;
		float: none;
		list-style-type: none;
		margin: 0;
		@include pie-clearfix;

		li {
			display: inline;
			float: left;
			position: relative;
			z-index: 5;
			margin-bottom: -1px;

		}

		.tab-chosen-li-lf { 


			a {	
				padding-top: 15px;
				margin: 1px 5px 0 0;
				background-color: #fff;
				border-top: 1px solid darken( $tcol, 5% );
				border-right: 1px solid darken( $tcol, 5% );
				border-left: 1px solid darken( $tcol, 5% );
				@include border-radius( 2px 2px 0 0);
			}
		}

		a { 
			display: block;
			padding: 14px 21px;
			margin: 1px 5px 0 0;
			border-top   : 1px solid darken( $tcol, 1% );
			border-left  : 1px solid darken( $tcol, 1% );
			border-right : 1px solid darken( $tcol, 1% );
			overflow: hidden;
			text-decoration: none;
			color: inherit;		
			background-color: $tcol;
			cursor: pointer;


			&:hover { 
				border-top: 1px solid darken( $tcol, 5% );
				border-right: 1px solid darken( $tcol, 5% );
				border-left: 1px solid darken( $tcol, 5% );
			}
		}
	}


	.tab-box-lf { 

		width: 95%;
		padding: 21px 2.5%;
		border: 1px solid darken( $tcol, 1% );	
	}

}

.tab-close-lf { 

	left: -10000px;
	position: absolute;
}
