
//
//
//
// Slider
//
//
//
//

@import "./compass/utilities";
@import "./compass/css3";

$slider : lf-slider;
$slider_background: #{"<?php echo '#' . $o['slider_background']; ?>"};
$slider_arrow_color: #{"<?php echo '#' . $o['slider_arrow_color']; ?>"};
$slider_text_color: #{"<?php echo '#' . $o['slider_text_color']; ?>"};
$slider_text_box_color: #{"<?php echo '#' . $o['slider_text_box_color']; ?>"};
$slider_caption_size: #{"<?php echo $o['slider_caption_size'] . 'px' ; ?>"};
$slider_caption_style: #{"<?php echo $o['slider_caption_style']; ?>"};
$slider_caption_weight: #{"<?php echo $o['slider_caption_weight']; ?>"};
$post_text_font: #{"<?php echo $o['post_text_font']; ?>"};
$post_text_size: #{"<?php echo $o['post_text_size'] . 'px'; ?>"};
$post_text_line_height: #{"<?php echo ( $o['post_text_size'] + 8 ) . 'px'; ?>"};

.#{$slider}-background { 

	width: 100%;
	float: left;
	background-color: $slider_background;
	margin: 24px 0;

	.#{$slider}-wrap-regular {

		width: 960px;
		margin: 0 auto;
		overflow: hidden;

		.#{$slider}-wrap-full { 

			width: 100%;
			float: left;
			overflow: hidden;
		}	

		.#{$slider}-slide { 

			width: 100%;
			display: inline;
			float: left;

			img { 

				width: 100%;
				height: auto;
				vertical-align: middle;
				display: inline;
				float: left;
			}


			.#{$slider}-text-wrap { 

				display: block;
				position: relative;

				.#{$slider}-text {

					max-width: 300px;
					color: $slider_text_color;
					background-color: $slider_text_box_color;
					padding: 21px;
					margin: 21px;
					position: absolute;
					@include pie-clearfix;
					@include single-box-shadow( rgba( 0, 0, 0, 0.2), 1px, 1px );

					h3 {

						font-size: $slider_caption_size;
						line-height: $slider_caption_size;
						font-style: $slider_caption_style;
						font-weight: $slider_caption_weight;
						margin: 0;
					}

					p { 
						display: block;
						float: left;
						font-family: $post_text_font;
						font-size: $post_text_size;
						line-height: $post_text_line_height;
						margin: 17px 0;
					}

					a { 
						@extend p;
						background-color: $slider_text_color;
						color: $slider_text_box_color;
						padding: 7px;
						margin: 0 3px 0 0;
						text-decoration: none;

						&:hover { 
							text-decoration: underline;
						}
					}
				}
			}
		}

		.#{$slider}-direction-nav {

			height: 42px;
			text-align: right;
			margin: -42px 3px 0 0;

			li {

				position: relative;
				display: inline;
				z-index: 1000;
			}

			.#{$slider}-prev { 

				color: $slider_arrow_color;
				font-size: 32px;
				text-decoration: none;
				opacity: 0.7;

				&:hover { 
					opacity: 1;
				}

				&:before {

					content: "8";
				}
			}

			.#{$slider}-next {

				@extend .#{$slider}-prev;

				&:before {

					content: "9";
				}
			}

		}
	}

	.#{$slider}-wrap-full-width { 
		@extend .#{$slider}-wrap-regular;
		width: 100%;
	}

}

.#{$slider}-loading { 

	#lf-slide-hook { 
		height: 170px;
		visibility: hidden;
	}
}
