//
//
//
//	Post Title box
//	
//	
//	

@import "./compass/utilities";
@import "./compass/css3";

$post_title_background: #{"<?php echo '#' . $o['post_title_background']; ?>"};
$post_title_texture: #{"<?php echo $o['post_title_texture']; ?>"};
$post_title_font: #{"<?php echo $o['post_title_font']; ?>"};
$post_title_size: #{"<?php echo $o['post_title_size'] . 'px'; ?>"};
$post_title_style: #{"<?php echo $o['post_title_style']; ?>"};
$post_title_weight: #{"<?php echo $o['post_title_weight']; ?>"};
$post_title_color: #{"<?php echo '#' . $o['post_title_color']; ?>"};
$post_title_meta_color: #{"<?php echo '#' . $o['post_title_meta_color']; ?>"};

.lf-core-content-post-format-head-wrap { 
	
	// width: 92%;
	// padding: 12px 4% 24px;
	width: 960px - ( 21px * 2);
	display: block;
	padding: 12px 21px 24px;
	overflow: hidden;
	background: $post_title_background $post_title_texture;
	color: $post_title_color;
	@include single-box-shadow();
	@include pie-clearfix;


	.lf-core-content-post-format-head-holder-wrap { 

		display: block;
		float: left;
		@include pie-clearfix;

			.lf-posttitle { 

				margin: 24px 0 14px; 
				font-family: $post_title_font;
				font-size: $post_title_size;
				line-height: $post_title_size;
				font-style: $post_title_style;
				font-weight: $post_title_weight;

				a {

					text-decoration: none;
					color: inherit;

					&:hover {

						text-decoration: none;
						border-width: 4px;
						border-bottom-style: solid;	
					}	
				}
			}

			.lf-time-meta-wrap {

				color: $post_title_meta_color;
				font-size: $post_meta_size;
				line-height: $post_meta_size;

				.lf-meta-text {

					margin: 0 0 0 24px;

					a { 

						margin: 0 5px;
					}
				}

				.lf-meta-text-comp {

					margin: 0 0 0 7px; 
				}

				.lf-next-to-icon { 

					margin: 0 3px;	
				}
			}

			

	}
}