.profile_display_user { 

	width: 98%;
	margin: 10px 2% 10px 0;
	color: #222;
	background: #EEE;
	@include single-box-shadow( rgba(0, 0, 0, 0.1), 1px, 1px, 1px );
	@include border-radius( 3px 3px );
	
	.small_user_display { 

		display: block;
		padding: 10px 20px;
		@include pie-clearfix;
		
		.small_user_field { 

			width: 22%;
			margin: 10px 1.5%;
			display: inline-block;
			float: left;
			clear:none;
			
			.small_user_field_name {

				display: inline-block;
				float: left;
				margin: 0 5px 0 0;
				font-weight: bold;
			}

			.small_user_field_value {
			}
		}

		.small_user_controls { 

			float: right;
			width: 22%;
			margin: 0;
			display: inline-block;
			clear: none;

			.small_user_edit { 

				background: #dfdfdf;
				color: #999;
				padding: 10px;
				margin-left: 5px; 
				float: right;
				opacity: 0.8;
				cursor: pointer;
				
				&:active { 

					@include single-box-shadow( rgba(128, 128, 128, 0.1), 1px, 1px, 1px, 0px, inset ); 
	    			opacity: 1;
				}
			}

			.small_user_save { 

				@extend .small_user_edit;
			}

			.small_user_toggle { 

				@extend .small_user_edit;
				font-size: 15px;
				width: 12px;
				text-align: center;				
			}
		}
	}

	.full_user_display { 

		padding: 20px;
		@include pie-clearfix;

		.personal_field { 

			@include pie-clearfix;
			margin: 0 0 20px;

			.personal_field_name {

				margin: 0 5px 0 0;
				padding: 0 5px;
				font-size: 10px;
				display: inline-block;
				float: left;
				background: #dfdfdf;
				
			}

			.personal_field_text {
				margin: 0;
				display: inline-block;
			}

			.personal_field_editor { 

				background: transparent;
				border : none; 
				padding: none;
				width: 50%;
				padding: 0;
				border-bottom: 1px solid #222;
				
				&:focus { 

					box-shadow: none;
				}
			}
		}

	}
}