
/*--------------*********
	Pads
----------------**********/

@media screen and (max-width: 900px) 
{

	.lf-sitetitle-wrap,
	.lf-header-bar {
	
		width: 566px;
	
	}
	
	.lf-core-content-aside  { 
	
		width: 153px;
	
	}
	
	.lf-core-content-aside-widget,
	.lf-core-content-one,
	.lf-core-content-one-page-right,
	.lf-core-content-one-page-left { 
	
		width: 135px;
		padding: 0 6px 0 12px;
		
	}
	
	.lf-core-content-three, 
	.lf-core-content-three-article,
	.lf-comment-three-wrap,
	.lf-core-content-three-page-left,
	.lf-core-content-three-page-right {
	
		width: 418px;
	
	}
	
	.lf-core-content-three-page-left,
	.lf-core-content-three-page-right { 
	
		padding: 0 6px 0 24px;
	
	}
	
	.lf-core-content-two-page-right,
	.lf-core-content-two-page-left { 
	
		padding: 0 6px 0 12px;
	
	}
	
	.lf-core-content-two,
	.lf-core-content-two-article,
	.lf-comment-two-wrap,
	.lf-core-content-two-page-right,
	.lf-core-content-two-page-left { 
	
		width: 277px;
	
	}
	
	.lf-core-content-one-article { 
	
		width: 135px;
	
	}
	
	.lf-core-content-full,
	.lf-core-content-full-article,
	.lf-footer-widget-four { 
	
		width: 590px;
	
	}
	
	.lf-core-content-full { 
	
		padding: 0 12px;
	
	}

	.lf-slider-wrap {
	
		width: 614px;
	
	}
	
	.lf-slider-content-wrap { 
	
		width: 542px;
	
	}
	
	.lf-slider-bottom-garident, 
	.lf-slider-bottom-background {
	
		height: 42px;
	
	}
	
	.lf-slider-description {
	
		margin: 24px 0 0;
	
	}
	
	/* // Comments */
	
	.lf-comment-one-wrap { 
	
		width: 135px;
	
	}
	
	.lf-comment-article-one-wrap {
	
		width: 87px;
	
	}
	
	.lf-comment-article-two-wrap {
	
		width: 205px;
	
	}
	
	.lf-comment-article-three-wrap {
	
		width: 346px;
	
	}
	
	
	.lf-comment-two-wrap .lf-comment-article-bottom-border {
	
		width: 144px;
	
	}
	
	.lf-comment-two-wrap .lf-comment-article-bottom-border-filler-inner {
	
		width: 109px;
	
	}	
	
	.lf-comment-three-wrap .lf-comment-article-bottom-border {
	
		width: 226px;
	
	}
	
	.lf-comment-three-wrap .lf-comment-article-bottom-border-filler-inner {
	
		width: 168px;
	
	}
		
	.lf-core-content-aside-widget .twtr-tweet-wrap {
	
		width: 87px !important;
		
	}
	
	.lf-core-content-aside-widget .twtr-doc {
	
		width: 135px !important;
	
	}
	
	.lf-core-content-three .lf-youtube-video { 
	
		height: 300px;
	
	}
	
	.lf-core-content-two .lf-youtube-video { 
	
		height: 250px;
	
	}
	
	#wrapnojs {	
	
		width: 614px !important;	
		
	}

	.loadpage {	
	
		width: 614px !important; 
		
	}
	
	.fullwidth {	
	
		width: 602px;	
		
	}
				
	.headfot {	
	
		width: 590px;	
		
	}
	
	/* // Footer */
							
	#footer
	{	
	
		width: 614px;	
		
	}
	
	.lf-footer-widget-one {
	
		width: 147px;
		
	}
	
	.lf-footer-widget-two {
	
		width: 295px;
		
	}
	
	.lf-footer-widget-three {
	
		width: 196px;
		
	}	
	
	.lf-footer-widget-one .lf-footer-widget { 
	
		width: 123px;
	
	}
	
	.lf-footer-widget-three .lf-footer-widget { 
	
		width: 172px;
	
	}
	
	.lf-footer-widget-two .lf-footer-widget { 
	
		width: 271px;
	
	}
	
	.lf-shortcode-six-width-col {
	
		width: 28%;
	
	}
	
	.lf-shortcode-eight-width-col {
	
		width: 20%;
	
	}
				
	table caption {

		width: 100%; 
		text-align: center;
		
	}
				
	thead th { 
	
		text-align: left; 
		
	}
				
	table, 
	thead, 
	tbody, 
	th, 
	td, 
	tr { 
	
		display: block;

	}
	
	.lf-header-leaderboard-ad { 
	
		display: none;
	
	}
					
}


/*--------------*********
	Smartphone
----------------**********/
@media screen and (max-width: 600px)

{

	.lf-sitetitle-wrap,
	.lf-header-bar {
	
		width: 268px;
	
	}
	
	.lf-header-bar {
	
		padding: 6px 12px;
	
	}
	
	.lf-core-content-aside,
	.lf-core-content-aside-widget,
	.lf-core-content-three,
	.lf-core-content-three-article,
	.lf-core-content-two,
	.lf-core-content-two-article,
	.lf-core-content-one,
	.lf-core-content-one-article,
	.lf-core-content-full-article,
	.lf-comment-full-wrap, 
	.lf-comment-three-wrap,
	.lf-comment-two-wrap,
	.lf-comment-one-wrap,
	.lf-core-content-full,
	.lf-core-content-one-page-right,
	.lf-core-content-one-page-left,
	.lf-core-content-three-page-left,
	.lf-core-content-three-page-right,
	.lf-core-content-two-page-right,
	.lf-core-content-two-page-left { 
	
		width: 280px;
	
	}
	
	.lf-core-content-one-page-right,
	.lf-core-content-one-page-left,
	.lf-core-content-three-page-left,
	.lf-core-content-three-page-right,
	.lf-core-content-two-page-right,
	.lf-core-content-two-page-left { 
	
		margin: 0px;
		padding: 0 6px;
		border: none;
	
	}
	
	.lf-core-content-aside-widget {
	
		padding: 0 6px;
	
	}
	
	.lf-core-content-aside {
		
		margin: 0 0 24px;
		border-top: 6px solid #fff;
	
	}
	
	.lf-footer-widget-one,
	.lf-footer-widget-two,
	.lf-footer-widget-three,
	.lf-footer-widget-four {
	
		width: 292px;
	
	}
	
	.lf-footer-widget-one .lf-footer-widget,
	.lf-footer-widget-three .lf-footer-widget,
	.lf-footer-widget-two .lf-footer-widget {
	
		width: 268px;	
	
	}
	
	.lf-footer-shadow {
	
		display: none;
	
	}
	
	.lf-slider-wrap {
	
		width: 292px;
		margin: 6px 0 0;
	
	}
	
	.lf-slider-content-wrap {
	
		width: 268px;
	
	}
	
	.lf-slider-navigation,
	.lf-slider-navigation-filler-wrap,
	.lf-slider-navigation-filler {
	
		width: 12px;
	
	}
	
	.lf-slider-bottom-garident, 
	.lf-slider-bottom-background {
	
		height: 36px;
	
	}
	
	.lf-slider-description {
	
		margin: 12px 0 0;
	
	}
	
	.lf-comment-article-full-wrap, 
	.lf-comment-article-three-wrap,
	.lf-comment-article-two-wrap,
	.lf-comment-article-one-wrap {
	
		padding: 42px 12px 12px;
		width: 232px;
		
	}
	
	.lf-comment-full-wrap .lf-comment-article-bottom-border ,
	.lf-comment-three-wrap .lf-comment-article-bottom-border,
	.lf-comment-two-wrap .lf-comment-article-bottom-border,
	.lf-comment-one-wrap .lf-comment-article-bottom-border {
	
		width: 146px !important;
	
	}
	
	.lf-comment-full-wrap .lf-comment-article-bottom-border-filler-inner,
	.lf-comment-three-wrap .lf-comment-article-bottom-border-filler-inner,
	.lf-comment-two-wrap .lf-comment-article-bottom-border-filler-inner,
	.lf-comment-one-wrap .lf-comment-article-bottom-border-filler-inner {
	
		width: 110px ;
		
	}
	
	.lf-core-content-aside-widget .twtr-tweet-wrap,
	.lf-footer .twtr-tweet-wrap {
	
		width: 220px !important;
	
	}
	
	.lf-core-content-aside-widget .twtr-doc,
	.lf-footer .twtr-doc {
	
		width: 268px !important;
		margin: 12px 0 0 !important;
	
	}
	
	.lf-core-content-one .lf-youtube-video,
	.lf-core-content-two .lf-youtube-video,
	.lf-core-content-three .lf-youtube-video { 
	
		height: 220px;
	
	}
	
	#lf-breadcrumbs-id {
	
		display: none;
	
	}
	

	#wrapnojs {	
			
		width: 292px !important;
				
	}
	
			
	.loadpage {	
	
		width: 292px !important; 
		
	}
	
	.fullwidth, 
	.headfot, 
	#footer { 	
	
		width: 292px;	
		clear: both;	
		
	}
	
	.headfot {	
	
		padding: 0 !important;	
		
	}
	
	.lf-portfolio-dimension-third,
	.lf-portfolio-dimension-half,
	.lf-portfolio-dimension-quarter { 
	
		width: 97%;
		padding: 0 1.5%;
		
	}
	
						
}
