
$name : book_display;

.#{$name}_cover { 

	clear: both;
	display: block;
	margin: 10px 0;
	padding: 10px 0;
	border-bottom: 1px solid #eee;
	@include pie-clearfix;
	
	.#{$name}_image { 

		width: 25%;
		margin-right: 2.5%;
		float: left;
		display: inline-block;
		
		img { 

			width: 100%;
			height: auto;
		}
	}
	
	.#{$name}_details_cover { 

		width: 70%;
		float: right;
		display: inline-block;

		.#{$name}_title { 

			// font-weight: bold;
			font-size: 14px;
			margin: 10px 0; 
			color: #222;
			clear: both;
		}

		.#{$name}_author { 

			font-style: italic;
			color: #999;
			margin: 0 0 5px 10px;
			font-size: 12px;
			clear: both;
		}

		.#{$name}_binding {

			@extend .#{$name}_author;
			color: #222;
			margin: 5px;
			font-style: normal; 
		}

		.#{$name}_rrp { 

			@extend .#{$name}_binding;
			font-weight: bold;
		}

		.#{$name}_lowest { 
			@extend .#{$name}_rrp;
		}

		.#{$name}_isbn { 
			@extend .#{$name}_rrp;
		}

		.#{$name}_weight { 
			@extend .#{$name}_rrp;
		}

		.#{$name}_dimensions { 
			@extend .#{$name}_rrp;
		}
	}
}