.ticket_labels_guide { 

	display: inline-block;
	float: left;
	margin: 20px 5px 20px 50px;
	padding: 10px 0;

	.ticket_label_guide { 

		margin: 0 15px 0 0;
		float: left;
		display: inline-block;
		
		.ticket_circle { 

			width: 20px;
			height: 20px;
			background: red;  
			display: inline-block;
			@include border-radius(25px);
			float: left;
			margin: 0 5px 0 0;
		}

		.ticket_label_description { 

			margin: 4px 0 4px 5px;
			float: left;
			font-size: 12px; 
			line-height: 12px; 
			text-decoration: underline;
			
		}
	}
}

.ticket_select_user_box { 

	display   : block;
	float     : left;
	position  : absolute;
	width     : 20%;
	margin    : 20px 38%;
	padding   : 20px 1%;
	background: #fff;
	border: 1px solid #eee;
	@include border-radius(5px); 
	@include single-box-shadow( rgba(0,0,0, 0.2), 1px, 1px, 1px );
	
	span { 

		display: block;
		clear: both;
		font-weight: bold; 
		margin: 10px 0 5px;
	}

	select { 

		width: 98%;
		padding: 3px 1%;
		margin-bottom: 20px;
		display: block;
		clear: both;
	}

	.button { 

		text-align: center;
		width: 35%;
		padding: 0 2.5%;
		margin: 0 30%;
	}
}

.ticket_create_ticket { 

	width: 95%;
	padding: 0 0 20px;
	display: block;
	float: left;
	margin: 10px 2.5% 20px;
	border-bottom: 2px solid #000;

	.ticket_search { 

		width: 30%;
		padding: 5px 1.5%;
		display: inline-block;
		float: right;

		.ticket_search_label { 

			margin: 0 0 10px;
			font-size: 12px;
			font-weight: bold;
			float: left;
			display: block; 
		}

		.ticket_input { 

			width: 98%;
			padding: 5px 1%;
			background: #FFF;
			@include border-radius(0px);
		}

		.ticket_button { 

			width: 95%;
			clear: both;
			padding: 5px 2.5%;
			text-align: center;
			opacity: 0.8;
			margin: 10px 0;
			
			&:active { 

				opacity: 1;
			}
		}
	}

	.ticket_book { 

		width: 30%;
		padding: 5px 1.5%;
		display: inline-block;		
		float: right;
		
		.ticket_book_wrap {

			width: 100%;
			float: left;
			clear: both;
			display: block;
			margin-top: 30px;

			.ticket_book_thumbnail { 

				width: 45%;
				float: left;
				
				img { 

					width: 100%;
					height: auto;
				}
			}

			.ticket_book_details { 
				width: 50%;
				margin-left: 5%;
				float: left;
				
				.ticket_book_detail { 

					display: block;
					float: left;
					clear: both;
					margin: 0 0 10px;
				}

				.ticket_quoted_ammount { 

					@extend .ticket_book_detail;
					margin: 10px 0;
					
					.we_quote {

						background: #eee;
						color: #999;
						padding: 3px;
						margin-right: 5px; 
						font-style: italic;
					} 

					.quote { 

						font-size: 18px;
						font-weight: bold;
					}
				}

				.ticket_button { 

					margin: 10px 0 20px 0;
					clear: both;
				}
			}
		}
	}

	.ticket_basket {

		width: 30%;
		padding: 5px 1.5%;
		display: inline-block;
		float: right;
		
		.ticket_basket_book { 

			margin: 0 0 15px 0; 
			float: left;
			display: block;
			
			.ticket_basket_book_name { 

				background: #eee;
				padding: 5px;
				float: left;
				margin: 0 3px 3px;
			}

			.ticket_basket_remove_button { 

				padding: 5px 5px 3px;
				font-size: 10px;
				font-weight: bold; 
				line-height: 16px; 
				float: left;
				border-bottom: 2px solid #000;
				margin: 0 0 3px 5px;
				cursor: pointer;
				
				&:active { 

					margin-top: 2px;
				}
			}
		}

		.ticket_button { 

			clear: both;
			margin-left: 0px;
		}
	}
}

.ticket_button { 

	background : #eee;
	color      : #999;  
	margin     : 5px 5px 0;
	padding    : 10px 15px;
	font-style : italic;
	font-size  : 12px;
	display    : inline-block;
	float      : left;
	cursor     : pointer;
		
	&:active { 

		@include single-box-shadow(rgba(128, 128, 128, 0.1), 1px, 1px, 1px, 0, inset );
	}	
}

.create_ticket_button { 

	@extend .ticket_button; 
	float   : right;
	display : inline-block;
	margin  : 20px 50px;
}

.tickets_tabs { 

	display: block;
	margin: 20px 0 20px 20px;
	@include pie-clearfix; 
	
	.ticket_tab { 

		@extend .ticket_button;	
		padding: 15px;
		opacity: 0.8;
		
		&:active { 

			opacity: 1;
		}
	}
}

.tickets { 

	display: block;
	clear: both;
	
	.ticket_overall_wrap { 

		.ticket_button { 

			float: right;
			margin: 0 20px 20px 5px;
		}
	}

	.ticket_box { 

		display: block;
		padding: 10px 20px;
		margin: 0 20px 20px; 
		background: #eee;
		clear: both;
		@include border-radius(5px 5px 1px 1px); 
		@include single-box-shadow(rgba(0,0,0, 0.1), 1px, 1px, 1px );
		@include pie-clearfix;
		

		.ticket_information_row {

			display: inline-block;
			float: left;		
			margin: 15px 0;
			width: 14%;
			
			.button { 

				margin: 10px;
				display: block;
				clear: both;
				text-align: center;
			}
			
			.ticket_information_type { 

				font-size: 12px;
				line-height: 12px;
				font-weight: bold;
				text-align: center;
				margin: 0 0 15px 0;
				padding: 5px 25px
			}

			.ticket_information { 

				maring: 15px 0 0;
				padding: 0 25px;
				text-align: center;
				
				.user_info { 

					position: absolute;
					display: block;
					padding: 20px;
					background: #eee;					
					@include single-box-shadow( rgba(0,0,0, 0.2), 1px, 1px, 1px );					
					
					.user_field { 

						clear: left;
						background: #dfdfdf;
						color: #999;
						font-weight: bold;
						margin: 0 5px 0 0px;
						float: left;
						display: inline;
						text-align: left;  
					}

					.user_info_field { 
						display: inline;
						float: left;
					}
				}
				
				.ticket_user_info { 

					display: block;
					float: left;
					height: 10px;
					width: 100%;
					margin: 10px 0 0;
					background: #2478A8; 
					opacity: 0.8;
					cursor: pointer;
					
					&:hover { 

						opacity: 1;
					}

					&:active { 

						margin: 12px 0 0;
					}
				}

				.ticket_status { 

					@include border-radius(25px);
					margin: 0 auto; 				
					width:  35px;
					height: 35px;
				}
			}
		}

		.ticket_information_row_button { 

			@extend .ticket_information_row; 
			width: 10%;
		} 

	}
}