/* line 8, style.scss */
body {
  font: normal 12px/12px sans-serif;
  color: #222222;
  margin: 0 auto;
  background-color: #f5f5f5;
}

/* line 16, style.scss */
.desc, .tab {
  width: 100%;
  float: left;
  border-top: 1px solid #eeeeee;
}
/* line 22, style.scss */
.desc .title, .tab .title, .desc .d, .tab .desc .d, .desc .tab .d, .desc .tab .d, .tab .desc .d, .tab .d {
  width: 96%;
  display: block;
  float: left;
  padding: 0 2%;
  background-color: #222222;
}
/* line 29, style.scss */
.desc .title h1, .tab .title h1, .desc .d h1, .tab .desc .d h1, .desc .tab .d h1, .desc .tab .d h1, .tab .desc .d h1, .tab .d h1 {
  font-size: 16px;
  color: #fff;
  margin: 20px 0;
}
/* line 37, style.scss */
.desc .d, .tab .d {
  background-color: #eeeeee;
}
/* line 42, style.scss */
.desc .d p, .tab .d p {
  margin: 20px 0;
  font-style: italic;
  color: #999999;
}

/* line 50, style.scss */
table {
  float: left;
  width: 100%;
  margin: 15px 0 20px;
}
/* line 57, style.scss */
table th, table td {
  width: 27%;
  padding: 20px 2%;
  text-align: left;
  font-size: 13px;
  border-top: 1px solid #eeeeee;
}
/* line 65, style.scss */
table th strong, table td strong {
  font-size: 12px;
  float: left;
}
/* line 71, style.scss */
table th span, table td span {
  color: #999999;
  font-size: 12px;
  font-weight: 400;
  clear: both;
  float: left;
  margin: 5px 0 0;
}
/* line 82, style.scss */
table td {
  width: 65%;
}
/* line 87, style.scss */
table td input[type="text"], table td select, table td textarea {
  width: 98%;
  padding: 10px 5px;
  border-radius: 3px;
  border: 1px solid #dfdfdf;
}
/* line 94, style.scss */
table td input[type="text"]:focus, table td select:focus, table td textarea:focus {
  border-color: #bbbbbb;
}
/* line 105, style.scss */
table td textarea {
  font: inherit;
}

/* line 113, style.scss */
.ins, .add, .rm {
  border-radius: 10px;
  display: inline-block;
  float: right;
  padding: 10px 25px;
  margin: 10px 4% 20px;
  border: 1px solid #dfdfdf;
  text-decoration: none;
  color: #222222;
  background-color: #fff;
}
/* line 125, style.scss */
.ins:hover, .add:hover, .rm:hover {
  border-color: #bbbbbb;
}

/* line 132, style.scss */
.add, .rm {
  float: left;
  margin: 10px 0 20px 2%;
}

/* line 139, style.scss */
.rm {
  display: none;
}

/* line 145, style.scss */
.tab {
  margin: 15px 0 0;
}
