@mixin box-shadow ($horizontal_length: 1px, $vertical_length: 0px, $blur: 1px, $spread: 0px, $color: rgba(1,1,1, 0.8), $inset:false) { 
	
	$shadow_paramaters: $horizontal_length $vertical_length $blur $spread $color;

    @if ( $inset == inset ) {
    	-webkit-box-shadow: inset $shadow_paramaters;
    	box-shadow:         inset $shadow_paramaters;
    }
    @else {
		-webkit-box-shadow: $shadow_paramaters;
    	box-shadow:         $shadow_paramaters;
    }
}