.admin {
	position   : fixed;
	float      : left;
	width      : 100%;
	color      : $light;
	height     : 100%;
	overflow   : hidden;
	background : $dark_blue;
	left       : -99.5%;
	opacity    : 0;
}

.admin_wrap {
	float: left;
	width: 100%;
}

.admin_list {
	width        : 20%;
	padding-top  : 20px;
	float        : left;
	display      : inline-block;
}

.admin_back_button {

	font-size      : 14px;
	margin-left    : 10%;
	margin-bottom  : 15px;
	padding        : 5px 5%;
	float          : left;
	background     : $deep_blue;
	cursor         : pointer;
	&:hover { 
		padding    : 5px 5% 5px 15%;
		margin-left: 0%;
	}
}

.admin_list_item {
	text-transform: uppercase;
	width   : 80%;
	padding : 10px 10%;
	float   : left;
	cursor: pointer;
	&:hover { 
		background: $deep_blue;
	}
}

.admin_content {
	background : $dark_blue;
	width      : 80%;
	display    : inline-block;
	float      : left;
	height     : 100%;
}

.admin_content_wrap {
	width: 80%;
	padding : 20px 10%;
	float: left;
}

.admin_content_menu {
	width: 100%;
	float: left;
	margin: 10px 0px;
}

.admin_content_menu_item {
	display      : inline-block;
	padding      : 10px 2.5%;
	cursor       : pointer;
	background   : $deep_blue;
	margin-right : 1%;
	// @include border-radius(5px);
	&:hover { 
		color      : $dark_blue;
		background : $light;
	}
}

.admin_inner_content { 
	float: left;
	width: 100%;
	overflow: auto
}

.admin_notification {
	background  : $green;
	color       : $light;
	margin      : 0 5%;
	padding     : 10px 5%;
	font-weight : bold;
	width: 80%;
	float: left;
}

.admin_input {
	width      : 80%;
	padding    : 10px 5%;
	margin     : 10px 5%;
	float      : left;
	background : $deep_blue;
	border     : none;
	color      : $light;
	font-family: monospace;
}

.admin_button { 
	margin-left : 5%;
	margin-top  : 10px;
	background  : $deep_blue;
	font-weight : bold;
	padding     : 10px 5%;
	float       : left;
	color       : $dark_blue;
	cursor: pointer;
	&:hover {
		color : $light;
		background : $green;
	}
}

.admin_open  {
	width      : 0.5%;
	height     : 100%;
	left       : 99.5%;
	z-index    : 5;
	position   : absolute;
	float      : left;
	display    : block;
}