.button_text_for_user { 
	margin: 21px 15px;
	float: right;
	color: $dark_blue;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
}

.button_for_user { 

	@include circle($input_bar_size);
	cursor: pointer;
	margin: $input_margin_size ($bar_height - 10px) 0px 0px;
	background: $dark_blue;
	float: right;
	@include transition;
	&:hover { 
		background: $hover_dark_blue;
	}
	&:active {
		background: $click_dark_blue;
	}
}

.with-icon-user { 

	&:before { 		
		position: relative;
		top: 7px;
		left: 9px;
		font-size: 18px; 
		content: "U";
		color: $light;
	}
}

.with-icon-user-arrow { 

	&:before { 
		position: relative;
		top: 23px;
		left: -2px;		
		font-size: 7px;
		color: $middle_gray;  
		content:"d";
	}
}