@include global-reset;
@include font-import;
a { 

	text-decoration: none;
}

body { 
	font-family: Tahoma;
	background: $light_gray; 
}

.wrap {
	
	width: 100%;
	float: left;
	min-height: 620px;
	@include pie-clearfix;
}

.recyclabook_footer {
	
	padding: 10px 0;
	float: left;
	width: 100%;
	text-align: center;
	background: $light_blue;
	color: $light;
	font-size: 14px;   
}

.main_wrap { 
	width: 100%;
	float: left;
}

.main { 
	width: 100%;
	float: left;
}

.pages { 
	display: none;
	opacity: 0;
}

.load {
	position: fixed;
	padding: 10px;
	background: $light;
	opacity: 0.8;
	color: $light_blue;
	font-family: MotorOil;
	margin: 10px;
	font-size: 14px;
	line-height: 14px;
	@include border-radius(2px);
	@include box-shadow(-1px, 1px, 1px, 0px, rgba(125,125,125,0.1));
	z-index: 100;
	display: none;
	opacity: 0;
}