.checkout { 
	
    width: $the_width;
    margin: 0 auto;
	background: $light_gray; 
}

.checkout_wrap {
	
	float: left;
	position: relative;
}

.confirmation_overview {
	
	width: 100%;
	float: left;
	margin-top: 30px; 
} 

@import "checkout.basket"; 
@import "checkout.address";
@import "checkout.how_would_you_like";