@font-face {
    font-family: 'MotorOil';
    src: url('#{$url}/outer/css/include/font/MotorOil.ttf');
}

@font-face {
    font-family: 'HandWritten';
    src: url('#{$url}/outer/css/include/font/handwritten.ttf');
}

@font-face {
    font-family: 'Vieira';
    src: url('#{$url}/outer/css/include/font/vieira.ttf');
}