@font-face {
    font-family: 'MotorOil';
    src: url('#{$url}/Framework/CSS/Includes/fonts/MotorOil.ttf');
}

@font-face {
    font-family: 'HandWritten';
    src: url('#{$url}/Framework/CSS/Includes/fonts/handwritten.ttf');
}

@font-face {
    font-family: 'Vieira';
    src: url('#{$url}/Framework/CSS/Includes/fonts/vieira.ttf');
}