.footer {
	width: 100%;
	float: left;
	border-top: 1px solid $middle_monochrome;
	padding: 20px 0;
	background: $light_monochrome;
}

.footer_wrap {
	width: $the_width;
	margin: 0 auto;
}

.footer_navigation {
	width: 75%;
	float: left;
	display: inline-block;
}

.footer_text {
	color: $black_gray;
	cursor: pointer;
	font-size: 15px;
	line-height: 15px;
	margin: 0 10px;
	display: inline;
	&:hover { 
		text-decoration: underline;
	}
}

.footer_logos {
	width: 25%;
	float: right;
	display: inline-block;
}

.footer_logo {
	margin-right: 5px;
	width: 100%;
	height: auto;
}