.header_invisible_box {
	
	display: inline-block;
	float: left;
	width: 25.5%;
	margin: $header_text_boxes_top_margin 0 0 0;
}

.header_invisible_box_image_title { 
	width: 90%;
	height: auto;
	float: left;
	padding-right: 10%;
	padding-bottom: 10px;
	border-bottom: 1px solid $light;
}

.header_invisible_box_title_wrap {
	
	width: 100%;
	float: left;
	border-bottom: 1px solid $light;
}

.header_invisible_box_title_logo {
	
	width: 50px;
	height: 50px;
	background: $green; 
	display: inline-block;
	float: left;
}

.with-icon-invisible-title-logo {

	&:before {
		position: relative;
		top: 6px;
		left: 12px;
		font-size: 35px;
		color: $light; 
		content:"R";
	}
}

.header_invisible_box_title {
	
	float: left;
	width: 180px;
	display: inline;
	font-family: MotorOil;
	font-size: 22px;
	margin: 5px 0 0 10px;
	color: $dark_blue;
	text-transform: uppercase;   
	letter-spacing: 1px;
}

.header_invisible_box_title_one_and_two_wrap {
	
	display: inline-block;
	float: left;
	width: 100px;
	color: $light; 
}

.header_invisible_box_title_one {
	
	position: relative;
	top: -3px;
	font-size: 22px;
	line-height: 22px;  
}

.header_invisible_box_title_two {

	position: relative;
	top: -8px;
	float: left;
	font-size: 34px;
	line-height: 34px;  
}

.header_invisible_box_title_three { 
	
	font-size: 14px;
	line-height: 14px; 
	display: inline-block;
	float: left;
	margin-top: 12px;  
	margin-left: -10px; 
	@include rotate(90);
}

.header_invisible_box_text_wrap {
	
	clear: both;
	float: left;
	margin-top: 15px;
	color: $dark_blue; 
}

.header_invisible_box_text_title {

	font-family: MotorOil;
	font-size: 18px;
	margin-right: 5px;
	text-transform: uppercase;  
}

.header_invisible_box_text {
	
	font-size: 14px; 
	line-height: 18px;
	text-align: justify; 
	margin: 5px 5px 0 0;
	width: 95%;
}

.header_invisible_box_arrow_text {

	font-family: HandWritten;
	color: $light;
	position: relative;
	left: 100px;
	top: -12px;
	margin-bottom: -20px;
	@include rotate(-5); 
}

.with-icon-down-arrow {
	
	clear: both;
	float: right;
	margin-right: 20px;
	@include rotate(-25);
	
	&:before { 
		
		position: relative;
		top: 0px;
		font-size: 60px;
		color: $light; 
		content:"-";
	}
}