.homepage_how_it_works_box_image {
		
	float: right;
	display: inline-block;
	width: 47%;
	height: auto;
	position: relative;
}

.homepage_how_it_works_box_first_image {
	@extend .homepage_how_it_works_box_image;
	top: -10px;
}

.homepage_how_it_works_box_second_image {
	@extend .homepage_how_it_works_box_image;
	top: -7px;
}

.homepage_how_it_works_box_third_image {
	@extend .homepage_how_it_works_box_image;
	top: -24px;
}

.homepage_arrows_warp { 
	display: inline-block;
	float:right;
	position: relative;
	z-index: 2;
	margin-right: -45px;
	top: - $how_it_works_box_height;
	width: 50px;
}

.with-icon-homepage-how-it-works-box-right-arrow {

	float: left;
	display: inline-block;
	position: relative;
	left: -14px;
	z-index: 0;
	
	&:before { 
		color: $light; 
		position: relative;
		font-size: $how_it_works_box_height; 
		content:")";
	}
}

.with-icon-homepage-how-it-works-box-left-arrow {
	
	float: left;
	display: inline-block;
	position: relative;
	background: $light_blue;
	width: 13px;
	left: -19px;
	z-index: 1;
	
	&:before { 
		color: $light;
		font-size: $how_it_works_box_height; 
		position: relative;
		top: -2px;
		left: -1px;
		content:"}";
	}
}
.with-icon-homepage-how-it-works-box-left-blue-arrow {
	@extend .with-icon-homepage-how-it-works-box-left-arrow;
	background: transparent;
	width: 12px;
	left: 0px;
	z-index:2;
	&:before { 
		color: $light_blue;
	}
}