.homepage_alies_bar {

	width: 100%;
	float: left;
	padding: 20px 0 5px;
	border-top: 1px solid $middle_gray;
	height: 50px;
	text-align: center;
}

.homepage_ally_bar_image {

	opacity: 0.5;
	height: 40px;
	width: auto; 
}