.homepage_how_it_works_boxes_buttons_wrap { 
	
	width: 100%;
	float: left;
}

.homepage_how_it_works_box_button_wrap { 
	width: 31.33%;
	display: inline-block;
	float: left;
	margin: 0 1%;
}

.homepage_how_it_works_box_first_button_wrap {
	@extend .homepage_how_it_works_box_button_wrap;
}

.homepage_how_it_works_box_second_button_wrap { 
	@extend .homepage_how_it_works_box_button_wrap;
}

.homepage_how_it_works_box_third_button_wrap { 
	@extend .homepage_how_it_works_box_button_wrap;
}

.homepage_how_it_works_box_button {
	
	width: 96%;
	font-family: MotorOil;
	color: $light;
	text-transform: uppercase;  
	padding: 10px 2%;
	font-size: 12px; 
	float: left;
	text-align: center;
	background: $green;
	margin: 10px 0;
	@include border-radius(25px);
	cursor: pointer;
}

.homepage_how_it_works_last_box_button { 
	@extend .homepage_how_it_works_box_button;
	// width: 290px;
}

.with-icon-down-arrow-for-how-it-works-button { 
	
	margin-right: 5px;
	float:right;
	cursor:pointer;
	&:before { 
		font-size: 10px;
		text-transform: lowercase;
		content:"d";
	}
}

.homepage_how_it_works_box_button_expanded {
	position: relative;
	width: 100%;
	float: left;
	z-index: 3;
	overflow: hidden;
	background:$light;
	display: none;
	@include box-shadow(1px, 1px, 3px, 0px, rgba(0,0,0, 0.2));
} 

.homepage_how_it_works_box_button_expanded_image {
	width: 100%;
	height: auto;
	float:left;
} 

.homepage_how_it_works_box_button_expanded_text {
	float: left;
	padding: 20px;
	font-size: 14px;
	line-height: 20px;
	color: $darkest_gray;
	strong {
		font-weight: bold;
	}
} 

.homepage_how_it_works_box_button_expanded_text_highlight { 
	font-size: 18px;
	line-height: 20px;
	color: $black_gray;
	font-weight: bold;
	width: 100%;
	text-align: center;
}