.homepage_how_it_works_title {
	
	font-family: MotorOil;
	font-size: 16px;
	line-height: 22px;
	border-bottom: 1px solid $middle_gray;
	text-transform: uppercase;
	text-align: center;
	color: $darkest_gray; 
	padding: 20px 0;
	margin: 10px 0 20px;  
}