.homepage_how_it_works_boxes_wrap {
	
	width: 100%;
	float: left;
	height: $how_it_works_box_height;
	overflow: hidden;
}

.homepage_how_it_works_box_wrap_first {
	float: left;
	display: inline-block;
	width: 33.33%;
}

.homepage_how_it_works_box_wrap_second {
	@extend .homepage_how_it_works_box_wrap_first;
}

.homepage_how_it_works_box_wrap_last {
	@extend .homepage_how_it_works_box_wrap_first;
}

.homepage_how_it_works_boxes_numbers_wrap { 
	width: 100%;
	position: relative;
	float: left;
	z-index: 4;
	margin-bottom: -30px;
}

.with-icon-homepage-how-it-works-box-number-one {
	float: left;
	display: inline-block;
	position: relative;
	left: 4px;
	&:before { 
		position: relative;
		font-size: 30px; 
		color: $light; 
		content: "[";
	}
}

.with-icon-homepage-how-it-works-box-number-two {	
	@extend .with-icon-homepage-how-it-works-box-number-one;
	left: 294px;
	&:before {  
		content: "{";		
		top: 2px;
		left: 1px;
		font-size: 27px;
	}
}

.with-icon-homepage-how-it-works-box-number-three {	
	@extend .with-icon-homepage-how-it-works-box-number-one;
	left: 584px;
	&:before {  
		content: "(";
		left: -1px;
		top: 2px;
		// left: -3px;
	}
}

.homepage_how_it_works_box {
	
	background: $light_blue; 
	display: inline-block;
	float: left; 
	width: 100%;
	height: $how_it_works_box_height - $how_it_works_box_top_padding;
	padding: $how_it_works_box_top_padding 0 0;
	z-index: 1;
	position: relative;
}

.homepage_how_it_works_box_first {
	@extend .homepage_how_it_works_box;
	@include border-radius(5px 0px 0px 5px);
}

.homepage_how_it_works_box_second{
	@extend .homepage_how_it_works_box;
}

.homepage_how_it_works_box_last { 
	@extend .homepage_how_it_works_box;
	@include border-radius(0px 5px 5px 0px);
}	

.homepage_how_it_works_box_text_wrap {
	
	position: relative; 
	float: left;
	display: inline-block;
	color: $dark_blue;
	width: 45%;
	left: 8%;
}

.homepage_how_it_works_box_title {

	font-family: MotorOil; 
	text-transform: uppercase;
	font-size: 16px;  
}

.homepage_how_it_works_text {
	
	font-size: 12px; 
	margin-top: 10px;	
	line-height: 15px;   
}