.popup_forgotten {
	width: 100%;
	display: none;
	float: left;
	color: $black_gray;
}

.popup_forgotten_title {
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	float: left;
	width: 100%;
	margin-bottom: 5px;
}

.popup_forgotten_description {
	font-size: 14px;
	line-height: 14px;
	padding: 10px 0;
	width: 100%;
	float: left;
	border-bottom: 1px solid $middle_monochrome;
}

.popup_forgotten_input {
	@extend.profile_hub_account_main_details_large_input;
	margin: 20px 0;
	text-align: center;
}

.popup_forgotten_send {
	@extend.profile_hub_account_extra_buttons_small_button;
	width  : 25%;
	padding: 5px 2.5%;
	margin : 0 35%;
}