.popup_media {
	@extend.popup_forgotten;	
}

.popup_media_bubble {
	width: 40%;
	float: left;
	margin: 0 28% 0 32%;
	margin-bottom: 10px;
}

.popup_media_logos {
	width: 100%;
	height: auto;
}

.popup_media_email {
	width: 100%;
	margin: 10px 0 5px;
	text-align: center;
	color: $black_gray;
	font-size: 18px;
	line-height: 18px;
}
