.popup_contact {
	@extend.popup_forgotten;
}

.popup_contact_image {
	margin-top: 20px;
	width: 100%;
	float: left;
	height: auto;
}

.popup_contact_text {
	position: absolute;
	font-size: 14px;
	line-height: 14px;
	float: left;
	width: 70%;
	margin-left: 120px;
	margin-top: 110px;
}

.popup_contact_text_left {
	width: 39.5%;
	float: left;
	display: inline-block;
	padding-left: 5%;
}

.popup_contact_text_left_text {
	clear: both;
	width: 100%;
	float: left;
	margin-bottom: 10px;
}

.popup_contact_text_right {
	@extend.popup_contact_text_left;
	border-left: 1px solid $middle_monochrome;
}

.popup_contact_text_right_text {
	@extend.popup_contact_text_left_text;
}