.profile_hub_donate {
	@extend.profile_hub_withdraw;	
}

.profile_hub_donate_logo_wrap {
	@extend.profile_hub_withdraw_logo_wrap;
}

.profile_hub_donate_logo {
	@extend.profile_hub_withdraw_logo;
}

.profile_hub_donate_description {
	@extend.profile_hub_withdraw_description;
}

.profile_hub_donate_body {
	@extend.profile_hub_withdraw_body;
}

.profile_hub_donate_line {
	@extend.profile_hub_withdraw_line;
	margin-top: 10px;
	margin-bottom: 15px;
}

.profile_hub_donate_line_description {
	@extend.profile_hub_withdraw_line_description;
}

.profile_hub_donate_line_text_wrap {
	@extend.profile_hub_withdraw_line_text_wrap;
}

.profile_hub_donate_line_select {
	@include border-radius(5px);
	border: 1px solid $middle_monochrome;
	clear:none;
	padding: 5px 2%;
	color: $black_gray;
	background: $light_monochrome;
	text-align: center;
	margin-top: -5px;
	&:hover, &:focus { 
		border: 1px solid $middle_monochrome;
	}
}

.profile_hub_donate_mesure {
	@extend.profile_hub_withdraw_mesure;
}

.profile_hub_donate_mesure_text {
	@extend.profile_hub_withdraw_mesure_text;
}

.profile_hub_donate_mesure_ammount {
	@extend.profile_hub_withdraw_mesure_ammount;
}

.profile_hub_donate_mesure_seperate {
	@extend.profile_hub_withdraw_mesure_seperate;
}

.profile_hub_donate_mesure_incrimentor {
	@extend.profile_hub_withdraw_mesure_incrimentor;
}

.profile_hub_donate_mesure_incrimentor_up {
	@extend.profile_hub_withdraw_mesure_incrimentor_up;
}

.profile_hub_donate_mesure_incrimentor_down {
	@extend.profile_hub_withdraw_mesure_incrimentor_down;
}

.profile_hub_donate_save {
	@extend.profile_hub_withdraw_and_send;
}

.profile_hub_donate_cancel {
	@extend.profile_hub_withdraw_cancel;
}
