.profile_hub_withdraw {
	display: none;
	@include border-radius(3px);
	float: left;
	width: 42%;
	margin: 20px 28%;
	background: $light;
	padding: 20px 2%;
	position: relative;
	top: 800px;
	@include box-shadow(-1px, 1px, 5px, 0px,rgba(0,0,0, 0.2));
}

.profile_hub_withdraw_logo_wrap {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}

.profile_hub_withdraw_logo {
	height: 54px;
	width: auto;
	float: left;
	display: inline;
}

.profile_hub_withdraw_description {
	font-size: 14px;
	line-height: 14px;
	color: $middle_monochrome;
	float: right;
	position: relative;
	top: 40px;
}

.profile_hub_withdraw_body {
	width: 100%;
	float: left;
	border-top: 1px solid $light_monochrome;
	padding: 10px 0 0;
}

.profile_hub_withdraw_line {
	font-size: 13px;
	line-height: 13px;
	color: $black_gray;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.profile_hub_withdraw_line_description {
	display: inline;
	float: left;
	width: 35%;
	padding-right: 2%;
	text-align: right;
}

.profile_hub_withdraw_line_text_wrap {
	display: inline;
	float: left;
	width: 28%;
	padding-right: 2%;
}

.profile_hub_withdraw_line_text {
	@include reset-input;
	font-size: 13px;
	font-size: 13px;
	width: 100%;
	color: $black_gray;
	display: inline;
	float: left;
	clear: both;
}

.profile_hub_withdraw_line_edit {
	@include border-radius(50px);
	cursor: pointer;
	position: relative;
	top: -3px;
	background: $light_monochrome;
	display: inline;
	float: left;
	padding: 5px 18px 8px;
}

.profile_hub_withdraw_mesure {
	@extend.profile_hub_withdraw_line;
	margin-top: 10px;
	margin-bottom: 20px;
}

.profile_hub_withdraw_mesure_text {
	@extend.profile_hub_withdraw_line_description;
}

.profile_hub_withdraw_mesure_ammount {
	@extend.profile_hub_withdraw_line_text;
	@include border-radius(5px);
	border: 1px solid $middle_monochrome;
	clear:none;
	width: 5%;
	padding: 5px 2%;
	background: $light_monochrome;
	text-align: center;
	margin-top: -5px;
	&:hover, &:focus { 
		border: 1px solid $middle_monochrome;
	}
}

.profile_hub_withdraw_mesure_seperate {
	display: inline;
	float: left;
	height: 29px;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: -5px;
	&:before { 
		position: relative;
		top: 12px;
		content:".";
	}
}

.profile_hub_withdraw_mesure_incrimentor {
	display: inline;
	float: left;
	margin-top: -10px;
}

.profile_hub_withdraw_mesure_incrimentor_up {
	background: $green;
	color: $light;
	padding: 1px 5px;
	margin-left: 10px;
	margin-bottom: 4px;
	text-align: center;
	cursor: pointer;
	@include border-radius(15px 15px 0 0);
	@include transition;
	&:hover { 
		@include transition;
		background: darken($green, 7%);
	}
	&:before {
		content:"+";
	}
}

.profile_hub_withdraw_mesure_incrimentor_down {
	@extend.profile_hub_withdraw_mesure_incrimentor_up;
	margin-bottom: 0px;
	@include border-radius(0 0 15px 15px);
	&:before {
		content:"-";
	}
}

.profile_hub_withdraw_cancel {
	@extend.profile_hub_account_extra_buttons_small_button;
	float: right !important;
	margin-right: 2%;
}

.profile_hub_withdraw_and_send {
	@extend.profile_hub_account_extra_buttons_small_button;	
	float: right !important; 
}
