.progress_icons_for_bar_wrap {
	
	float: left;
	// display: none;
}

.progress_icon_for_bar { 

	height: $bar_height;
	width: $bar_height + 18px;
	float: left;
	padding: 0 0 0 13px;
	background: transparent;	
}

.progress_icon_for_bar_done { 
	
	@extend .progress_icon_for_bar;
	background: $dark_gray; 
}

.progress_icon_circle { 
	
	$circle_diamater: $bar_height / 2.1;
	$circle_margin: ( $bar_height - $circle_diamater ) /2;
	
	@include circle( $circle_diamater );
	margin: ( $circle_margin - 5px )0 0 $circle_margin;
	background: $even_darker_gray; 
	position: absolute;
}

.progress_icon_circle_done { 
	
	@extend .progress_icon_circle;
	background: $green;
}

.progress_icon_circle_doing { 
	
	@extend .progress_icon_circle;
	background: $light_blue;
}

.progress_icon_for_bar_text { 
	
	$progress_icon_text_size: 10px;
	
	width: 100%;
	text-align: center;
	position: relative;
	font-size: $progress_icon_text_size;
	line-height: $progress_icon_text_size;
	text-transform: uppercase;	
	font-family: MotorOil;
	color: $black_gray;
	top: $bar_height - ( $progress_icon_text_size * 2);
}

.with-icon-welcome-progress-bar { 
	
	&:before { 
		position: relative;
		top: 5px;
		left: 6px;
		content:"h";
		color: $black_gray;
	}
}

.with-icon-welcome-progress-bar-done { 

	@extend .with-icon-welcome-progress-bar;
	color: $light;
}

.with-icon-account-progress-bar { 
	
	@extend .with-icon-welcome-progress-bar;
	&:before { 
		left: 7px;		
		content:"\"";
	}	
}

.with-icon-account-progress-bar-done { 
	
	@extend .with-icon-account-progress-bar;
	color: $light;
}

.with-icon-confirm-progress-bar {
	
	@extend .with-icon-welcome-progress-bar;
	&:before { 
		content:"c";
	}	
}

.with-icon-confirm-progress-bar-done {
	@extend .with-icon-confirm-progress-bar;
	color: $light;
}

.with-icon-thank-you-progress-bar { 
	
	@extend .with-icon-welcome-progress-bar;
	&:before { 
		left: 5px;
		font-size: 14px;
		content:"b";
	}	
}

.with-icon-thank-you-progress-bar-done {
	@extend .with-icon-thank-you-progress-bar;
	color: $light;
}

.with-icon-back-progress-bar { 
	
	@extend .with-icon-welcome-progress-bar;
	cursor: pointer;
	&:before { 
		left: 5px;
		font-size: 14px;
		content:"7";
	}	
}

.with-icon-thank-you-progress-bar-done {

	@extend .with-icon-back-progress-bar;
	color: $light; 
}