.recyclabus_title {
	
	width: 100%;
	float: left;
	font-family: MotorOil;
	text-transform: uppercase;
	font-size: 35px; 
	color: $dark_blue; 
}

.recyclabus_title_highlight {

	color: $light_blue; 
}


.recyclabus_title_description {
	
	width: 93%;
	float: left;
	margin: 5px 0 20px 3.5%;
	color: $dark_blue;
	font-size: 14px;  
}

.recyclabus_description_box {
	
	width: 93%;
	padding: 15px 3.5% 20px;
	float: left;
	background: $light_blue;
	color: $dark_blue;  
}

.recyclabus_description_box_title {
	
 	font-weight: bold; 
	font-size: 17px;
	width: 100%;
	float: left;
	margin: 0 0 20px; 
}

.recyclabus_description_box_paragraph {

	font-size: 14px;
	line-height: 20px;
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 20px;  
}

.recyclabus_description_box_white_paragraph {

	@extend .recyclabus_description_box_paragraph;
	color: $light;
	margin: 0; 	
}