.recyclabus_dates_input_wrap {

	width: 100%;
	float: left;
}

.recyclabus_dates_first_input {
	
	@include reset-input;
	@include border-radius(25px);
	background: $dark_gray;
	width: 95%;
	padding: 10px 2.5%;
	margin: 20px 0 0; 
	@include box-shadow(-1px, 1px, 1px, 0px, rgba(0,0,0, 0.2), inset);
	color: $darkest_gray;
	
	&:focus { 
		background: $light;
		@include box-shadow(-2px, 2px, 1px, 0px, rgba(0,0,0, 0.3), inset);
	}
}

.recyclabus_dates_seach_input {
	
	@extend .recyclabus_dates_first_input;
	margin-top: 10px;
}

.recyclabus_dates_input_text {
	
	width: 100%;
	float: left;
	color: $dark_blue;
	font-size: 12px;
	line-height: 18px;
	text-align: center;   
	margin: 15px 0 0;
}

.with-icon-lock-for-strong { 

	font-weight: bold;
	&:before {

		margin-right: 5px; 
		content:".";
	}
}