.scan_wrap {
	width: 100%;
	float: left;
}

.scan_tier { 
	width: 100%;
	float: left;
	margin-bottom: 20px; 
}

.scan_box { 
	width   : 50%;
	float   : left;
	display: inline-block;
}

.scan_user {
	width   : 90%;
	padding : 20px 5%;
	float   : left;
	display : inline-block;
}

.scan_user_title {
	font-weight   : bold;
	color         : darken($dark_blue, 20%);
	margin-bottom : 10px;
	float: left;
	width: 100%;
}

.scan_user_description {
	float: left;
	width: 100%;
}

.scan_user_input {
	background  : $light;
	font-family : monospace;
	color       : darken($dark_blue, 20%);
	font-weight : bold;
	width       : 65%;
	padding     : 10px 2.5%;
	margin      : 10px 0 0 0;
	border      : none;
	display: inline-block;
	float: left;
}

.scan_user_button { 
	width          : 23.5%;
	padding        : 10px 2.5%;
	margin-left    : 1.5%;
	margin-top     : 10px;
	text-transform : uppercase;
	background     : darken($dark_blue, 20%);
	color          : $dark_blue;
	display        : inline-block;
	font-weight    : bold;
	float          : left;
	cursor         : pointer;
	&:hover { 
		color : $light;
	}
}

.scan_information {
	width: 90%;
	float: left;
	padding : 20px 5%;
}

.scan_information_title {
	@extend.scan_user_title;
}

.scan_information_field {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}

.scan_information_field_title {
	width: 45%;
	margin-right: 5%;
	display: inline-block;
	float: left;
	color: darken($dark_blue, 20%);
}

.scan_information_field_text {
	width: 50%;
	display: inline-block;	
	float: left;
}

.scan_notification_box {
	width: 90%;
	padding : 20px 5%;
	float: left;
}

.scan_green_notification {
	background : darken($green, 30%);
	color      : darken($dark_blue, 20%);
	font-weight: bold;
	width      : 80%;
	padding    : 20px 10%;
	@include border-radius(2px);
}

.scan_red_notification {
	@extend.scan_green_notification;
	background : $red;
	color : $light;
}

.book_title { 
	@extend.scan_information_field_title;
	color: $light;
	font-weight: bold;
}

.book_status_recieved { 
	@extend.scan_information_field_text;
	color: darken($green, 10%);

}

.book_status_waiting { 
	@extend.scan_information_field_text;
	color: darken($dark_blue, 20%);
}