.scan_wrap {
	width: 100%;
	float: left;
}

.scan_tier { 
	width: 100%;
	float: left;
	margin-bottom: 20px; 
}

.scan_box { 
	width   : 50%;
	float   : left;
	display: inline-block;
}

.scan_user {
	width   : 90%;
	padding : 20px 5%;
	float   : left;
	display : inline-block;
}

.scan_user_title {
	font-weight   : bold;
	color         : $deep_blue;
	margin-bottom : 10px;
	float: left;
	width: 100%;
}

.scan_user_description {
	float: left;
	width: 100%;
}

.scan_user_input {
	background  : $light;
	font-family : monospace;
	color       : $deep_blue;
	font-weight : bold;
	width       : 65%;
	padding     : 10px 2.5%;
	margin      : 10px 0 0 0;
	border      : none;
	display: inline-block;
	float: left;
}

.scan_user_button { 
	width          : 23.5%;
	padding        : 10px 2.5%;
	margin-left    : 1.5%;
	margin-top     : 10px;
	text-transform : uppercase;
	background     : $deep_blue;
	color          : $dark_blue;
	display        : inline-block;
	font-weight    : bold;
	float          : left;
	cursor         : pointer;
	&:hover { 
		color : $light;
	}
}

.scan_information {
	width: 90%;
	float: left;
	padding : 20px 5%;
}

.scan_information_title {
	@extend.scan_user_title;
}

.scan_information_field {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}

.scan_information_field_title {
	width: 45%;
	margin-right: 5%;
	display: inline-block;
	float: left;
	color: $deep_blue;
}

.scan_information_field_text {
	width: 50%;
	display: inline-block;	
	float: left;
}

.scan_notification_box {
	width: 90%;
	padding : 20px 5%;
	float: left;
	// max-height: 320px;
	// overflow : auto;
}

.scan_green_notification {
	background : darken($green, 30%);
	color      : $deep_blue;
	font-weight: bold;
	width      : 80%;
	padding    : 20px 10%;
	@include border-radius(2px);
}

.scan_red_notification {
	@extend.scan_green_notification;
	background : $red;
	color : $light;
}

.book_title { 
	@extend.scan_information_field_title;
	color: $light;
	font-weight: bold;
}

.book_status_recieved { 
	@extend.scan_information_field_text;
	color: darken($green, 10%);

}

.book_status_waiting { 
	@extend.scan_information_field_text;
	color: $deep_blue;
}

.scan_user_list {
	width   : 90%;
	padding : 20px 5%;	
	float   : left;
}

.scan_user_list_item {
	width         : 80%;
	padding       : 20px 10%;
	float         : left;
	background    : darken($light, 20%);
	border-bottom : 4px solid $deep_blue;
	cursor        : pointer;
	&:hover {
		background    : darken($light, 15%);
	}
}

.scan_user_list_item_title {
	font-weight : bold;
	color       : $deep_blue;
}

.scan_user_list_button {
	margin-top  : 10px;
	float       : left;
	display     : inline-block;
	color : $light;
	margin-left: 5%;
	text-transform: uppercase;
	cursor: pointer;
	&:hover { 
		color : $deep_blue;
	}
	// padding       : 20px 10%;
	// background  : darken($light, 20%);	
	// color       : $deep_blue;
	// border      : 4px solid $deep_blue;
	// border-top: none;
	// margin-right: 2.5%;
}

.scan_paid_book { 
	margin-bottom: 10px;
	float: left;
	width: 100%;
	height: 100px;
}

.scan_paid_book_field { 
	color: $deep_blue;
	font-weight: bold;
	padding: 10px 5%;
	margin-right: 5%;
	float: left;
	display: inline-block;
	width: 30%;
}

.scan_paid_book_dropdown { 
	float: left;
	display: inline-block;
	width: 22.5%;
	margin-right: 5%;
}

.scan_paid_book_dropdown_text { 
	cursor: pointer;
	width: 65%;
	padding: 10px 17.5%;
}

.scan_paid_book_dropdown_box { 
	width: 100px;
	padding: 5px;
	background: $deep_blue;
	position: relative;


	@include border-radius(2px);
}

.scan_paid_book_dropdown_item { 
	width: 70%;
	padding : 10px 15%;
	cursor: pointer;
	&:hover { 
		background: $dark_blue;
	}
}

.scan_paid_book_input { 
	display     : inline-block;
	float       : left;
	background  : $deep_blue;
	padding     : 10px 5%;
	font-family : monospace;
	color       : $light;
	border      : none;
	width       : 90%;
}

.scan_paid_book_input_button { 
	color        : $light;
	background   : $dark_blue;
	padding      : 5px 5%;
	width        : 35%;
	float        : left;
	display      : inline-block;
	margin-top   : 10px;
	margin-right : 5%;
	font-weight  : normal;
	text-align   : center;
	@include border-radius(3px);
	cursor: pointer;
}

.scan_pay_field_title {

	color       : $deep_blue;
	width       : 90%;
	padding     : 0 5%;
	float       : left;
	font-weight : bold;
	margin-bottom: 10px;
}

.scan_pay_field {
	cursor: pointer;
	float: left;
	width       : 90%;
	padding     : 0 5%;
}
