.stock_log {
	width   : 50%;
	height  : 100%;
	padding : 40px 24%;
	position: absolute;
	top     : 0;
	z-index : 5;
	background: $light_monochrome;
}

.stock_log_user {
	@extend.bus_control_input;
	margin-top: 0px;
}

.stock_log_password {
	@extend.stock_log_user;
}

.stock_log_notification {
	font-size: 14px;
	line-height: 14px;
	width: 100%;
	margin-bottom: 20px;
	margin-left: 10px;
	float: left;
}

.stock_log_submit {
	float  : left;
	display: inline-block;
	margin : 8px 0 0 15px;
	cursor : pointer;
	&:hover { 
		text-decoration: underline;
	}
}
