.stock_notifications {
	position: absolute;
	z-index: 1;
	width: 190px;
	font-size: 12px;
	line-height: 14px;
	margin-left: 2%;
}

.stock_notification {
	cursor: pointer;
	width: 170px;
	padding: 10px;
	float: left;
	color: $black_gray;
	border-top: 1px solid $black_gray;
	text-align: center;

	.stock_notification_link { 
		color       : inherit;
		font-weight : bold;
		&:hover { 
			text-decoration: underline;
		}
	}
}
