.table_wrap { 
	width: 100%;
	float: left;
	overflow: hidden;
}

.table_boxes { 

}

.table_names  {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}

.table_name {
	float       : left;
	display     : inline-block;
	padding     : 10px;
	margin-right: 10px;
}

.table_row { 
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.table_box { 
	float        : left;
	display      : inline-block;
	padding      : 10px;
	margin-right : 10px;
}

.table_box_textarea_wrap { 
	position    : relative;
	float       : left;
	margin-top  : 10px;
	background  : darken($dark_blue, 20%);
	color       : $light;
	font-family : Tahoma;
	font-size   : 16px;
	line-height : 18px;
}

.table_box_textarea { 
	border      : none;
	padding     : 0px;
	margin      : 0px;
	background  : transparent;
	width       : 90%;
	padding     : 5px 5%;
	color       : inherit;
	font        : inherit;
	float       : left;
	display     : block;
}

.table_box_textarea_button { 
	display    : inline-block;
	float      : left;
	width      : 30%;
	padding    : 5px 5%;
	margin     : 5px 5%;
	background : $dark_blue;
	@include border-radius(2px);
	text-align : center;
}

.table_box_dropdown { 
	margin-top : 10px;
	width      : 100px;
	background : darken($dark_blue, 20%);
	padding    : 5px;
	@include border-radius(2px);
	position: relative;
}

.table_box_dropdown_option { 
	padding    : 10px;
	cursor: pointer;
	&:hover { 
		background : $dark_blue;
	}
}