.field_box_title_wrap { 
	
	display: block;
	float: left;
	width: 100%;
	padding-bottom: 8px; 	
	border-bottom: 1px solid $middle_gray;
}

.with-icon-leaf-one { 

	display: inline-block;
	float: left;
	margin: 0 12px 0 0;
	
	&:before { 

		content:"1";
		font-size: 30px; 
		color: $green;
	}
}

.with-icon-leaf-two { 

	@extend .with-icon-leaf-one;
	
	&:before { 

		content:"2";
	}
}

.with-icon-leaf-three { 

	@extend .with-icon-leaf-one;
	
	&:before { 

		content:"3";
	}
}

.field_box_title { 
	
	font-family: MotorOil;
	display: inline-block;
	float: left;
	text-transform: uppercase;
	color: $black_gray; 
	margin: 9px 0 0;
}

.field_box_title_highlight { 

	font-size: 13px;
	font-family: Tahoma;  
	text-transform: lowercase; 
}